
USE [Data_Science]
GO

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*																								*/
/* PROGRAMADOR: KAIKE NATAN									                                    */
/* VERSAO     : DATA: 17/08/2022																*/
/* DESCRICAO  : RESPONSÁVEL POR ATUALIZAR O HORA HORA DA CAEDU									*/
/*																								*/
/*	ALTERACAO                                                                                   */
/*        2. PROGRAMADOR: KAIKE NATAN										 DATA: 30/08/2022	*/		
/*           DESCRICAO:	ALTERAÇÂO DA FAIXA DE ATRASO E FILTRO PARA SEPARAR ACORDO DE PROMESSA	*/
/*	ALTERACAO                                                                                   */
/*        3. PROGRAMADOR: KAIKE NATAN										 DATA: 31/08/2022	*/		
/*           DESCRICAO:	REESTRUTURAÇÂO COMPLETA PARA VISÂO COM E SEM BOLETAGEM					*/
/*	ALTERACAO                                                                                   */
/*        4. PROGRAMADOR: KAIKE NATAN 										 DATA: 27/10/2022	*/		
/*           DESCRICAO:	AJUSTE DO NOVO DEPARA DE ACORDO CONSIDERADO INTERNAMENTE				*/
/*	ALTERACAO                                                                                   */
/*        5. PROGRAMADOR: 													 DATA: __/__/____	*/		
/*           DESCRICAO:															  				*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
	--ALTER PROCEDURE [dbo].[PRC_HORA_HORA_CAEDU] AS
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* DESCRICAO: VARIAVÉIS DE CONTROLE DO CÓDIGO												    */
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
--BEGIN;
--SET NOCOUNT ON;
	DECLARE @D1 VARCHAR(50)				=	CONCAT(CONVERT(DATE,GETDATE()-1), ' 00:00:01.000')
	DECLARE @D2 VARCHAR(50)				=	CONCAT(CONVERT(DATE,GETDATE()-1), ' 23:59:59.997')
	DECLARE @IP VARCHAR(13)				=	'[10.251.1.36]'
	DECLARE @VAZIO VARCHAR(10)			=   ''
	DECLARE @TSQL NVARCHAR(4000) 
	DECLARE @DATA_CONTROLE DATE			=	CAST(@D1 AS DATE)
	DECLARE @ID_CARTEIRA VARCHAR(MAX)	=	'4'
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* DESCRICAO: ANALITICO DE PRODUÇÃO CRM	DA CAEDU												*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
DROP TABLE IF EXISTS ##ANALITICO_PRODUCAO_CAEDU
SELECT  @TSQL = 'SELECT * INTO ##ANALITICO_PRODUCAO_CAEDU FROM OPENQUERY('+@IP+',
''SELECT DISTINCT
	DTAND_AND
,	IDAND_AND
,	IDCON_AND
,	IDOCO_AND
,	DESCR_OCO
,	DTATR_CON
,	IDEMP_CON
,	VLSAL_CON
,	CONTR_CON
,	IDPES_PES  
,	USUAR_PES  
,	NOME_PES  
,	CGCPF_DEV 
,	DESCR_CAR 
,	IMAPS_OCO
FROM NECTAR.DBO.TB_ANDAMENTO  WITH( NOLOCK )	
JOIN NECTAR.DBO.TB_CONTRATO   WITH( NOLOCK ) ON IDCON_AND = IDCON_CON  
JOIN NECTAR.DBO.TB_DEVEDOR	  WITH( NOLOCK ) ON IDDEV_DEV = IDDEV_CON
JOIN NECTAR.DBO.TB_OCORRENCIA WITH( NOLOCK ) ON IDOCO_AND = IDOCO_OCO  
JOIN NECTAR.DBO.TB_PESSOAL	  WITH( NOLOCK ) ON IDPES_AND = IDPES_PES
JOIN NECTAR.DBO.TB_CARTEIRA	  WITH( NOLOCK ) ON IDCAR_CON = IDCAR_CAR
WHERE IDEMP_CON = '''''+@ID_CARTEIRA+'''''
AND IMAPS_OCO != '''''+@VAZIO+'''''
AND ORIGE_AND IN (0,1)
AND IDOCO_OCO NOT IN (67,2180)
AND DTAND_AND BETWEEN '''''+@D1+''''' AND ''''' +@D2+ '''''
'')'
EXEC SP_EXECUTESQL @TSQL
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* DESCRICAO: ANALITICO DE ACORDOS DA CAEDU														*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
DROP TABLE IF EXISTS ##ANALITICO_ACORDO_CAEDU
SELECT @TSQL =' SELECT * INTO ##ANALITICO_ACORDO_CAEDU FROM OPENQUERY('+@IP+',  
''SELECT DISTINCT
	DTVEN_PAG  
,	DTPAG_PAG  
,	VLVEN_PAG  
,	VLPAG_PAG  
,	PAGAM_PAG  
,	IDACO_ACO 
,	DTCAD_ACO
,	IDPES_ACO   
,	CONTR_CON
,	IDCON_ACO
,	DTATR_CON
,	VLSAL_CON   
,	IDEMP_CON   
,	USUAR_PES  
,	NOME_PES  
,	CGCPF_DEV 
,	DESCR_CAR
FROM NECTAR.DBO.TB_ACORDO		    WITH( NOLOCK )
INNER JOIN NECTAR.DBO.TB_CONTRATO	WITH( NOLOCK ) ON IDCON_CON = IDCON_ACO   
INNER JOIN NECTAR.DBO.TB_DEVEDOR	WITH( NOLOCK ) ON IDDEV_DEV = IDDEV_CON  
INNER JOIN NECTAR.DBO.TB_PAGAMENTO	WITH( NOLOCK ) ON IDACO_PAG = IDACO_ACO  
INNER JOIN NECTAR.DBO.TB_CARTEIRA	WITH( NOLOCK ) ON IDCAR_CON = IDCAR_CAR
INNER JOIN NECTAR.DBO.TB_PESSOAL	WITH( NOLOCK ) ON IDPES_PES = IDPES_ACO
WHERE IDEMP_CON = '''''+@ID_CARTEIRA+'''''
AND PAGAM_PAG = 1 
AND DTCAD_ACO BETWEEN '''''+@D1+''''' AND ''''' +@D2+ '''''
AND DTCAN_ACO IS NULL
'')'
EXEC SP_EXECUTESQL @TSQL 


SELECT 
	QTD	=	COUNT(IDOCO_AND)
,	DESCR_OCO
,	IMAPS_OCO
FROM ##ANALITICO_PRODUCAO_CAEDU
GROUP BY 
	DESCR_OCO
,	IMAPS_OCO

DROP TABLE IF EXISTS #CONSOLIDADO
SELECT 
	X.*
,	Y.VLVEN_PAG AS CASH
,	Y.DTVEN_PAG
,	Y.DTCAD_ACO
,	Y.IDACO_ACO
INTO #CONSOLIDADO
FROM ##ANALITICO_PRODUCAO_CAEDU X
LEFT JOIN 
	 ##ANALITICO_ACORDO_CAEDU	Y ON  X.IDCON_AND = Y.IDCON_ACO 
							      AND CONVERT(DATE,X.DTAND_AND) = CONVERT(DATE,Y.DTCAD_ACO)
								  AND X.IDOCO_AND IN (
								  400,1522,2181
								  ) 
DROP TABLE IF EXISTS #FINAL
CREATE TABLE #FINAL(
DATA			DATE NOT NULL,
HORA			INT  NOT NULL,
ID_ANDAMENTO	BIGINT NOT NULL,
IDCON_CON		INT NOT NULL,
IDOCO_AND		INT NOT NULL,
DESCR_OCO		VARCHAR(100) NULL,
CASH			MONEY NULL,
DTVEN_PAG		DATETIME NULL,
DTCAD_ACO		DATETIME NULL,
IDACO_ACO		INT NULL,
AGING			INT NULL,
DTATR_CON		DATETIME NOT NULL,
IDEMP_CON		INT NOT NULL,
VLSAL_CON		MONEY NOT NULL,
CONTR_CON		INT NULL,
IDPES_PES		INT NULL,
USUAR_PES		VARCHAR(50) NULL,
NOME_PES		VARCHAR(200) NULL,
CGCPF_DEV		VARCHAR(14) NULL,
DESCR_CAR		VARCHAR(50) NULL,
IMAPS_OCO		VARCHAR(50) NULL,
TABULADO		TINYINT NULL,
ALO				TINYINT NULL,
CPC				TINYINT NULL,
CPC_N			TINYINT NULL,
CPC_P			TINYINT NULL,
ACORDO			TINYINT NULL
)



INSERT INTO #FINAL
SELECT 
	DTAND_AND	
,	DATEPART(HH,DTAND_AND)
,	IDAND_AND
,	IDCON_AND		
,	IDOCO_AND		
,	DESCR_OCO	
,	CASH			
,	DTVEN_PAG		
,	DTCAD_ACO		
,	IDACO_ACO
,	AGING	=	DATEDIFF(DAY,DTATR_CON,DTAND_AND)
,	DTATR_CON		
,	IDEMP_CON		
,	VLSAL_CON		
,	CONTR_CON		
,	IDPES_PES		
,	USUAR_PES		
,	NOME_PES		
,	CGCPF_DEV		
,	DESCR_CAR		
,	IMAPS_OCO				
,	TABULADO		
,	ALO				
,	CPC				
,	CPC_N			
,	CPC_P			
,	ACORDO			
FROM #CONSOLIDADO A LEFT JOIN REPORTS.DBO.AUX_DEXPARA_ATMA C ON IDOCO_AND = IDOCO_DXP
WHERE TABULADO = 1
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* DESCRICAO: LAYOUT FINAL PARA O RELATORIO (SINTETICO)											*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
DROP TABLE IF EXISTS #POWERBI
SELECT 
	DATA				
,	HORA				=			IIF(LEN(HORA) < 2, '0' + CONVERT(VARCHAR(2),HORA), CONVERT(VARCHAR(2),HORA))
,	ALO					=			ISNULL(SUM(ALO),0)
,	CPC					=			ISNULL(SUM(CPC),0)								
,	CPC_P				=			ISNULL(SUM(CPC_P),0)
,	ACORDO				=			ISNULL(SUM(ACORDO),0)										
,	CASH				=			ISNULL(SUM(CASH),0)
,	SALDO				=			SUM(IIF(ACORDO > 0, VLSAL_CON, 0))
,	CLUSTER				=	
									CASE 
										WHEN AGING BETWEEN 72 AND   96    THEN  '0072 À 0096'
										WHEN AGING BETWEEN 97 AND   120   THEN  '0097 À 0120'
										WHEN AGING BETWEEN 121 AND  150   THEN  '0121 À 0150'
										WHEN AGING BETWEEN 151 AND  180   THEN  '0151 À 0180'
										WHEN AGING BETWEEN 181 AND  210   THEN  '0181 À 0210'
										WHEN AGING BETWEEN 211 AND  360   THEN  '0211 À 0360'
										WHEN AGING BETWEEN 361 AND  540   THEN  '0361 À 0540'
										WHEN AGING BETWEEN 541 AND  720   THEN  '0541 À 0720'
										WHEN AGING BETWEEN 721 AND  1000  THEN  '0721 À 1000'
										WHEN AGING BETWEEN 1001 AND 1200  THEN  '1001 À 1200'
										WHEN AGING BETWEEN 1201 AND 1400  THEN  '1201 À 1400'
										WHEN AGING BETWEEN 1401 AND 1600  THEN  '1401 À 1600'
										WHEN AGING BETWEEN 1601 AND 1825  THEN  '1601 À 1825'
										WHEN AGING BETWEEN 1826 AND 99999 THEN  '1826 À 9999'
										ELSE 'A VENCER'
									END												  							
,	ORIGEM				=	
									CASE 
										WHEN C.SETOR   =   'Digital'			    THEN 'DIGITAL'
										WHEN A.USUAR_PES IN ('wilsonr','Whatsr')    THEN 'WILSON'
										WHEN A.USUAR_PES IN ('Admin','facaacordo')  THEN 'PORTAL'
										ELSE 'CALL CENTER'
									END 
INTO #POWERBI
FROM #FINAL A
LEFT JOIN DATA_SCIENCE..OPERADORES C ON C.IDPES = A.IDPES_PES
GROUP BY
	DATA
,	IIF(LEN(HORA) < 2, '0' + CONVERT(VARCHAR(2),HORA), CONVERT(VARCHAR(2),HORA))					
,	A.DESCR_CAR
,	CASE 
		WHEN AGING BETWEEN 72 AND   96    THEN  '0072 À 0096'
		WHEN AGING BETWEEN 97 AND   120   THEN  '0097 À 0120'
		WHEN AGING BETWEEN 121 AND  150   THEN  '0121 À 0150'
		WHEN AGING BETWEEN 151 AND  180   THEN  '0151 À 0180'
		WHEN AGING BETWEEN 181 AND  210   THEN  '0181 À 0210'
		WHEN AGING BETWEEN 211 AND  360   THEN  '0211 À 0360'
		WHEN AGING BETWEEN 361 AND  540   THEN  '0361 À 0540'
		WHEN AGING BETWEEN 541 AND  720   THEN  '0541 À 0720'
		WHEN AGING BETWEEN 721 AND  1000  THEN  '0721 À 1000'
		WHEN AGING BETWEEN 1001 AND 1200  THEN  '1001 À 1200'
		WHEN AGING BETWEEN 1201 AND 1400  THEN  '1201 À 1400'
		WHEN AGING BETWEEN 1401 AND 1600  THEN  '1401 À 1600'
		WHEN AGING BETWEEN 1601 AND 1825  THEN  '1601 À 1825'
		WHEN AGING BETWEEN 1826 AND 99999 THEN  '1826 À 9999'
		ELSE 'A VENCER'
	END										
,	CASE 
		WHEN C.SETOR   =   'Digital'				THEN 'DIGITAL'
		WHEN A.USUAR_PES IN ('wilsonr','Whatsr')	THEN 'WILSON'
		WHEN A.USUAR_PES IN ('Admin','facaacordo')	THEN 'PORTAL' 	
		ELSE 'CALL CENTER'
	END 
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* DESCRICAO: LAYOUT FINAL PARA O POWER BI														*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
DELETE FROM REPORTS..TB_REL_HORA_HORA_CAEDU WHERE DATA BETWEEN CONVERT(DATE,@D1) AND CONVERT(DATE,@D2)
INSERT INTO REPORTS..TB_REL_HORA_HORA_CAEDU
SELECT * FROM #POWERBI

--> INSERE ANALITICO NO EXCEL 
DELETE FROM REPORTS..TB_REL_HORA_HORA_CAEDU_ANALITICO WHERE DTAND_AND BETWEEN CONVERT(DATE,@D1) AND CONVERT(DATE,@D2)
INSERT INTO REPORTS..TB_REL_HORA_HORA_CAEDU_ANALITICO
SELECT 
	DTAND_AND
,	DTPAG_PAG
,	HRAND_AND
,	IDEMP_EMP
,	IDPES_PES
,	USUAR_PES
,	AGING
,	VLSAL_CON
,	VLVEN_PAG
,	VLPAG_PAG
,	CGCPF_DEV
,	CONTR_CON
,	IDCON_CON
,	IDOCO_AND
,	DESCR_CAR
,	CASH
,	FLAG
,	DESCR_DXP
,	TABULADO
,	ALO
,	CPC
,	CPC_N
,	CPC_P
,	ACORDO
FROM #DEPARA_CONSOLIDADO 
WHERE IDOCO_AND != 2180

--> DELETA OQ NÃO FOR DO MÊS ATUAL
--BEGIN;
--	DECLARE @VALIDA_MES INT	 =  (SELECT DATEPART(MM,MIN(DTAND_AND)) FROM REPORTS..TB_REL_HORA_HORA_CAEDU_ANALITICO)	
--	IF (
--		@VALIDA_MES
--	   )
--	   != DATEPART(MM,CONVERT(DATE,GETDATE()))
--	TRUNCATE TABLE REPORTS..TB_REL_HORA_HORA_CAEDU_ANALITICO
--END;

BEGIN;
  DROP TABLE IF EXISTS ##ANALITICO_ACORDO_CAEDU
  DROP TABLE IF EXISTS ##ANALITICO_PRODUCAO_CAEDU
END;


END;