USE [Data_Science]
GO

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*																								*/
/* PROGRAMADOR: KAIKE NATAN									                                    */
/* VERSAO     : DATA: 04/03/2022																*/
/* DESCRICAO  : RESPONSAVEL POR LEVANTAR OS DADOS DE TABULAÇÃO SERASA PIC PAY E SEUS ACORDOS 	*/
/*																								*/
/*	ALTERACAO                                                                                   */
/*        2. PROGRAMADOR: 													 DATA: __/__/____	*/		
/*           DESCRICAO  :  			 															*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
	CREATE OR ALTER  PROCEDURE [dbo].[PRC_DS_TABULACAO_PICPAY] AS
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* DESCRICAO  :	FAZ A MODELAGEM DOS DADOS DE PRODUÇÃO										    */
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
IF OBJECT_ID ('TEMPDB.DBO.#PROD') IS NOT NULL DROP TABLE #PROD
SELECT 
	DTAND_AND AS DATA
,	IDCON_AND AS IDCON
,	CGCPF_DEV AS CGCPF
,	DESCR_OCO 
,	IMAPS_OCO
,	STATUS		=	IIF(STDEV_CON = 0, 'ATIVO', 'BAIXADO')
,	CASE   
		WHEN DATEDIFF(DAY,MIN(CONVERT(DATE,DTATR_CON)),CONVERT(DATE,DTAND_AND)) BETWEEN 5 AND 30      THEN '00.05 A 30'
		WHEN DATEDIFF(DAY,MIN(CONVERT(DATE,DTATR_CON)),CONVERT(DATE,DTAND_AND)) BETWEEN 31 AND 60     THEN '01.31 A 60 '
		WHEN DATEDIFF(DAY,MIN(CONVERT(DATE,DTATR_CON)),CONVERT(DATE,DTAND_AND)) BETWEEN 61 AND 90     THEN '02.61 A 90'
		WHEN DATEDIFF(DAY,MIN(CONVERT(DATE,DTATR_CON)),CONVERT(DATE,DTAND_AND)) BETWEEN 91 AND 120    THEN '03.91 A 120'
		WHEN DATEDIFF(DAY,MIN(CONVERT(DATE,DTATR_CON)),CONVERT(DATE,DTAND_AND)) BETWEEN 121 AND 180   THEN '04.121 A 180'
		WHEN DATEDIFF(DAY,MIN(CONVERT(DATE,DTATR_CON)),CONVERT(DATE,DTAND_AND)) BETWEEN 181 AND 240   THEN '05.181 A 240'
		WHEN DATEDIFF(DAY,MIN(CONVERT(DATE,DTATR_CON)),CONVERT(DATE,DTAND_AND)) BETWEEN 241 AND 300   THEN '06.241 A 300'
		WHEN DATEDIFF(DAY,MIN(CONVERT(DATE,DTATR_CON)),CONVERT(DATE,DTAND_AND)) BETWEEN 301 AND 360   THEN '07.301 A 360'
		WHEN DATEDIFF(DAY,MIN(CONVERT(DATE,DTATR_CON)),CONVERT(DATE,DTAND_AND)) BETWEEN 361 AND 480   THEN '08.361 A 480'
		WHEN DATEDIFF(DAY,MIN(CONVERT(DATE,DTATR_CON)),CONVERT(DATE,DTAND_AND)) BETWEEN 481 AND 600   THEN '09.481 A 600'
		WHEN DATEDIFF(DAY,MIN(CONVERT(DATE,DTATR_CON)),CONVERT(DATE,DTAND_AND))	BETWEEN 601 AND 720   THEN '10.601 A 720'
		WHEN DATEDIFF(DAY,MIN(CONVERT(DATE,DTATR_CON)),CONVERT(DATE,DTAND_AND))	BETWEEN 721 AND 99999 THEN '11.721 A 99999'
	END GRUPO_ATRASO																	
,	CASE WHEN IMAPS_OCO IN ('ALO','CPC_N','CPC_P') THEN 1 ELSE 0 END [ALO]		
,	CASE WHEN IMAPS_OCO IN ('CPC_N','CPC_P') THEN 1 ELSE 0 END [CPC]			
,	CASE WHEN IMAPS_OCO IN ('CPC_P') THEN 1 ELSE 0 END [CPCP]
,   CONVERT(MONEY,T.VLFAT_TRA) VALOR_SALDO
INTO #PROD
FROM       [10.251.1.36].NECTAR.DBO.TB_ANDAMENTO 	WITH(NOLOCK) 
INNER JOIN [10.251.1.36].NECTAR.DBO.TB_CONTRATO		WITH(NOLOCK) ON IDCON_CON = IDCON_AND 
INNER JOIN [10.251.1.36].NECTAR.DBO.TB_OCORRENCIA 	WITH(NOLOCK) ON IDOCO_OCO = IDOCO_AND 
INNER JOIN [10.251.1.36].NECTAR.DBO.TB_DEVEDOR		WITH(NOLOCK) ON IDDEV_DEV = IDDEV_CON
INNER JOIN [10.251.1.36].NECTAR.DBO.TB_CARTEIRA		WITH(NOLOCK) ON IDCAR_CAR = IDCAR_CON
LEFT JOIN (
					 SELECT DISTINCT
					 IDCON_TRA
					,IDDOC_TRA
					,TITUL_TRA
					,DTFAT_TRA
					,VLFAT_TRA
					FROM [10.251.1.36].[NECTAR].[DBO].TB_TRANSACAO WITH(NOLOCK)
					INNER JOIN [10.251.1.36].[NECTAR].[DBO].TB_CONTRATO WITH(NOLOCK) ON IDCON_TRA = IDCON_CON AND IDEMP_CON IN (8,9)
					UNION ALL
					SELECT DISTINCT
					IDCON_BAI
					,IDDOC_BAI
					,TITUL_BAI
					,DTFAT_BAI
					,VLFAT_BAI
					FROM [10.251.1.36].[NECTAR].[DBO].TB_BAIXA WITH(NOLOCK)
					INNER JOIN [10.251.1.36].[NECTAR].[DBO].TB_CONTRATO WITH(NOLOCK) ON IDCON_BAI = IDCON_CON AND IDEMP_CON IN (8,9)
		   ) T ON T.IDCON_TRA = IDCON_CON

WHERE DESCR_OCO = 'SERASA PIC PAY'  
AND CASE WHEN IMAPS_OCO <> '' THEN 1 ELSE 0 END  = 1
AND IDEMP_CON IN (8,9) 
AND DESCR_CAR = 'PICPAY'                                            
GROUP BY
	DTAND_AND
,	IDCON_AND
,	CGCPF_DEV
,	DESCR_OCO 
,	IMAPS_OCO
,	STDEV_CON
,	T.VLFAT_TRA
,	CASE WHEN IMAPS_OCO IN ('ALO','CPC_N','CPC_P') THEN 1 ELSE 0 END 	
,	CASE WHEN IMAPS_OCO IN ('CPC_N','CPC_P') THEN 1 ELSE 0 END 		
,	CASE WHEN IMAPS_OCO IN ('CPC_P') THEN 1 ELSE 0 END 		 
								
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* DESCRICAO  :	FAZ A MODELAGEM DOS DADOS DE ACORDO COM A REGRA DO NEGÓCIO					    */
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
IF OBJECT_ID ('TEMPDB.DBO.#ACORDO_PIC_PAY') IS NOT NULL DROP TABLE #ACORDO_PIC_PAY

SELECT 
	DTAND_AND AS DATA
,	IDCON_AND AS IDCON
,	CGCPF_DEV AS CGCPF
,	DESCR_OCO 
,	IMAPS_OCO
,	STATUS		=	IIF(STDEV_CON = 0, 'ATIVO', 'BAIXADO')
,	CASE   
		WHEN DATEDIFF(DAY,MIN(CONVERT(DATE,DTATR_CON)),CONVERT(DATE,DTAND_AND)) BETWEEN 5 AND 30      THEN '00.05 A 30'
		WHEN DATEDIFF(DAY,MIN(CONVERT(DATE,DTATR_CON)),CONVERT(DATE,DTAND_AND)) BETWEEN 31 AND 60     THEN '01.31 A 60 '
		WHEN DATEDIFF(DAY,MIN(CONVERT(DATE,DTATR_CON)),CONVERT(DATE,DTAND_AND)) BETWEEN 61 AND 90     THEN '02.61 A 90'
		WHEN DATEDIFF(DAY,MIN(CONVERT(DATE,DTATR_CON)),CONVERT(DATE,DTAND_AND)) BETWEEN 91 AND 120    THEN '03.91 A 120'
		WHEN DATEDIFF(DAY,MIN(CONVERT(DATE,DTATR_CON)),CONVERT(DATE,DTAND_AND)) BETWEEN 121 AND 180   THEN '04.121 A 180'
		WHEN DATEDIFF(DAY,MIN(CONVERT(DATE,DTATR_CON)),CONVERT(DATE,DTAND_AND)) BETWEEN 181 AND 240   THEN '05.181 A 240'
		WHEN DATEDIFF(DAY,MIN(CONVERT(DATE,DTATR_CON)),CONVERT(DATE,DTAND_AND)) BETWEEN 241 AND 300   THEN '06.241 A 300'
		WHEN DATEDIFF(DAY,MIN(CONVERT(DATE,DTATR_CON)),CONVERT(DATE,DTAND_AND)) BETWEEN 301 AND 360   THEN '07.301 A 360'
		WHEN DATEDIFF(DAY,MIN(CONVERT(DATE,DTATR_CON)),CONVERT(DATE,DTAND_AND)) BETWEEN 361 AND 480   THEN '08.361 A 480'
		WHEN DATEDIFF(DAY,MIN(CONVERT(DATE,DTATR_CON)),CONVERT(DATE,DTAND_AND)) BETWEEN 481 AND 600   THEN '09.481 A 600'
		WHEN DATEDIFF(DAY,MIN(CONVERT(DATE,DTATR_CON)),CONVERT(DATE,DTAND_AND))	BETWEEN 601 AND 720   THEN '10.601 A 720'
		WHEN DATEDIFF(DAY,MIN(CONVERT(DATE,DTATR_CON)),CONVERT(DATE,DTAND_AND))	BETWEEN 721 AND 99999 THEN '11.721 A 99999'
	END GRUPO_ATRASO																	
,	CASE WHEN IMAPS_OCO IN ('ALO','CPC_N','CPC_P') THEN 1 ELSE 0 END [ALO]		
,	CASE WHEN IMAPS_OCO IN ('CPC_N','CPC_P') THEN 1 ELSE 0 END [CPC]			
,	CASE WHEN IMAPS_OCO IN ('CPC_P') THEN 1 ELSE 0 END [CPCP]
,	ACORDO
,   CONVERT(MONEY,VLFAT_CON) VALOR_SALDO
INTO #ACORDO_PIC_PAY
FROM       [10.251.1.36].NECTAR.DBO.TB_ANDAMENTO 	WITH(NOLOCK) 
INNER JOIN [10.251.1.36].NECTAR.DBO.TB_CONTRATO		WITH(NOLOCK) ON IDCON_CON = IDCON_AND 
INNER JOIN [10.251.1.36].NECTAR.DBO.TB_OCORRENCIA 	WITH(NOLOCK) ON IDOCO_OCO = IDOCO_AND 
INNER JOIN [10.251.1.36].NECTAR.DBO.TB_DEVEDOR		WITH(NOLOCK) ON IDDEV_DEV = IDDEV_CON
INNER JOIN [10.251.1.36].NECTAR.DBO.TB_CARTEIRA		WITH(NOLOCK) ON IDCAR_CAR = IDCAR_CON
LEFT JOIN  REPORTS..AUX_DEXPARA_ATMA							 ON IDOCO_DXP = IDOCO_AND
WHERE IDEMP_CON IN (8,9)
AND ACORDO = 1
AND DESCR_CAR = 'PICPAY'                                            
GROUP BY
	DTAND_AND
,	IDCON_AND
,	CGCPF_DEV
,	DESCR_OCO 
,	IMAPS_OCO
,	STDEV_CON
,	ACORDO
,	VLFAT_CON
,	CASE WHEN IMAPS_OCO IN ('ALO','CPC_N','CPC_P') THEN 1 ELSE 0 END 	
,	CASE WHEN IMAPS_OCO IN ('CPC_N','CPC_P') THEN 1 ELSE 0 END 		
,	CASE WHEN IMAPS_OCO IN ('CPC_P') THEN 1 ELSE 0 END 		
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* DESCRICAO  :	FAZ A MODELAGEM DOS DADOS DE ACORDO COM A REGRA DO NEGÓCIO					    */
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
IF OBJECT_ID ('TEMPDB.DBO.#FINAL') IS NOT NULL DROP TABLE #FINAL

SELECT DISTINCT
	   DATA				=	CONVERT(DATE,A.DATA)
,	   ID_CONTRATO		=	A.IDCON
,	   CPF				=	A.CGCPF
,	   TABULACAO		=	A.DESCR_OCO
,	   STATUS			=	A.STATUS
,	   CLUSTER			=	A.GRUPO_ATRASO
,	   ALO				=	A.ALO
,	   CPC				=	A.CPC
,	   ACORDO			=	ISNULL(B.ACORDO,0)
,	   VALOR_ACORDO		=	IIF(B.ACORDO = 1, A.VALOR_SALDO, 0)
INTO #FINAL
FROM #PROD A
LEFT JOIN #ACORDO_PIC_PAY B ON (CAST(A.DATA AS DATE) = CAST(B.DATA AS DATE)) AND (A.CGCPF = B.CGCPF)
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* DESCRICAO  :	FAZ A MODELAGEM DOS DADOS DE ACORDO COM A REGRA DO NEGÓCIO					    */
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
TRUNCATE TABLE REPORTS..TB_REL_TAB_SERASA_PICPAY

INSERT INTO REPORTS..TB_REL_TAB_SERASA_PICPAY
SELECT *
FROM #FINAL
