USE [THESYS_PRODUCAO]
GO
/****** Object:  Trigger [dbo].[trg_UpdateCamposChavesEvento]    Script Date: 11/12/2024 15:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[trg_UpdateCamposChavesEvento]
ON [dbo].[Notas_Fiscais_XML_Eventos]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    WITH XMLNAMESPACES ('http://www.portalfiscal.inf.br/nfe' AS ns)
    UPDATE nfev
    SET 
        cnpj_emitente = COALESCE(
            nfev.ArquivoXML.value('(/ns:procEventoNFe/ns:evento/ns:infEvento/ns:CNPJ)[1]', 'nvarchar(14)'),
            nfev.ArquivoXML.value('(/ns:resEvento/ns:CNPJ)[1]', 'nvarchar(14)'),
            nfev.ArquivoXML.value('(/ns:ProcInutNFe/ns:inutNFe/ns:infInut/ns:CNPJ)[1]', 'nvarchar(14)')
        ),
        Chave_NFe = COALESCE(
            nfev.ArquivoXML.value('(/ns:procEventoNFe/ns:evento/ns:infEvento/ns:chNFe)[1]', 'nvarchar(44)'),
            nfev.ArquivoXML.value('(/ns:resEvento/ns:chNFe)[1]', 'nvarchar(44)'),
            nfev.ArquivoXML.value('(/ns:ProcInutNFe/ns:inutNFe/ns:infInut/@Id)[1]', 'nvarchar(44)')
        ),
        sequencia = COALESCE(
            nfev.ArquivoXML.value('(/ns:procEventoNFe/ns:evento/ns:infEvento/ns:nSeqEvento)[1]', 'integer'),
            nfev.ArquivoXML.value('(/ns:resEvento/ns:nSeqEvento)[1]', 'integer'),
            1 -- Para inutilização, podemos assumir sequência 1
        ),
        codigo = COALESCE(
            nfev.ArquivoXML.value('(/ns:procEventoNFe/ns:evento/ns:infEvento/ns:tpEvento)[1]', 'nvarchar(6)'),
            nfev.ArquivoXML.value('(/ns:resEvento/ns:tpEvento)[1]', 'nvarchar(6)'),
            '000999' -- Código para inutilização
        ),
        descricao = COALESCE( 
            nfev.ArquivoXML.value('(/ns:procEventoNFe/ns:retEvento/ns:infEvento/ns:xEvento)[1]', 'nvarchar(100)'),
            nfev.ArquivoXML.value('(/ns:resEvento/ns:xEvento)[1]', 'nvarchar(100)'),  
            nfev.ArquivoXML.value('(/ns:procEventoNFe/ns:evento/ns:infEvento/ns:detEvento/ns:descEvento)[1]', 'nvarchar(100)'),
            nfev.ArquivoXML.value('(/ns:ProcInutNFe/ns:retInutNFe/ns:infInut/ns:xMotivo)[1]', 'nvarchar(100)')
        ),
        cstatus = COALESCE(
            nfev.ArquivoXML.value('(/ns:procEventoNFe/ns:retEvento/ns:infEvento/ns:cStat)[1]', 'nvarchar(3)'),
            nfev.ArquivoXML.value('(/ns:resEvento/ns:cStat)[1]', 'nvarchar(3)'),
            nfev.ArquivoXML.value('(/ns:ProcInutNFe/ns:retInutNFe/ns:infInut/ns:cStat)[1]', 'nvarchar(3)')
        ),
        protocolo = COALESCE(
            nfev.ArquivoXML.value('(/ns:procEventoNFe/ns:retEvento/ns:infEvento/ns:nProt)[1]', 'nvarchar(100)'),
            nfev.ArquivoXML.value('(/ns:resEvento/ns:nProt)[1]', 'nvarchar(100)'),
            nfev.ArquivoXML.value('(/ns:ProcInutNFe/ns:retInutNFe/ns:infInut/ns:nProt)[1]', 'nvarchar(100)')
        ),
        datahora_registro = COALESCE(
            nfev.ArquivoXML.value('(/ns:procEventoNFe/ns:retEvento/ns:infEvento/ns:dhRegEvento)[1]', 'datetime'),
            nfev.ArquivoXML.value('(/ns:resEvento/ns:dhRecbto)[1]', 'datetime'),
            nfev.ArquivoXML.value('(/ns:ProcInutNFe/ns:retInutNFe/ns:infInut/ns:dhRecbto)[1]', 'datetime')
        ),
 	 cnpj_destinatario = nfev.ArquivoXML.value('(/ns:procEventoNFe/ns:retEvento/ns:infEvento/ns:CNPJDest)[1]', 'nvarchar(14)')
    FROM inserted i
    JOIN [dbo].[Notas_Fiscais_XML_Eventos] nfev ON i.id_xml_evento = nfev.id_xml_evento;
END;
