
USE THESYS_HOMOLOGACAO
GO

ALTER TRIGGER [dbo].[trg_PreventDuplicateCnpjCpf]
ON [dbo].[CliFor]
INSTEAD OF INSERT
AS
BEGIN
    --> Verifica se há duplicação de CNPJ/CPF que não seja de UF Do Exterior
    IF EXISTS (
        SELECT 1
        FROM inserted i
        JOIN Clifor c ON ISNULL(i.Cnpj, i.Cpf) = ISNULL(c.Cnpj, c.Cpf)
		JOIN UFS    u ON (u.CODIGO = c.CODIUF)
        WHERE ISNULL(i.Cnpj, i.Cpf) IS NOT NULL
          AND u.DESCRICAO != 'EXTERIOR'
          AND i.cod_clifor <> c.cod_clifor
    )
    BEGIN
        RAISERROR('Duplicação de CNPJ ou CPF não Permitida, Exceto para Clifor´s do Exterior Com Razao Social Diferente', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END

    --> Verifica se Há Duplicidade de CNPJ/CPF do Exterior, Mas Com Razão Diferente
    IF EXISTS (
        SELECT 1
        FROM inserted i
        JOIN Clifor c ON ISNULL(i.Cnpj, i.Cpf) = ISNULL(c.Cnpj, c.Cpf)
		JOIN UFS    u ON (u.CODIGO = c.CODIUF)
           AND u.DESCRICAO = 'EXTERIOR'
           AND i.cod_clifor <> c.cod_clifor
        WHERE ISNULL(i.Cnpj, i.Cpf) IS NOT NULL
          AND ISNULL(i.razao, '') = ISNULL(c.razao, '')
    )
    BEGIN
        RAISERROR('Para Clifor´s do Exterior, a Razão Social Deve Ser Diferente.', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END

    --> Passando Pela Validacao, Insere os Dados na Tabela Fisica
	INSERT INTO [dbo].[CliFor]
           ([cod_cligrupo]
           ,[razao]
           ,[ativo]
           ,[bairro]
           ,[CODICIDADE]
           ,[fantasia]
           ,[id_pais]
           ,[cod_atividade]
           ,[endereco]
           ,[end_complemento]
           ,[cod_tipologradouro]
           ,[end_numero]
           ,[cep]
           ,[cliente]
           ,[fornec]
           ,[pessoa]
           ,[transportadora]
           ,[vendedor]
           ,[cnpj]
           ,[cpf]
           ,[rg]
           ,[ie]
           ,[insmunicipal]
           ,[telefone1]
           ,[telefone2]
           ,[celular]
           ,[fax]
           ,[cxpostal]
           ,[web]
           ,[email]
           ,[dt_abertura]
           ,[porte]
           ,[dt_nascto]
           ,[suframa]
           ,[contribuinte]
           ,[retencao_iss]
           ,[aliquota_iss]
           ,[prospect]
           ,[inscricao_produtorrural]
           ,[emitir_cartacobranca]
           ,[optante_sn]
           ,[ie_nao_contribuinte]
           ,[alccompras_permitealtfornec]
           ,[end_latitude]
           ,[end_longitude]
           ,[situacao_credito]
           ,[consentimento_lgpd]
           ,[obs]
           ,[CODIUF]
           ,[CODIBANCO]
           ,[RFBTipoMatrizFilial]
           ,[RFBPorteEmpresa]
           ,[RFBCNAEPrincipal]
           ,[RFBCNAESecundarios]
           ,[RFBSituacao]
           ,[RBFDataSituacaoCadastral]
           ,[RFBMotivoSituacaoCadastral]
           ,[RFBSituacaoEspecial]
           ,[RFBDataSituacaoEspecial]
           ,[RFBNaturezaJuridica]
           ,[RFBDataHoraConsulta]
           ,[RFBEnteFederativoResponsavel]
           ,[prestador_interno]
           ,[armadores]
           ,[recinto_alfandegado]
           ,[cod_recinto_alf]
           ,[despachantes]
           ,[id_reprvend]
           ,[id_transp_padrao]
           ,[taxa_spread]
           ,[id_usuario]
           ,[id_condicao_pagamento]
           ,[id_tabela_padrao_forma_pagamento]
           ,[id_portador_cp]
           ,[id_portador_cr]
           ,[vlr_limite_credito]
           ,[validade_limite_credito]
           ,[validade_consulta_credito]
           ,[dias_validade_consulta_credito]
           ,[situacao_consulta_credito]
           ,[data_analise]
           ,[dias_bloq_cliente_atraso]
           ,[restricao_venda]
           ,[incl_data]
           ,[incl_user]
           ,[incl_device]
           ,[modi_data]
           ,[modi_user]
           ,[modi_device]
           ,[excl_data]
           ,[excl_user]
           ,[excl_device]
           ,[id_tipo_frete]
           ,[check_licencas_para_vendas]
           ,[validade_licenca_pf]
           ,[validade_vistoria_pc]
           ,[validade_licenca_pc]
           ,[industrializacao_por_encomenda])

		   SELECT 
		    [cod_cligrupo]
           ,[razao]
           ,[ativo]
           ,[bairro]
           ,[CODICIDADE]
           ,[fantasia]
           ,[id_pais]
           ,[cod_atividade]
           ,[endereco]
           ,[end_complemento]
           ,[cod_tipologradouro]
           ,[end_numero]
           ,[cep]
           ,[cliente]
           ,[fornec]
           ,[pessoa]
           ,[transportadora]
           ,[vendedor]
           ,[cnpj]
           ,[cpf]
           ,[rg]
           ,[ie]
           ,[insmunicipal]
           ,[telefone1]
           ,[telefone2]
           ,[celular]
           ,[fax]
           ,[cxpostal]
           ,[web]
           ,[email]
           ,[dt_abertura]
           ,[porte]
           ,[dt_nascto]
           ,[suframa]
           ,[contribuinte]
           ,[retencao_iss]
           ,[aliquota_iss]
           ,[prospect]
           ,[inscricao_produtorrural]
           ,[emitir_cartacobranca]
           ,[optante_sn]
           ,[ie_nao_contribuinte]
           ,[alccompras_permitealtfornec]
           ,[end_latitude]
           ,[end_longitude]
           ,[situacao_credito]
           ,[consentimento_lgpd]
           ,[obs]
           ,[CODIUF]
           ,[CODIBANCO]
           ,[RFBTipoMatrizFilial]
           ,[RFBPorteEmpresa]
           ,[RFBCNAEPrincipal]
           ,[RFBCNAESecundarios]
           ,[RFBSituacao]
           ,[RBFDataSituacaoCadastral]
           ,[RFBMotivoSituacaoCadastral]
           ,[RFBSituacaoEspecial]
           ,[RFBDataSituacaoEspecial]
           ,[RFBNaturezaJuridica]
           ,[RFBDataHoraConsulta]
           ,[RFBEnteFederativoResponsavel]
           ,[prestador_interno]
           ,[armadores]
           ,[recinto_alfandegado]
           ,[cod_recinto_alf]
           ,[despachantes]
           ,[id_reprvend]
           ,[id_transp_padrao]
           ,[taxa_spread]
           ,[id_usuario]
           ,[id_condicao_pagamento]
           ,[id_tabela_padrao_forma_pagamento]
           ,[id_portador_cp]
           ,[id_portador_cr]
           ,[vlr_limite_credito]
           ,[validade_limite_credito]
           ,[validade_consulta_credito]
           ,[dias_validade_consulta_credito]
           ,[situacao_consulta_credito]
           ,[data_analise]
           ,[dias_bloq_cliente_atraso]
           ,[restricao_venda]
           ,[incl_data]
           ,[incl_user]
           ,[incl_device]
           ,[modi_data]
           ,[modi_user]
           ,[modi_device]
           ,[excl_data]
           ,[excl_user]
           ,[excl_device]
           ,[id_tipo_frete]
           ,[check_licencas_para_vendas]
           ,[validade_licenca_pf]
           ,[validade_vistoria_pc]
           ,[validade_licenca_pc]
           ,[industrializacao_por_encomenda]
		   FROM inserted

END;