
USE [Data_Science]
GO

	DECLARE @D1			   VARCHAR(20)		=	CONCAT(CONVERT(DATE,GETDATE()-26), ' 00:00:00')
	DECLARE @D2			   VARCHAR(20)		=	CONCAT(CONVERT(DATE,GETDATE()-1), ' 23:59:59')
	DECLARE @IP			   VARCHAR(13)		=	'[10.251.1.36]'
	DECLARE @IP_MYSQL	   VARCHAR(13)		=	'[10.251.2.18]'	
	DECLARE @VAZIO		   VARCHAR(10)	    =   ''
	DECLARE @TSQL		   NVARCHAR(4000)
	DECLARE @DATA_CONTROLE DATE				=	CAST(@D1 AS DATE)
	DECLARE @DATA_INICIAL  DATE				=	CAST(@D1 AS DATE)
	DECLARE @DATA_FINAL	   DATE				=	CAST(@D2 AS DATE)

SELECT DISTINCT
	IDACO_ACO,
	CONVERT(DATE,DTVEN_PAG) DATA_VENC,
	CONVERT(DATE,DTACO_ACO) DATA_ACO,
	(SELECT TOP 1 MIN(convert(date,DTVEN_PAG)) FROM [10.251.1.36].NECTAR.DBO.[TB_PAGAMENTO] C WHERE C.IDACO_PAG = PG.IDACO_PAG) PRI_VENC,
	CONVERT(DATE,DTPAG_PAG) DATA_PAG,
	CONVERT(DATE,DTCAN_ACO) DATA_CAN,
CASE 
	WHEN STACO_ACO = 0 THEN 'ATIVO' ELSE 'CANCELADO'
END
	STATUS_ACORDO,
CASE
	WHEN STPAG_PAG = 0 THEN 'ABERTO' ELSE 'PAGO'
END
	STATUS_PAGTO,
CASE 
	WHEN CONVERT(DATE,DTVEN_PAG) > CONVERT(DATE, GETDATE()) THEN 'A VENCER'
	WHEN CONVERT(DATE,DTVEN_PAG) < CONVERT(DATE, GETDATE()) THEN 'VENCIDO'
	WHEN CONVERT(DATE,DTVEN_PAG) = CONVERT(DATE, GETDATE()) THEN 'VENCENDO'
END 
	STATUS_VENCIMENTO,
CASE
	WHEN IDPES_ACO = 0						THEN 'INDIRETO'
	WHEN SETOR     IN ('DIGITAL')			THEN 'DIGITAL' 
	WHEN USUAR_PES IN ('WILSONR','WHATSR')  THEN 'WILSON'
	WHEN USUAR_PES IN ('FACAACORDO')		THEN 'PORTAL' ELSE 'OPERAÇÃO'
END
	ORIGEM,
	DATEDIFF(DAY,MIN(CONVERT(DATE,DTATR_CON)),CONVERT(DATE,DTCAD_ACO)) AGING,
	CONVERT(MONEY,VLVEN_PAG)					[VALOR_ACORDO],
	CONVERT(MONEY,VLPAG_PAG)					[VALOR_PAGTO],
	CONVERT(MONEY,VLMAC_CON)					[CONTABIL],
	--DESCR_BND,						
	RAZAO_EMP CARTEIRA,
	CGCPF_DEV AS CPFCNPJ,
	CONTR_CON AS CONTRATO,
	PAGAM_PAG PARCELA,
	(SELECT TOP 1 MAX(PAGAM_PAG) FROM [10.251.1.36].NECTAR.DBO.[TB_PAGAMENTO] P WHERE P.IDACO_PAG = PG.IDACO_PAG) PLANO,
	CASE WHEN CONVERT(DATE,DTCAN_ACO) < CONVERT(DATE,DTCAD_ACO) THEN 1 ELSE 0 END AUX_ACO
INTO
	#VENC
FROM	   [10.251.1.36].NECTAR.DBO.[TB_ACORDO]			WITH(NOLOCK)
INNER JOIN [10.251.1.36].[nectar].[dbo].[TB_ACORDOTIT]	WITH(NOLOCK) ON IDACO_ATI = IDACO_ACO
INNER JOIN [10.251.1.36].[nectar].[dbo].[TB_PARCELA]	WITH(NOLOCK) ON IDPAR_PAR = IDPAR_ACO
INNER JOIN [10.251.1.36].NECTAR.DBO.[TB_CONTRATO]		WITH(NOLOCK) ON IDCON_CON = IDCON_ACO 
INNER JOIN [10.251.1.36].NECTAR.DBO.[TB_DEVEDOR]		WITH(NOLOCK) ON IDDEV_DEV = IDDEV_CON
INNER JOIN [10.251.1.36].[nectar].[dbo].[TB_TRANSACAO]	WITH(NOLOCK) ON IDCON_TRA = IDCON_CON
--INNER JOIN [10.251.1.36].NECTAR.DBO.TB_BANDEIRA	WITH(NOLOCK) ON IDBND_BND = IDBND_CON
INNER JOIN [10.251.1.36].NECTAR.DBO.[TB_PAGAMENTO] PG	WITH(NOLOCK) ON IDACO_PAG = IDACO_ACO
LEFT JOIN  [10.251.1.36].NECTAR.DBO.[TB_PESSOAL] U		WITH(NOLOCK) ON IDPES_PES = IDPES_ACO
INNER JOIN [10.251.1.36].NECTAR.DBO.[TB_CARTEIRA] CR	WITH(NOLOCK) ON IDCAR_CAR = IDCAR_CON
INNER JOIN [10.251.1.36].[NECTAR].[DBO].TB_EMPRESA CTR	WITH(NOLOCK) ON IDEMP_EMP = IDEMP_CON
INNER JOIN [10.251.1.36].[nectar].[dbo].[TB_DOCUMENTO]	WITH(NOLOCK) ON IDDOC_DOC = IDDOC_ATI
LEFT JOIN  [DATA_SCIENCE].[DBO].[OPERADORES]			WITH(NOLOCK) ON IDPES     = IDPES_ACO
WHERE 
	CONVERT(DATE,DTVEN_PAG) BETWEEN @D1 AND @D2
	AND IDEMP_CON = 15
		AND LEFT(DTCAD_ACO,10) <> (CASE WHEN DTCAN_ACO IS NULL THEN '2019-01-01' ELSE LEFT(DTCAN_ACO,10) END)

GROUP BY
IDACO_ACO,
	CONVERT(DATE,DTVEN_PAG),
	CONVERT(DATE,DTACO_ACO),
	CONVERT(DATE,DTCAD_ACO),
	CONVERT(DATE,DTPAG_PAG),
	CONVERT(DATE,DTCAN_ACO),
	CONVERT(MONEY,VLVEN_PAG),
	CONVERT(MONEY,VLPAG_PAG),
	CONVERT(MONEY,VLMAC_CON),
	--DESCR_BND,
	RAZAO_EMP,
	CGCPF_DEV,
	CONTR_CON,
	IDACO_PAG,
	PAGAM_PAG,
CASE
	WHEN IDPES_ACO = 0						THEN 'INDIRETO'
	WHEN SETOR     IN ('DIGITAL')			THEN 'DIGITAL' 
	WHEN USUAR_PES IN ('WILSONR','WHATSR')  THEN 'WILSON'
	WHEN USUAR_PES IN ('FACAACORDO')		THEN 'PORTAL' ELSE 'OPERAÇÃO'
END,
CASE 
	WHEN CONVERT(DATE,DTVEN_PAG) > CONVERT(DATE, GETDATE()) THEN 'A VENCER'
	WHEN CONVERT(DATE,DTVEN_PAG) < CONVERT(DATE, GETDATE()) THEN 'VENCIDO'
	WHEN CONVERT(DATE,DTVEN_PAG) = CONVERT(DATE, GETDATE()) THEN 'VENCENDO'
END,
CASE 
	WHEN STACO_ACO = 0 THEN 'ATIVO' ELSE 'CANCELADO'
END,
CASE
	WHEN STPAG_PAG = 0 THEN 'ABERTO' ELSE 'PAGO'
END


SELECT 
	*,
CASE 
	WHEN CONVERT(DATE,DATA_CAN) < CONVERT(DATE,PRI_VENC) THEN 1 ELSE 0 END AUX_PRI_VENC,
CASE 
	WHEN CONVERT(DATE,DATA_CAN) < CONVERT(DATE,DATA_VENC) THEN 1 ELSE 0 END AUX_VENC
INTO
	#FINAL
FROM #VENC


SELECT
CASE 
	WHEN PLANO = 1 THEN 'A VISTA' ELSE 'PARCELADO' 
END 
	TIPO_PLANO,
CASE 
	WHEN PLANO	 = 1 THEN 'A VISTA'
	WHEN PARCELA = 1 THEN '1ª PARCELA'
	WHEN PARCELA > 1 THEN 'COLCHÃO'
END
	TIPO_PARCELA,	
	ORIGEM,
	STATUS_VENCIMENTO,
CASE
	WHEN AUX_ACO = 1	  THEN 'ACOR'
	WHEN AUX_PRI_VENC = 1 THEN 'PRI_VENC' 
	WHEN AUX_VENC = 1	  THEN 'VENC'ELSE 'ATIVO'
END
	STATUS_CANCELAMENTO,
	STATUS_ACORDO,
	STATUS_PAGTO,
	COUNT(CPFCNPJ)																					[ACORDO #],
	SUM(CASE WHEN STATUS_VENCIMENTO = 'VENCIDO' AND STATUS_PAGTO = 'ABERTO' THEN 1 END)				[QUEBRA #],
	SUM(VALOR_ACORDO)																				[ACORDO $],
	SUM(CASE WHEN STATUS_VENCIMENTO = 'VENCIDO' AND STATUS_PAGTO = 'PAGO' THEN VALOR_PAGTO END)		[RECEBIMENTO $],
	SUM(CASE WHEN STATUS_VENCIMENTO = 'VENCIDO' AND STATUS_PAGTO = 'ABERTO' THEN VALOR_ACORDO END)	[QUEBRA $],
CASE
	WHEN AUX_ACO = 1	  THEN 'NÃO'
	WHEN AUX_PRI_VENC = 1 THEN 'SIM' 
	WHEN AUX_VENC = 1	  THEN 'SIM'ELSE 'NÃO'
END 
	EXPURGAR
INTO
	#VENCIMENTO
FROM 
	#FINAL V
GROUP BY 
	STATUS_ACORDO,
	STATUS_PAGTO,
	CASE WHEN PLANO = 1 THEN 'A VISTA' ELSE 'PARCELADO' END,
	ORIGEM,
CASE 
	WHEN PLANO	 = 1 THEN 'A VISTA'
	WHEN PARCELA = 1 THEN '1ª PARCELA'
	WHEN PARCELA >1	 THEN 'COLCHÃO'
END,
	STATUS_VENCIMENTO,
CASE
	WHEN AUX_ACO = 1	  THEN 'ACOR'
	WHEN AUX_PRI_VENC = 1 THEN 'PRI_VENC' 
	WHEN AUX_VENC = 1	  THEN 'VENC'ELSE 'ATIVO'
END,
CASE
	WHEN AUX_ACO = 1	  THEN 'NÃO'
	WHEN AUX_PRI_VENC = 1 THEN 'SIM' 
	WHEN AUX_VENC = 1	  THEN 'SIM'ELSE 'NÃO'
END 



SELECT * FROM #VENCIMENTO

