USE easycollector -- 63
GO

-- ID_DETALHE 240 = VALOR
-- ID_DETALHE 234 = PAGO/ACORDO/EM ABERTO


DROP TABLE #TEMP
SELECT B.ID_CONTRATO, B.ID_DETALHE, B.NM_DETALHE_VALOR, C.ID_CLIENTE
INTO #TEMP
FROM TB_CONTRATO  A   WITH(NOLOCK)
INNER JOIN TB_CONTRATO_DETALHE B WITH(NOLOCK) ON A.ID_CONTRATO = B.ID_CONTRATO
INNER JOIN TB_CLIENTE C WITH(NOLOCK) ON A.ID_CLIENTE = C.ID_CLIENTE
WHERE ID_CEDENTE = 1000


DROP TABLE #ACORDOS_TABULACAO
SELECT TOP 100*
INTO #ACORDOS_TABULACAO
FROM [172.20.1.66].[DB_REPORT].[DBO].[TB_REL_HORA_HORA_TABULACAO_ANALITICO_BACKUP] WITH(NOLOCK)
WHERE ID_CEDENTE = 1000
AND AF = 1
AND DATA BETWEEN '2021-06-01' AND '2021-06-30'
ORDER BY SALDO_DEVEDOR DESC



SELECT DISTINCT
       A.ID_DETALHE,
       A.NM_DETALHE_VALOR,
	   B.NM_CEDENTE,
	   B.GRUPO1,
	   B.DATA,
	   B.SALDO_DEVEDOR,
	   A.ID_CLIENTE
FROM #TEMP A
INNER JOIN
#ACORDOS_TABULACAO B
ON A.ID_CLIENTE = B.ID_CLIENTE
AND NM_DETALHE_VALOR LIKE '%PAGO%'
ORDER BY SALDO_DEVEDOR DESC
