USE DB_REPORT
GO

SELECT 
       NM_CEDENTE
      ,CAST(DT_ACAO AS date) AS DT_REF
      ,TURNO
      ,TP_EQUIPE
      ,TP_CONEXAO
      ,NM_USUARIO
      ,SUM(AF) AS ACORDO
	  ,HORARIO
FROM TB_REL_HORA_HORA_TABULACAO_ANALITICO A WITH(NOLOCK)
INNER JOIN
[172.20.1.63].[easycollector].[dbo].[TB_CLIENTE_ACAO_DIVIDA] B
ON		A.ID_CLIENTE      =  B.ID_CLIENTE 
AND		A.ID_CLIENTE_ACAO =  B.ID_CLIENTE_ACAO
WHERE	ID_CEDENTE = 1000
AND		AF = 1
GROUP BY   HORARIO  
          ,TURNO
          ,TP_EQUIPE
          ,TP_CONEXAO
          ,NM_USUARIO
		  ,NM_CEDENTE
		  ,DT_ACAO
ORDER BY HORARIO
  
