
USE THESYS_DEV
GO

ALTER   TRIGGER [dbo].[trg_PreventDuplicateCnpjCpf]
ON [dbo].[CliFor]
INSTEAD OF INSERT, UPDATE
AS
BEGIN
    --> Verifica se há duplicação de CNPJ/CPF que não seja de UF Do Exterior
    IF EXISTS (
        SELECT 1
        FROM inserted i
        JOIN Clifor c ON ISNULL(i.Cnpj, i.Cpf) = ISNULL(c.Cnpj, c.Cpf)
		JOIN UFS    u ON (u.CODIGO = c.CODIUF)
        WHERE ISNULL(i.Cnpj, i.Cpf) IS NOT NULL
          AND u.DESCRICAO != 'EXTERIOR'
          AND i.cod_clifor <> c.cod_clifor
    )
    BEGIN
        RAISERROR('Duplicação de CNPJ ou CPF não Permitida, Exceto para Clifor´s do Exterior Com Razao Social Diferente', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END

    --> Verifica se Há Duplicidade de CNPJ/CPF do Exterior, Mas Com Razão Diferente
    IF EXISTS (
        SELECT 1
        FROM inserted i
        JOIN Clifor c ON ISNULL(i.Cnpj, i.Cpf) = ISNULL(c.Cnpj, c.Cpf)
		JOIN UFS    u ON (u.CODIGO = c.CODIUF)
           AND u.DESCRICAO = 'EXTERIOR'
           AND i.cod_clifor <> c.cod_clifor
        WHERE ISNULL(i.Cnpj, i.Cpf) IS NOT NULL
          AND ISNULL(i.razao, '') = ISNULL(c.razao, '')
    )
    BEGIN
        RAISERROR('Para Clifor´s do Exterior, a Razão Social Deve Ser Diferente.', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END

END;