
USE [THESYS_HOMOLOGACAO]
GO

ALTER TRIGGER [dbo].[trigger_check_estoque]
ON [dbo].[Estoque_Movimentos] 
AFTER INSERT, UPDATE
AS
BEGIN
  DECLARE @novo_saldo FLOAT;
  DECLARE @id_mov INT;
  DECLARE @id_item INT;
  DECLARE @descricao_item VARCHAR(100);
  DECLARE @cod_item VARCHAR(50);
  DECLARE @lote VARCHAR(10);
  DECLARE @lote_fornec VARCHAR(10);
  DECLARE @id_deposito INT;
  DECLARE @movimenta_estoque CHAR(1);
  DECLARE @erro VARCHAR(8000);
  DECLARE @tipo_operacao VARCHAR(10);
  DECLARE @mensagem_erro VARCHAR(8000);

  -- Determina o tipo de operação (INSERT ou UPDATE)
  SET @tipo_operacao = CASE 
                          WHEN EXISTS (SELECT * FROM inserted) 
                               AND EXISTS (SELECT * FROM deleted) 
                          THEN 'UPDATE'
                          ELSE 'INSERT'
                       END;

  -- Para cada linha que foi inserida ou atualizada, percorre a lista
  DECLARE CursorMov CURSOR FOR
    SELECT i.id_mov, i.id_item, i.lote, i.lote_fornec, i.id_deposito, i.movimenta_estoque,
           it.descricao AS descricao_item, it.codigo AS cod_item
    FROM inserted i
    JOIN Itens it ON i.id_item = it.id_item;

  OPEN CursorMov;

  FETCH NEXT FROM CursorMov INTO @id_mov, @id_item, @lote, @lote_fornec, @id_deposito, @movimenta_estoque, @descricao_item, @cod_item;

  WHILE @@FETCH_STATUS = 0
  BEGIN
    -- Construir a mensagem de erro com os dados da transação
    SET @erro = 'ID_ITEM:' + convert(varchar(10), @id_item) + ' LOTE:' + ISNULL(@lote, '') + ' LOTE_FORNEC:' + ISNULL(@lote_fornec, '') + ' ID_DEPOSITO:' + convert(varchar(10), @id_deposito) + ' DESCR_ITEM:' + ISNULL(@descricao_item, '') + ' COD_ITEM:' + ISNULL(@cod_item, '');

    -- Verifica se o movimento afeta o estoque
    IF @movimenta_estoque = 'S'
    BEGIN
      -- Calcule o novo saldo com base nos campos chave
      BEGIN TRY
        SELECT @novo_saldo = dbo.fnSaldoEstoqueAnalitico(e.id_item, e.id_deposito, e.id_localizacao, e.lote, e.lote_fornec, e.movimenta_estoqterceiro, e.dt_fabricacaolote, e.validade)
        FROM estoque_movimentos e 
        WHERE e.id_mov = @id_mov;

        -- Se o novo saldo for negativo, lance um erro e reverta a transação
        IF @novo_saldo < 0
        BEGIN
          SET @mensagem_erro = 'Erro de saldo negativo. ' + @erro;
          RAISERROR (@mensagem_erro, 16, 1);
          ROLLBACK TRANSACTION;
          RETURN;
        END
      END TRY
      BEGIN CATCH
        -- Captura o erro e o adiciona à variável @erro
        SET @mensagem_erro = ERROR_MESSAGE() + ' | ' + @erro;
        RAISERROR (@mensagem_erro, 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
      END CATCH
    END -- Fim da verificação de movimentação de estoque

    -- Insere registro na tabela de auditoria, independentemente de movimentar estoque
    INSERT INTO dbo.Auditoria_Estoque_Movimentos (id_mov, id_item, lote, lote_fornec, id_deposito, tipo_operacao, erro)
    VALUES (@id_mov, @id_item, @lote, @lote_fornec, @id_deposito, @tipo_operacao, @erro);

    FETCH NEXT FROM CursorMov INTO @id_mov, @id_item, @lote, @lote_fornec, @id_deposito, @movimenta_estoque, @descricao_item, @cod_item;
  END

  CLOSE CursorMov;
  DEALLOCATE CursorMov;
END;