USE [THESYS_PRODUCAO]
GO

ALTER FUNCTION [dbo].[FnCalcularCustoUnitario]
(
    @id_nota_fiscal_item INT
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        Nfi.id_nota_fiscal_item,
        Tnf.Total_Impostos   AS CustoTotal,
        Custo.Custo_Unitario As CustoUnitario
    FROM Notas_Fiscais_Itens Nfi
    INNER JOIN Itens I ON I.Id_Item = Nfi.Id_Item

    -- CROSS APPLY baseado na nota fiscal (já existente)
    CROSS APPLY (
        SELECT
            (
                CASE 
                    WHEN (
                        ISNULL(Nf.Icms_Valor, 0) + ISNULL(Nf.Pis_Valor, 0) + ISNULL(Nf.Cofins_Valor, 0) + 
                        ISNULL(Nf.Ipi_Valor, 0) + ISNULL(Nf.Valor_Frete, 0) + ISNULL(Nf.Valor_Seguro, 0) + 
                        ISNULL(Nf.Valor_Outras_Despesas, 0)
                    ) > 0 
                    THEN (
                        ISNULL(Nf.Valor_Produtos, 0) + ISNULL(Nf.Valor_Frete, 0) + ISNULL(Nf.Valor_Seguro, 0) +
                        ISNULL(Nf.Valor_Outras_Despesas, 0) + ISNULL(Nf.Ipi_Valor, 0)
                    ) - ISNULL(Nf.Valor_Desconto, 0) - (
                        ISNULL(Nf.Icms_Valor, 0) + ISNULL(Nf.Pis_Valor, 0) + ISNULL(Nf.Cofins_Valor, 0) + ISNULL(Nf.Ipi_Valor, 0)
                    )
                    ELSE Nf.Valor_Produtos 
                END
            ) AS Total_Impostos
        FROM Notas_Fiscais Nf
        WHERE Nf.Id_Nota_Fiscal = Nfi.Id_Nota_Fiscal
    ) AS Tnf

    -- CROSS APPLY baseado no item: custo total da consulta / quantidade
    CROSS APPLY (
        SELECT
            CASE 
                WHEN ISNULL(NfiLocal.Quantidade, 0) > 0 THEN
                    (
                        CASE 
                            WHEN (
                                ISNULL(NfiLocal.Icms_Valor, 0) + ISNULL(NfiLocal.Pis_Valor, 0) + ISNULL(NfiLocal.Cofins_Valor, 0) +
                                ISNULL(NfiLocal.Ipi_Valor, 0) + ISNULL(NfiLocal.Frete_Valor, 0) + ISNULL(NfiLocal.Seguro_Valor, 0) + 
                                ISNULL(NfiLocal.Valor_Despesas, 0)
                            ) > 0
                            THEN (
                                ISNULL(NfiLocal.Valor_Produtos, 0) + ISNULL(NfiLocal.Frete_Valor, 0) + ISNULL(NfiLocal.Seguro_Valor, 0) +
                                ISNULL(NfiLocal.Valor_Despesas, 0) + ISNULL(NfiLocal.Ipi_Valor, 0)
                            ) - ISNULL(NfiLocal.Desconto_Valor, 0) - (
                                ISNULL(NfiLocal.Icms_Valor, 0) + ISNULL(NfiLocal.Pis_Valor, 0) + ISNULL(NfiLocal.Cofins_Valor, 0) + ISNULL(NfiLocal.Ipi_Valor, 0)
                            )
                            ELSE NfiLocal.Valor_Produtos
                        END
                    ) / IIF(I.Id_Unidade <> NfiLocal.Id_Unidade_Nf, Quantidade * IIF(0 = COALESCE(Conv.fator_conversao, NfiLocal.Fator_Conversao), 1, COALESCE(Conv.fator_conversao, NfiLocal.Fator_Conversao)), NULLIF(NfiLocal.Quantidade, 0))
                ELSE 0
            END AS Custo_Unitario
        FROM Notas_Fiscais_Itens NfiLocal
		 JOIN Itens I ON I.id_item = NfiLocal.Id_Unidade_Nf
        LEFT JOIN Itens_Conv_Unidades Conv ON Conv.id_item = NfiLocal.id_item
            AND Conv.id_unidade_conversao = NfiLocal.id_unidade_Nf
        WHERE NfiLocal.Id_Nota_Fiscal_Item = Nfi.Id_Nota_Fiscal_Item
    ) AS Custo

    WHERE Nfi.Id_Nota_Fiscal_Item = @id_nota_fiscal_item
);
