USE [THESYS_PRODUCAO]
GO
/****** Object:  UserDefinedFunction [dbo].[FnCalcularCustoUnitario]    Script Date: 04/04/2025 16:26:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[FnCalcularCustoUnitario]
(
    @id_nota_fiscal_item INT
)
RETURNS TABLE
AS
RETURN
(
SELECT tnf.Custo_Unitario as CustoUnitario
     , tnf.TOTAL_IMPOSTOS as CustoTotal
FROM Notas_Fiscais_Itens nfi
    CROSS APPLY (
                 SELECT
				   (case when (ISNULL(icms_valor, 0) + ISNULL(pis_valor, 0)   + ISNULL(cofins_valor, 0) + ISNULL(ipi_valor, 0) + ISNULL(valor_frete, 0) + ISNULL(valor_seguro, 0) + ISNULL(valor_outras_despesas, 0) ) >0 
						 then (Isnull(valor_produtos,0)   + ISNULL(valor_frete, 0) + ISNULL(valor_seguro, 0) + ISNULL(valor_outras_despesas, 0) + ISNULL(ipi_valor, 0)) - ISNULL(valor_desconto, 0) - 
							  (ISNULL(icms_valor, 0)      + ISNULL(pis_valor, 0)   + ISNULL(cofins_valor, 0) + ISNULL(ipi_valor, 0)) 
						 else valor_produtos 
				  end) as TOTAL_IMPOSTOS
  
                  --Cálculo: TOTAL DOS IMPOSTOS / soma dos total de todos os produtos * (total do produto corrente / quantidade do produto corrente)
                
				,( ( (case when (ISNULL(icms_valor, 0) + ISNULL(pis_valor, 0)   + ISNULL(cofins_valor, 0) + ISNULL(ipi_valor, 0) + ISNULL(valor_frete, 0) + ISNULL(valor_seguro, 0) + ISNULL(valor_outras_despesas, 0) ) >0 
						   then  ((Isnull(valor_produtos,0)  + ISNULL(valor_frete, 0) + ISNULL(valor_seguro, 0) + ISNULL(valor_outras_despesas, 0) + ISNULL(ipi_valor, 0)) - ISNULL(valor_desconto, 0)) - 
								 (ISNULL(icms_valor, 0)    + ISNULL(pis_valor, 0)   + ISNULL(cofins_valor, 0) + ISNULL(ipi_valor, 0)) 
						   else valor_produtos 
					  end) / NULLIF((select sum(valor_produtos) from Notas_Fiscais_Itens where id_nota_fiscal = nfi.id_nota_fiscal), 0)  
						)  * (select (valor_produtos / NULLIF(quantidade, 0)) from Notas_Fiscais_Itens where id_nota_fiscal_item = nfi.id_nota_fiscal_item)   
				 ) as Custo_Unitario  

   FROM Notas_Fiscais     
   WHERE id_nota_fiscal = nfi.id_nota_fiscal
    ) AS tnf
WHERE id_nota_fiscal_item = @id_nota_fiscal_item
);