
USE [THESYS_DEV]
GO

--select * from fnSaldoBancos('2024/07/01','2024/07/31',1)


ALTER FUNCTION [dbo].[fnSaldoBancos]
(
    @VData_Inicial Date,
    @VData_Final   Date,
    @VConciliado   Bit
)
RETURNS TABLE
AS
RETURN
(
     Select 
        NomeFantasia   = Empresas.Nome,
        id_empresa	   = Empresas.id_empresa,
		NomeBanco	   = Bancos.Descricao,
	    Cc_N4          = Pcb_N4.Descricao,
		Cc_Reduzido	   = Pcb.Reduzido,
		Conta_Contabil = Coalesce(Pcb.Descricao, Bancos_Contas.Nome),
        Agencia		   = Bancos_Contas.Nro_Agencia,
        NroConta       = Bancos_Contas.Nro_Conta,
        NomeConta      = Bancos_Contas.Nome,
		StatusConta    = Bancos_Contas.Ativo,
		id_banco_conta = Bancos_Contas.id_banco_conta,
        SaldoInicial   = Isnull(
								(
								 Select Sum(Valor_Sinal)
								 From Bancos_Movimentacoes As Bm
								 Where Bm.Id_Banco_Conta = Bancos_Contas.Id_Banco_Conta
								 And Bm.Dt_BomPara < @VData_Inicial
								 And (
									     @VConciliado = 0 
									  Or Bm.Conciliado = 'S'
									 )
							    )
							   ,0
							   ),
        DebitoPeriodo   = Sum(
						     Case 
						         When Bancos_Movimentacoes.Tipo = 'Debito' And (
									     @VConciliado = 0 
									  Or Bancos_Movimentacoes.Conciliado = 'S'
									 )
								 And  Bancos_Movimentacoes.Dt_BomPara BetWeen @VData_Inicial And @VData_Final 
						         Then Bancos_Movimentacoes.Valor
						         Else 0 
						     End
							   ),
        CreditoPeriodo  = Sum(
							 Case 
							     When Bancos_Movimentacoes.Tipo = 'Credito' And (
									     @VConciliado = 0 
									  Or Bancos_Movimentacoes.Conciliado = 'S'
									 )
							     And  Bancos_Movimentacoes.Dt_BomPara BetWeen @VData_Inicial And @VData_Final
							     Then Bancos_Movimentacoes.Valor
							     Else 0 
							 End
        ),
        SaldoFinal     = Isnull(
							    (
							     Select Sum(Valor_Sinal)
							     From Bancos_Movimentacoes As Bm
							     Where Bm.Id_Banco_Conta = Bancos_Contas.Id_Banco_Conta
							     And Bm.Dt_BomPara <= @VData_Final
							     And (
								         @VConciliado = 0 
									  Or Bm.Conciliado = 'S'
								     )
							    )
							    ,0
							   )
    From Bancos_Movimentacoes
    Join Empresas				  On (Empresas.Id_Empresa		    = Bancos_Movimentacoes.Id_Empresa	 )
    Join Bancos_Contas			  On (Bancos_Contas.Id_Banco_Conta  = Bancos_Movimentacoes.Id_Banco_Conta)
    Join Bancos					  On (Bancos.Id_Banco				= Bancos_Contas.Id_Banco			 )
	left join Plano_Contas Pcb    On (pcb.id_plano					= Bancos_Contas.Id_ContaContabilDb   )
	left join Plano_Contas Pcb_n4 On (pcb_n4.nivel=4 and left(pcb_n4.cod_planocontas,8)=left(pcb.cod_planocontas,8))

    Group By 
        Empresas.Nome,
		Empresas.id_empresa, 
        Bancos.Descricao,
        Bancos_Contas.Nro_Agencia,
        Bancos_Contas.Nro_Conta,
        Bancos_Contas.Nome,
		Pcb_N4.Descricao,
		Pcb.Reduzido,
		Pcb.Descricao,
        Bancos_Contas.Id_Banco_Conta,
		Bancos_Contas.Ativo
);