
Use Thesys_Producao
Go

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*																								*/
/* Programador: Kaike Natan																		*/
/* Versao     : Data: 11/10/2024																*/
/* Descricao  : Calcula o Custo Médio do Estoque de Um Item Baseado nas suas  Ùlltimas Mov		*/
/*																								*/
/* Alteracao																					*/
/*        2. Programador: Kaike Natan			                        Data: 01/12/2024		*/        
/*           Descricao  : Inclusao Movimentacoes da Tabela de Estoque_Movimentos			    */
/* Alteracao																					*/
/*        3. Programador: 						                        Data: 06/12/2024		*/        
/*           Descricao  : Inclusao da Proc, Que Traz Custo Unitario dos Itens de Transferencia	*/
/* Alteracao																					*/
/*        5. Programador: Kaike Natan						            Data: 27/02/2025		*/        
/*           Descricao  : Mudança na Tipagem de Casas Decimais da Coluna Valor_Mov				*/
/* Alteracao																					*/
/*        6. Programador: Kaike Natan									Data: 12/03/2025		*/        
/*           Descricao  : Inclusao da Regra Para os Tipos de Mov (Tre, Efu)						*/
/* Alteracao																					*/
/*        7. Programador: Kaike Natan							        Data: 19/03/2025		*/        
/*           Descricao  : Inclusao da Proc, Para Casos de Tre, Onde Nao Tem Custo Mes Anterior  */
/* Alteracao																					*/
/*        8. Programador:									            Data: __/__/____		*/        
/*           Descricao  :																		*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
	Alter Procedure [dbo].[SpCalculaCustoMedioEstoque]
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Variáveis de Controle do While, Pegando o Min e Max Da Tabela						*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
--> Execute [dbo].[SpCalculaCustoMedioEstoque] 4,'2024-10-01','2024-10-31',1425, Null, 0
--Declare 
--    @IdEmpresa Int = 10,
--    @DataInicio Date = '2025-02-01',
--    @DataFim Date = '2025-02-28',
--    @IdItem Int = 7328,
--    --@IdDeposito Int = Null,
--    @ApenasUltimo Bit = 0  -- Novo parâmetro para filtrar o último movimento -- Novo parâmetro para filtrar o último movimento
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Variáveis de Parametro da Procedure												*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
    @IdEmpresa Int ,
    @DataInicio Date ,
    @DataFim Date ,
    @IdItem Int ,
   -- @IdDeposito Int = Null,
    @ApenasUltimo Bit = 0  -- Novo parâmetro para filtrar o último movimento
As
Begin;
    Set NoCount On;
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Proc Aux Que Traz o Custo_Medio dos Itens TRE Que Nao Tem Custo_Comp Mes Anterior	*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Begin
    Execute [Dbo].[SpCalculaCustoMedioEstoque_3] @IdEmpresa, @DataInicio, @DataFim, 0, 1;
End
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Criação da tabela temporária para armazenar resultados intermediários				*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Drop Table If Exists #TempEstoque;
Create Table #TempEstoque (
	Id_Empresa Int,
	Id_Item Int,
	id_item_original Int,
    Descr_Dep Varchar(200),
	Observacao Varchar(1000),
	Codigo_Item Varchar(50),
	Descricao_Item Varchar(200),
	Id_Mov Int,
	Dt_Transacao Datetime,
	Documento Varchar(100),
	id_nf int,
	Tipo_Mov_Cod Varchar(10),
	Tipo_Mov_Descr Varchar(100),
	Quantidade Decimal(15,3),
	Entrada_Saida Char(1),
	Custo_Unitario Decimal(18,6),
	Quantidade_Sinal Decimal(15,3),
	Valor_Mov Decimal(15,2),
	Saldo_Quantidade Decimal(15,3),
	Saldo_Valor Decimal(15,2),
	Custo_Medio Decimal(18,6),
	Sequencia Int
);
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Subquery Para Obter os Id_Item e Id_Empresa Relevantes							*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Declare @RelevantItems Table (
							    Id_Empresa Int
							  , Id_Item    Int
							 )

Insert Into @RelevantItems
Select Distinct 
	Id_Empresa
,	Id_Item
From Estoque_Saldo_Competencia
WherE Id_Empresa = @IdEmpresa
And AnoMes = Format(DateAdd(Month, -1, @DataInicio), 'yyyy/MM')
And (
	     @IdItem = 0 
	  Or Id_Item = @IdItem
	);
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Inclui o Que Teve Mov no Estoque e Nao Existe na Tabela Estoque_Saldo_Competencia */
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
With Cte_Itens_Mov_Ausentes As (
	Select  
	   Fato.id_empresa
	,  Fato.id_item
	,  Fato.id_item_original
	,  EstDep.descricao as Descr_Dep
	,  Fato.texto_livre
	,  Dim.codigo
	,  Dim.descricao
	,  Fato.id_mov
	,  Fato.dt_transacao
	,  Fato.documento
	,  Fato.id_nf
	,  Est.tipo_mov_cod
	,  Est.tipo_mov_descr
	,  Fato.quantidade
	,  Fato.entrada_saida
	,  Fato.custo_unitario
	,  Row_Number() Over ( Partition By Fato.Id_Item Order By Fato.Dt_Transacao, Fato.Id_Mov) As Sequencia
	From Estoque_Movimentos Fato
	Join Itens Dim					 On Dim.id_item				   = Fato.id_item
	Join Estoque_Deposito EstDep	 On Estdep.id_estoque_deposito = Fato.id_deposito
	Join Grupos_Estoque Gp			 On Gp.id_grupo_estoque		   = Dim.id_grupo_estoque
	Left join Estoque_Tipos_Mov Est  On Est.id_tipo_mov			   = Fato.id_tipo_mov
	Where Fato.Dt_Transacao BetWeen DateAdd(Month,-1,@DataInicio) And @DataFim
	And   Fato.Id_Empresa = @IdEmpresa
	And   Fato.Situacao = 'A' 
	And   Fato.Movimenta_Estoque = 'S'
	And   Fato.Movimenta_EstoqTerceiro = 'N'
	And   Coalesce(EstDep.somente_qtde,'N') = 'N'
	And (
		    @IdItem = 0 
		 Or Dim.Id_Item = @IdItem
	    )
),
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Inclui o Que Teve Mov no Estoque e Existe na Tabela Estoque_Saldo_Competencia     */
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
MovimentosNumerados As (
   Select 
       Fato.Id_Empresa,
       Fato.Id_Item,
	   Fato.id_item_original,
	   Estoque_Deposito.descricao as Descr_Dep,
	   Fato.texto_livre,
       Itens.codigo,
       Itens.descricao,
       Fato.Id_Mov,
       Fato.Dt_Transacao,
       Fato.Documento,
	   Fato.id_nf,
       Dim.Tipo_Mov_Cod,    
       Dim.Tipo_Mov_Descr,
       Fato.Quantidade,
       Fato.Entrada_Saida,
       Fato.Custo_Unitario,
       Row_Number() Over ( Partition By Fato.Id_Item Order By Fato.Dt_Transacao, Fato.Id_Mov) As Sequencia
       From Estoque_Movimentos Fato
       Left  Join Estoque_Tipos_Mov Dim On  Dim.id_Tipo_Mov					     = Fato.id_Tipo_Mov
       Inner Join @RelevantItems Ri		On  Ri.Id_Empresa					     = Fato.Id_Empresa 
									    And Ri.Id_Item						     = Fato.Id_Item
       Inner Join Itens					On  Itens.id_item					     = Ri.Id_Item
	   Inner Join Estoque_Deposito		On  Estoque_Deposito.Id_Estoque_Deposito = Fato.Id_Deposito
       Where Fato.Dt_Transacao BetWeen DateAdd(Month,-1,@DataInicio) And @DataFim
       And Fato.Id_Empresa = @IdEmpresa
       And Fato.Situacao = 'A' 
       And Fato.Movimenta_Estoque = 'S'
	   And Fato.Movimenta_EstoqTerceiro = 'N'
	   And Coalesce(Estoque_Deposito.Somente_Qtde,'N') = 'N'
	   And (
		         @IdItem       = 0 
			  Or Itens.Id_Item = @IdItem
		    )
       And Exists (
					Select Id_Item 
					From Estoque_Saldo_Competencia Es 
					Where Es.Id_Item = Itens.Id_Item
				   )
)
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Inclui o Que Teve Mov no Estoque e Existe na Tabela Estoque_Saldo_Competencia     */
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Insert Into #TempEstoque (
					       Id_Empresa, Id_Item, id_item_original, Descr_Dep, Observacao ,Codigo_Item, Descricao_Item, Id_Mov, 
						   Dt_Transacao, Documento, id_nf, Tipo_Mov_Cod, Tipo_Mov_Descr,
						   Quantidade, Entrada_Saida, Custo_Unitario, Sequencia
						 )
Select 
   Id_Empresa 
,  Id_Item
,  Id_Item_Original 
,  Descr_Dep
,  texto_livre
,  codigo 
,  descricao 
,  Id_Mov 
,  Dt_Transacao 
,  Documento 
,  id_nf 
,  Tipo_Mov_Cod 
,  Tipo_Mov_Descr 
,  Quantidade 
,  Entrada_Saida 
,  Custo_Unitario 
,  Sequencia
From MovimentosNumerados

Union 

Select 
   Esc.Id_Empresa
,  Esc.Id_Item
,  Id_Item_Original = Null
,  Null as Descr_Dep
,  Texto_Livre	    = Null
,  Itens.Codigo
,  Itens.Descricao
,  0 As Id_Mov
,  DateFromParts(Year(@DataInicio), Month(@DataInicio), 1) As Dt_Transacao
, 'Saldo Inicial' AS Documento
,  Null As Id_Nf
,  Null As Tipo_Mov_Cod  
,  Null As Tipo_Mov_Descr   
,  Esc.Saldo_Qtd_Final As Quantidade
,  'E' As Entrada_Saida
,  Esc.Custo_Medio As Custo_Unitario
,  0 As Sequencia  -- Saldo inicial sempre terá sequência 0
From Estoque_Saldo_Competencia Esc
Inner Join @RelevantItems RI On  Ri.Id_Empresa = Esc.Id_Empresa 
							 And Ri.Id_Item    = Esc.Id_Item
Inner Join Itens			 On  Itens.Id_Item = Ri.Id_Item
Where Esc.AnoMes = Format(DateAdd(Month, -1, @DataInicio), 'yyyy/MM')
And Esc.Id_Empresa = @IdEmpresa
And (
	    @IdItem       = 0 
	 Or Itens.Id_Item = @IdItem
	)

Union 

--> Unifica as Mov Ausentes
Select *
From Cte_Itens_Mov_Ausentes
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Atualiza a Quantidade Com Sinal												    */
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Update #TempEstoque 
Set Quantidade_Sinal = Case 
							When Entrada_Saida = 'E' Then Quantidade 
							Else -Quantidade 
					   End

--select *
--from #TempEstoque
--order by Sequencia asc
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Declaração das Variáveis Para os Cálculos Abaixo do Cursor					    */
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Declare @SaldoQuantidade Decimal (18,3) = 0
,		@SaldoValor Decimal (38,18) = 0
,		@CustoMedio Decimal (38,18) = 0
,		@CurrentIdEmpresa Int = 0
,		@CurrentIdItem Int = 0
,		@Id_Empresa Int
,		@Id_Item Int
,		@Id_Mov  Int
,		@Entrada_Saida Char (1)
,		@Quantidade Decimal (38,18)
,		@CustoUnitario Decimal (38,18)
,		@ValorMov Decimal (38,18)
,	    @TipoMovCod Varchar(10)
,		@Id_Item_Original Int

-- Cursor Para Percorrer os Movimentos
Declare Cur_Movimentos Cursor For
Select 
    Id_Empresa,
    Id_Item,
    Id_Mov,
    Entrada_Saida,
    Quantidade,
    Custo_Unitario,
    Tipo_Mov_Cod,
    Id_Item_Original 
From #TempEstoque
Order By Id_Empresa, Id_Item, Dt_Transacao, Sequencia, Id_Mov;

Open Cur_Movimentos;
Fetch Next From Cur_Movimentos Into @Id_Empresa, @Id_Item, @Id_Mov, @Entrada_Saida, @Quantidade, @CustoUnitario, @TipoMovCod, @Id_Item_Original;

While @@Fetch_Status = 0
Begin
    -- Reinicia os Valores Quando Muda a Empresa ou o Item
   If (
          @CurrentIdEmpresa != @Id_Empresa 
       Or @CurrentIdItem    != @Id_Item
      )

      Begin
          Set @CurrentIdEmpresa = @Id_Empresa;
          Set @CurrentIdItem = @Id_Item;
          Set @SaldoQuantidade = 0;
          Set @SaldoValor = 0;
          Set @CustoMedio = 0;
      End;

	--> Apenas Quando Id_Mov for 0, Usa a Quantidade Original (Saldo inicial)
   If (
	   @Id_Mov = 0
	  )
		Begin
		    Set @SaldoQuantidade = @Quantidade
		End
   Else
		Begin
			Set @SaldoQuantidade = @SaldoQuantidade + (Case When @Entrada_Saida = 'E' Then @Quantidade Else -@Quantidade End);
		End;


--> Nova Regra: Manter os Valores da Ùltima Entrada (tipo E) Para TRE ou EFU
   If (
   	   @TipoMovCod = 'Tre'
      )
		Begin --> Inicio Bloco If
				-- Busca Custo Unitário na Tabela Estoque_Saldo_Competencia do Id_Item_Original no Mês Anterior ao @DataInicio
				SelecT Top 1 @CustoUnitario = Custo_Medio
				From Estoque_Saldo_Competencia
				Where Id_Empresa = @Id_Empresa
				And Id_Item = @Id_Item_Original
				And AnoMes = Format(DateAdd(Month, -1, @DataInicio), 'yyyy/MM')
				Order By AnoMes Desc;

				-- Se Nao Encontrado Busca o Custo Unitario no Ùltimo Mov Item Transferido no Mes Atual Proc: SpCalculaCustoMedioEstoque_3
			If (
				@CustoUnitario = 0
			   )
				Begin
				    Select Top 1 @CustoUnitario = Custo_Unitario
					From tempEstoque_3
				    Where id_item = @Id_Item_Original
				    Order By Sequencia DEsc;
				End


		End --> Fim Bloco If

   If (
   	   @TipoMovCod = 'Efu'
      )
		Begin
		    -- Busca o custo unitário da última entrada tipo 'E'
		    Select Top 1 @CustoUnitario = Custo_Unitario
		    From #TempEstoque
		    Where Id_Empresa = @Id_Empresa 
		    And Id_Item = @Id_Item
		    And Entrada_Saida = 'E'
		    And Id_Mov < @Id_Mov
		    Order By Dt_Transacao Desc, Sequencia Desc, Id_Mov Desc;
		
		    -- Caso não encontre, mantém o custo médio atual como fallback
		    If (
				@CustoUnitario Is Null
			   )
		        Set @CustoUnitario = @CustoMedio;
		
		    -- Valor_Mov baseado no custo unitário encontrado
				Set @ValorMov = Cast(@Quantidade As Float) * Cast(@CustoUnitario As Float);
		
			If (
				Abs(@ValorMov) > 99999999999999999999.999999999999999999
			   )
				Set @ValorMov = 99999999999999999999.999999999999999999;
		    Else
		        Set @ValorMov = Cast(@ValorMov As Decimal(38,18));
		
		    -- Ajuste de Saldo_Valor com base em Entrada ou Saída
		    If (
				@Entrada_Saida = 'E'
			   )
		        Set @SaldoValor = Cast(@SaldoValor As Float) + Cast(@ValorMov As Float);
		    Else
		        Set @SaldoValor = Cast(@SaldoValor As Float) - Cast(@ValorMov As Float);
		
			If (
				Abs(@SaldoValor) > 99999999999999999999.999999999999999999
			   )
		        Set @SaldoValor = Sign(@SaldoValor) * 99999999999999999999.999999999999999999;
		    Else
		        Set @SaldoValor = Cast(@SaldoValor As Decimal(38,18));
		End
   Else
		Begin
		    -- Mantém o código original aqui para outros tipos de movimento
		    If (
				@Entrada_Saida = 'E'
			   )
				Begin
				    Set @ValorMov   = @Quantidade * @CustoUnitario
				    Set @SaldoValor = @SaldoValor + @ValorMov;
				End
		    Else
				Begin
				    Set @ValorMov   = @Quantidade * @CustoMedio;
				    Set @SaldoValor = @SaldoValor - @ValorMov;
				End
		End


-- Calcula Novo Custo_Medio
  If (
	  @Id_Mov = 0
	 )
		Begin
		    -- Para saldo inicial, atribuir diretamente o custo inicial.
		    Set @CustoMedio = @CustoUnitario;
		    Set @SaldoValor = @CustoMedio * @SaldoQuantidade; --garante saldo_valor correto desde o início
		End
  Else 
		If (
			@SaldoQuantidade > 0
		   )
			Begin
			    Set @CustoMedio = Cast(@SaldoValor As Float) / Cast(@SaldoQuantidade As Float);

			If (
				Abs(@CustoMedio) > 99999999999999999999.999999999999999999
			   )
				Set @CustoMedio = 99999999999999999999.999999999999999999;
			Else
				Set @CustoMedio = Cast(@CustoMedio As Decimal(38,18));
			End
		Else
				Set @CustoMedio = 0;


    -- Atualiza a Tabela Temporária
    Update #TempEstoque
    Set Valor_Mov        = @ValorMov,
        Saldo_Quantidade = @SaldoQuantidade,
        Saldo_Valor      = @SaldoValor,
        Custo_Medio      = @CustoMedio,
        Custo_Unitario   = @CustoUnitario
    Where Id_Empresa = @Id_Empresa 
      And Id_Item    = @Id_Item 
      And Id_Mov     = @Id_Mov;

    Fetch Next From Cur_Movimentos Into @Id_Empresa, @Id_Item, @Id_Mov, @Entrada_Saida, @Quantidade, @CustoUnitario, @TipoMovCod, @Id_Item_Original;
End;

	Close Cur_Movimentos;
	Deallocate Cur_Movimentos;
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Exec a Procedure Auxiliar que Calcula o Custo Unitario Se o Item For de Transf    */
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Begin
	Execute Dbo.SpCalculaCustoMedioEstoque_2 4, @DataInicio, @DataFim, 0, 0 --> Tabela Atualizada da Proc: TempEstoque_2
End 
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Após Rodar a Segunda Procedure Atualiza o Valor na Base Principal				    */
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Update Te
Set Te.Custo_Unitario	= Te2.Custo_Unitario,
    Te.Quantidade_Sinal = Te2.Quantidade_Sinal,
    Te.Valor_Mov		= Te2.Valor_Mov,
    Te.Saldo_Quantidade = Te2.Saldo_Quantidade,
    Te.Saldo_Valor		= Te2.Saldo_Valor,
    Te.Custo_Medio		= Te2.Custo_Medio
From #TempEstoque Te
Join TempEstoque_2 Te2 On  (Te.Id_Item   = Te2.Id_Item  ) --> Relaciona pelo Id_Item_Original
					   And (Te.Sequencia = Te2.Sequencia)
Where Te2.Id_Item != Te2.Id_Item_Original;				  --> Garante que só atualiza itens com Id_Item diferente do original
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Após Rodar a Segunda Procedure Atualiza o Valor na Base Principal				    */
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Drop Table If Exists #CompMes
Select 
   Esc.Id_Empresa
,  Esc.Id_Item
,  Id_Item_Original = Null
,  Null As Descr_Dep
,  Texto_Livre	    = Null
,  Itens.Codigo
,  Itens.Descricao
,  0 As Id_Mov
,  DateFromParts(Year(@DataInicio), Month(@DataInicio), 1) As Dt_Transacao
, 'Saldo Inicial' As Documento
,  Esc.Saldo_Custo_Inicial
,  Esc.Saldo_Custo_Final
,  Null As Id_Nf
,  Null As Tipo_Mov_Cod  
,  Null As Tipo_Mov_Descr   
,  Esc.Saldo_Qtd_Final As Quantidade
,  'E' As Entrada_Saida
,  Esc.Custo_Medio As Custo_Unitario
,  0 As Sequencia  -- Saldo inicial sempre terá sequência 0
Into #CompMes
From Estoque_Saldo_Competencia Esc
Inner Join @RelevantItems RI On  Ri.Id_Empresa = Esc.Id_Empresa 
							 And Ri.Id_Item    = Esc.Id_Item
Inner Join Itens			 On  Itens.Id_Item = Ri.Id_Item
Where Esc.AnoMes = Format(DateAdd(Month, -1, @DataInicio), 'yyyy/MM')
And Esc.Id_Empresa = @IdEmpresa
And (
	    @IdItem       = 0 
	 Or Itens.Id_Item = @IdItem
	)

Update Pai
Set saldo_valor = Dim.Saldo_Custo_Final
,	Custo_Medio = dim. Custo_Unitario
From #TempEstoque Pai
Join #CompMes	  Dim On  Dim.id_empresa = Pai.id_empresa
					  And Dim.id_item    = Pai.id_item
					  And Dim.documento  = Pai.Documento Collate latin1_general_ci_ai
					  And Dim.Dt_Transacao = Convert(Date,Pai.Dt_Transacao)
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Resultado Final Exibido Pela Procedure, Com Parametro de Apenas o Ult ou Nao	    */
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
If (
     @ApenasUltimo = 1 
   )
-- Traz Apenas o Ùlltimo Movimento Com a Maior Sequência de Cada Item
	Begin
		;With UltimosMovimentos As (
	        Select
	            Id_Empresa,
	            Id_Item,
	            Max(Sequencia) As MaxSequencia
	        From #TempEstoque
			Where Convert(Date,Dt_Transacao) BetWeen @DataInicio And @DataFim
	        GrouP By Id_Empresa, Id_Item
	       )
	        Select 
	            te.Id_Empresa,
				te.Descr_Dep,
	            te.Id_Item,
	            te.Codigo_Item,
	            te.Descricao_Item,
	            te.Dt_Transacao,
	            te.Documento,
				te.id_nf,
	            te.Tipo_Mov_Cod,    
	            te.Tipo_Mov_Descr,
	            te.Quantidade,
	            te.Entrada_Saida,
	            Iif(te.Entrada_Saida = 'S', te.Custo_Medio, te.Custo_Unitario) AS Custo_Unitario,
	            te.Quantidade_Sinal,
	            te.Valor_Mov,
	            te.Saldo_Quantidade,
	            te.Saldo_Valor,
	            te.Custo_Medio,
	            te.Sequencia,
				Texto_Livre = te.Observacao
	        From #TempEstoque te
	        Inner Join UltimosMovimentos Um On  Te.Id_Empresa = Um.Id_Empresa 
											And Te.Id_Item	  = Um.Id_Item
											And Te.Sequencia  = Um.MaxSequencia
			Where Convert(Date,Te.Dt_Transacao) Between @DataInicio And @DataFim
			Order By Id_Empresa, Descricao_Item, Sequencia, Dt_Transacao, Id_Mov;
	End

Else
   Begin
	 -- Traz Todas as Movimentações
		    Select 
		        Id_Mov,
		        Id_Empresa,
				Descr_Dep,
		        Id_Item,
		        Codigo_Item,
		        Descricao_Item,
		        Dt_Transacao,
		        Documento,
				id_nf,
		        Tipo_Mov_Cod,    
		        Tipo_Mov_Descr,
		        Quantidade,
		        Entrada_Saida,
		        Iif(Entrada_Saida = 'S', Custo_Medio, Custo_Unitario) As Custo_Unitario,
		        Quantidade_Sinal,
		        Valor_Mov,
		        Saldo_Quantidade,
		        Saldo_Valor,
		        Custo_Medio,
		        Sequencia,
				Texto_Livre = Observacao
		    From #TempEstoque
			Where Convert(Date,Dt_Transacao) Between @DataInicio And @DataFim
		    Order By Id_Empresa, Descricao_Item, Sequencia, Dt_Transacao, Id_Mov;
	End

End;