USE [THESYS_DEV]
GO
/****** Object:  StoredProcedure [dbo].[Prc_EnviaBasePreventivo_10_Dias]    Script Date: 21/11/2024 10:14:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER Procedure [dbo].[Prc_EnviaBasePreventivo_10_Dias] As

SELECT 
cod_empresa, 
razao_empresa, 
fantasia_empresa, 
cod_serie, 
nro_titulo, 
parcela, 
cod_tipodocto, 
historico, 
dt_emissao, 
valor, 
saldo, 
cod_portador, 
situacao, 
cod_ocorrencianw, 
dessituacao, 
nro_nobanco, 
enviado_banco, 
cod_cliforbaixa, 
dt_recebimento, 
nro_nfiscal, 
cliente, 
fornec, 
cod_clifor, 
razao, 
fantasia, 
cgc_cpf, 
cod_grpcliente, 
descr_grpcliente, 
cod_grpfornec, 
descr_grpfornec, 
valor_taxa, 
dt_limitedescto, 
calculardescto, 
tipodescto, 
calcularjuros, 
tipojuros, 
calcularmulta, 
tipomulta, 
valordescto, 
percentualdescto, 
valorjuros, 
percentualjuros, 
valormulta, 
percentualmulta, 
cod_repres, 
razao_rep, 
nro_diascredito, 
tipo_titulo, 
antecipacao, 
protestado, 
negociacao, 
status, 
descr_tipodocto, 
cod_natrecdesp, 
descricao_natrecdesp, 
tipo_natrecdesp, 
cod_situacaotitulo, 
desc_situacaotitulo, 
anotacoes, 
dt_baixa, 
dt_bompara, 
valor_rec, 
juros_rec, 
descto_rec, 
cod_tipologradouro, 
endereco, 
end_numero, 
end_complemento, 
bairro, 
cidade, 
cep, 
telefone1, 
telefone2, 
email, 
portadores_mov,
ltrim(rtrim(parcela)) + '/' + right('0' + ltrim(rtrim(cast(parcelas_total as varchar(10)))), 2) as Parcela_De,
convert(date,getdate()) Dia_Atual,
DateDiff(Day,Dt_Vencto, GetDate()) Dias,
convert(date,dt_vencto) as dt_vencto
FROM openquery([Mbm_Rubberon], '
    SELECT 
        b1.cod_empresa,		
        b1.razao_empresa, 
        b1.fantasia_empresa, 
        b1.cod_serie, 
        b1.nro_titulo, 
        b1.parcela, 
        b1.cod_tipodocto, 
        b1.historico, 
        b1.dt_emissao, 
        b1.dt_vencto, 
        b1.valor, 
        b1.saldo, 
        b1.cod_portador, 
        b1.situacao, 
        b1.cod_ocorrencianw, 
        b1.dessituacao, 
        b1.nro_nobanco, 
        b1.enviado_banco, 
        b1.cod_cliforbaixa, 
        b1.dt_recebimento, 
        b1.nro_nfiscal, 
        b1.cliente, 
        b1.fornec, 
        b1.cod_clifor, 
        b1.razao, 
        b1.fantasia, 
        b1.cgc_cpf, 
        b1.cod_grpcliente, 
        b1.descr_grpcliente, 
        b1.cod_grpfornec, 
        b1.descr_grpfornec, 
        b1.valor_taxa, 
        b1.dt_limitedescto, 
        b1.calculardescto, 
        b1.tipodescto, 
        b1.calcularjuros, 
        b1.tipojuros, 
        b1.calcularmulta, 
        b1.tipomulta, 
        b1.valordescto, 
        b1.percentualdescto, 
        b1.valorjuros, 
        b1.percentualjuros, 
        b1.valormulta, 
        b1.percentualmulta, 
        b1.cod_repres, 
        b1.razao_rep, 
        b1.nro_diascredito, 
        b1.tipo_titulo, 
        b1.antecipacao, 
        b1.protestado, 
        b1.negociacao, 
        b1.status, 
        b1.descr_tipodocto, 
        b1.cod_natrecdesp, 
        b1.descricao_natrecdesp, 
        b1.tipo_natrecdesp, 
        b1.cod_situacaotitulo, 
        b1.desc_situacaotitulo, 
        b1.anotacoes, 
        b1.dt_baixa, 
        b1.dt_bompara, 
        b1.valor_rec, 
        b1.juros_rec, 
        b1.descto_rec, 
        b1.cod_tipologradouro, 
        b1.endereco, 
        b1.end_numero, 
        b1.end_complemento, 
        b1.bairro, 
        b1.cidade, 
        b1.cep, 
        b1.telefone1, 
        b1.telefone2, 
        b1.email, 
        b1.portadores_mov,
		b2.parcelas_total 
    FROM bi_contasreceber b1
	LEFT JOIN (
    SELECT 
        cod_empresa, 
        cod_serie, 
        nro_titulo, 
        cod_clifor, 
        cast(COUNT(*) as varchar(10)) AS parcelas_total
    FROM bi_contasreceber
    GROUP BY cod_empresa, cod_serie, nro_titulo, cod_clifor
) b2 
ON b1.cod_empresa = b2.cod_empresa 
AND b1.cod_serie = b2.cod_serie 
AND b1.nro_titulo = b2.nro_titulo 
AND b1.cod_clifor = b2.cod_clifor
    WHERE EXTRACT(DAY FROM (current_date - b1.dt_vencto)) = -10
	and b1.situacao = ''AB''
')