USE [THESYS_HOMOLOGACAO]
GO
/****** Object:  StoredProcedure [dbo].[Valida_Notas_Fiscais_MBM_X_TheSys]    Script Date: 02/09/2024 16:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*																								*/
/* Programador: Kaike Natan									                                    */
/* Versao     : Data: 26/07/2024																*/
/* Descricao  : Script de ETL da Base de Notas Fiscais do MBM Para o Thesys_Dev					*/
/*																								*/
/*	Alteracao                                                                                   */
/*        2. Programador: Kaike Natan										 Data: 31/07/2024	*/		
/*           Descricao  : Inclusâo do Join no OpenQuery com Nf_Itens Para Trazer CodPedVenda	*/
/*	Alteracao                                                                                   */
/*        3. Programador: 													 Data: __/__/____	*/		
/*           Descricao  : 																		*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
	ALTER Procedure [dbo].[Valida_Notas_Fiscais_MBM_X_TheSys] As
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Consolida a Base de Notas Fiscais das 5 Empresas do MBM							*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Begin; --> Inicio do Bloco T-SQL
	Set NoCount On;

Drop Table If Exists #BaseNotaFiscal
Select *
,	Cgc_Cpf_C			  = Dbo.Fn_Limpa_NoNum(cgc_cpf			  ) 
,	Cod_Repres_Cnpj_Cgc_C = Dbo.Fn_Limpa_NoNum(cod_repres_cnpj_cgc)
,	Cod_Transp_Cnpj_Cgc_C = Dbo.Fn_Limpa_NoNum(cod_transp_cnpj_cgc)
,	RedeSpacho_Cnpj_Cgc_C = Dbo.Fn_Limpa_NoNum(redespacho_cgc)
,	Pk					  = Trim(Cod_Empresa) + Trim(Cod_Clifor) + Trim(Serie) + Trim(Nro_Nfiscal)
Into #BaseNotaFiscal
From OpenQuery([Mbm_PoliResinas],'
Select 
  Nota_Fiscal.cod_empresa, 
  Nota_Fiscal.cod_clifor, 
  Clifor.cgc_cpf,
  Clifor.razao,
  Cl_2.cgc     as redespacho_cgc,
  Cl_2.razao   as redespacho_razao, 
  Cl_3.cgc_cpf as cod_repres_cnpj_cgc,
  Cl_3.razao   as repres_razao,
  Cl_4.cgc   as cod_transp_cnpj_cgc,
  Cl_4.razao as transp_razao,
  Nota_Fiscal.serie, 
  Nota_Fiscal.nro_nfiscal, 
  Nota_Fiscal.cod_transp, 
  Nota_Fiscal.cod_repres, 
  Nota_Fiscal.cod_tiponatureza, 
  Nota_Fiscal.cod_condpagamento, 
  Nota_Fiscal.nro_nfiscalopertriang, 
  Nota_Fiscal.cod_natoperacao, 
  Nota_Fiscal.redespacho, 
  Nota_Fiscal.entrada_saida, 
  Nota_Fiscal.dt_emissao, 
  Nota_Fiscal.dt_saida, 
  Nota_Fiscal.dt_recebimento, 
  Nota_Fiscal.base_icms, 
  Nota_Fiscal.base_icms_sub, 
  Nota_Fiscal.base_iss, 
  Nota_Fiscal.base_ipi, 
  Nota_Fiscal.valor_icms, 
  Nota_Fiscal.valor_icms_sub, 
  Nota_Fiscal.valor_iss, 
  Nota_Fiscal.valor_ipi, 
  Nota_Fiscal.valor_mercadoria, 
  Nota_Fiscal.valor_csll, 
  Nota_Fiscal.valor_ir, 
  Nota_Fiscal.valor_desconto, 
  Nota_Fiscal.valor_inss, 
  Nota_Fiscal.valor_desp_financ, 
  Nota_Fiscal.valor_total, 
  Nota_Fiscal.valor_bruto, 
  Nota_Fiscal.valor_frete, 
  Nota_Fiscal.valor_seguro, 
  Nota_Fiscal.valor_despesas, 
  Nota_Fiscal.peso_bruto, 
  Nota_Fiscal.valor_importacao, 
  Nota_Fiscal.peso_liquido, 
  Nota_Fiscal.frete, 
  Nota_Fiscal.placa, 
  Nota_Fiscal.volume, 
  Nota_Fiscal.marca, 
  Nota_Fiscal.qtd_caixas, 
  Nota_Fiscal.especie_emb, 
  Nota_Fiscal.nf_gerada, 
  Nota_Fiscal.livro_fiscal, 
  Nota_Fiscal.Usuario_Digitou,
  Nota_Fiscal.dt_cancelado, 
  Nota_Fiscal.motivo_cancelou, 
  Nota_Fiscal.usuario_cancelou, 
  Nota_Fiscal.situacao, 
  cast(Nota_Fiscal.msg_corponf		   as varchar(3000)) as msg_corponf, 
  cast(Nota_Fiscal.msg_dadosadicionais as varchar(8000)) as msg_dadosadicionais, 
  Nota_Fiscal.pis, 
  Nota_Fiscal.cofins, 
  Nota_Fiscal.imp_simples,  
  Nota_Fiscal.valor_desp_aduaneira, 
  Nota_Fiscal.valor_zonafranca, 
  Nota_Fiscal.valor_bcalc_zonafranca, 
  Nota_Fiscal.gerarnf_operatriangular, 
  Nota_Fiscal.valor_bcalc_repasseicms, 
  Nota_Fiscal.valor_repasseicms, 
  Nota_Fiscal.valor_servicos, 
  Nota_Fiscal.tipo_custounitario, 
  Nota_Fiscal.exp_situacao, 
  Nota_Fiscal.destacar_ipinf, 
  Nota_Fiscal.valor_icmsdiferido, 
  Nota_Fiscal.nro_nfe, 
  Nota_Fiscal.nfe_chaveacesso, 
  cast(Nota_Fiscal.nfe_xml as varchar(3000)) as nfe_xml, 
  Nota_Fiscal.cod_tipofrete, 
  Nota_Fiscal.nfe_msgnfcomplemento, 
  cast(Nota_Fiscal.nfe_msgdadosadicionais as varchar(3000)) as nfe_msgdadosadicionais, 
  cast(Nota_Fiscal.nfe_msgcorponf		  as varchar(3000)) as nfe_msgcorponf, 
  Nota_Fiscal.exportacao_ufembarque, 
  Nota_Fiscal.exportacao_localembarque, 
  Nota_Fiscal.sit_documento, 
  Nota_Fiscal.hr_saida, 
  Nota_Fiscal.cte_chave_acesso, 
  Nota_Fiscal.cte_finalidade, 
  Nota_Fiscal.serie_fornec, 
  Nota_Fiscal.aliq_trib_ibpt, 
  Nota_Fiscal.hr_entrada, 
  Nota_Fiscal.consumidor_final, 
  Nota_Fiscal.ind_presenca_comprador, 
  Nota_Fiscal.local_dest_operacao, 
  Nota_Fiscal.nfeletr_protocolorps, 
  Nota_Fiscal.hr_emissao, 
  Nota_Fiscal.base_icms_sub_retido, 
  Nota_Fiscal.valor_icms_sub_retido, 
  Nota_Fiscal.cod_msginfonfref, 
  Nota_Fiscal.valor_fcpicms, 
  Nota_Fiscal.base_fcpicmsst_retido, 
  Nota_Fiscal.cte_codcidadeorigem, 
  Nota_Fiscal.cte_codcidadedestino, 
  Nota_Fiscal.cte_codestadoorigem, 
  Nota_Fiscal.cte_codestadodestino, 
  Nota_Fiscal.cod_formaspagto, 
  Nota_Fiscal.valor_icms_proprio_ant, 
  Nota_Fiscal.base_icms_proprio_ant, 
  Nota_Fiscal.tipo_operacaointermediador, 
  Nota_Fiscal.cod_pedidocompra,
  I_Nf.cod_pedidovenda
From Nota_Fiscal
Inner Join Clifor				  On  (Clifor.Cod_Clifor = Nota_Fiscal.Cod_Clifor )
Left  Join Item_NotaFiscal I_Nf   On  (I_Nf.Cod_Empresa  = Nota_Fiscal.Cod_Empresa)
								  And (I_Nf.Cod_Clifor	 = Nota_Fiscal.Cod_Clifor )
								  And (I_Nf.Serie		 = Nota_Fiscal.Serie	  )
								  And (I_Nf.Nro_NFiscal  = Nota_Fiscal.Nro_NFiscal)
Left  Join Transportadora as Cl_2 On  (Cl_2.Cod_Transp   = Nota_Fiscal.RedeSpacho )
Left  Join Representante  as Cl_3 On  (Cl_3.Cod_Repres   = Nota_Fiscal.Cod_Repres )
Left  Join Transportadora as Cl_4 On  (Cl_4.Cod_Transp   = Nota_Fiscal.Cod_Transp )
Where Nota_Fiscal.Serie != ''IMPORT''')
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Garante a Integridade dos Dados de Acordo Com a PK do MBM							*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Drop Table If Exists #Uniq
Select *
Into #Uniq
From (
		Select *
		,	Rw = Row_Number() Over ( Partition By Pk Order By Pk Desc)
		From #BaseNotaFiscal 
	 )SubQuery
Where Rw = 1
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Limpa os Caracteres Especiais das Coluna de CNPJ e CPF da Tabela Clifor			*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Drop Table If Exists #AuxCLifor
Select *
,	Cnpj_C = Dbo.Fn_Limpa_NoNum(Cnpj)
,	Cpf_C  = Dbo.Fn_Limpa_NoNum(Cpf)
Into #AuxCLifor
From Clifor
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Trazendo Representante, Transp e Transp de Despacho dos Clifor´s Nacionais		*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Drop Table If Exists #Nacional
Select 
	Fato.*
,   Id_Representante  = Repre.cod_clifor
,	Id_Transportadora = Transp.cod_clifor
,	Id_RedeSpacho	  = Spacho.cod_clifor
Into #Nacional
From #Uniq Fato
Left Join #AuxCLifor Repre 
    On  Isnull(Repre.Cnpj_C,Repre.Cpf_C) = Fato.cod_repres_cnpj_cgc_C Collate latin1_general_ci_ai 
    And Fato.cod_repres_cnpj_cgc_C Not In ('00000000000000', '00000000000')

    Or  Repre.razao = Fato.repres_razao Collate latin1_general_ci_ai 
    And Fato.cod_repres_cnpj_cgc_C In ('00000000000000', '00000000000')
	And Isnull(Repre.Cnpj_C, Repre.Cpf_C) In ('00000000000000', '00000000000')

Left Join #AuxCLifor Transp 
    On  Isnull(Transp.Cnpj_C, Transp.Cpf_C) = Fato.cod_transp_cnpj_cgc_C Collate latin1_general_ci_ai 
    And Fato.cod_transp_cnpj_cgc_C Not In ('00000000000000', '00000000000')

    Or  Transp.razao = Fato.transp_razao Collate latin1_general_ci_ai 
    And Fato.cod_transp_cnpj_cgc_C In ('00000000000000', '00000000000')
	And Isnull(Transp.Cnpj_C, Transp.Cpf_C) In ('00000000000000', '00000000000')

Left Join #AuxCLifor Spacho 
    On  Isnull(Spacho.Cnpj_C, Spacho.Cpf_C) = Fato.redespacho_cnpj_cgc_C Collate latin1_general_ci_ai 
    And Fato.redespacho_cnpj_cgc_C Not In ('00000000000000', '00000000000')

    Or  Spacho.razao = Fato.redespacho_razao Collate latin1_general_ci_ai 
    And Fato.redespacho_cnpj_cgc_C In ('00000000000000', '00000000000')
	And Isnull(Spacho.Cnpj_C, Spacho.Cpf_C) In ('00000000000000', '00000000000')

Where Fato.Cgc_Cpf Not In ('00.000.000/0000-00', '000.000.000-00') 
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Trazendo Representante, Transp e Transp de Despacho dos Clifor´s Internacionais	*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Drop Table If Exists #Exterior
Select 
	Fato.*
,   Id_Representante  = Repre.cod_clifor
,	Id_Transportadora = Transp.cod_clifor
,	Id_RedeSpacho	  = Spacho.cod_clifor
Into #Exterior
From #Uniq Fato
Left Join #AuxCLifor Repre 
    On  Isnull(Repre.Cnpj_C,Repre.Cpf_C) = Fato.cod_repres_cnpj_cgc_C Collate latin1_general_ci_ai 
    And Fato.cod_repres_cnpj_cgc_C Not In ('00000000000000', '00000000000')

    Or  Repre.razao = Fato.repres_razao Collate latin1_general_ci_ai 
    And Fato.cod_repres_cnpj_cgc_C In ('00000000000000', '00000000000')
	And Isnull(Repre.Cnpj_C, Repre.Cpf_C) In ('00000000000000', '00000000000')

Left Join #AuxCLifor Transp 
    On  Isnull(Transp.Cnpj_C, Transp.Cpf_C) = Fato.cod_transp_cnpj_cgc_C Collate latin1_general_ci_ai 
    And Fato.cod_transp_cnpj_cgc_C Not In ('00000000000000', '00000000000')

    Or  Transp.razao = Fato.transp_razao Collate latin1_general_ci_ai 
    And Fato.cod_transp_cnpj_cgc_C In ('00000000000000', '00000000000')
	And Isnull(Transp.Cnpj_C, Transp.Cpf_C) In ('00000000000000', '00000000000')

Left Join #AuxCLifor Spacho 
    On  Isnull(Spacho.Cnpj_C, Spacho.Cpf_C) = Fato.redespacho_cnpj_cgc_C Collate latin1_general_ci_ai 
    And Fato.redespacho_cnpj_cgc_C Not In ('00000000000000', '00000000000')

    Or  Spacho.razao = Fato.redespacho_razao Collate latin1_general_ci_ai 
    And Fato.redespacho_cnpj_cgc_C In ('00000000000000', '00000000000')
	And Isnull(Spacho.Cnpj_C, Spacho.Cpf_C) In ('00000000000000', '00000000000')

Where Fato.Cgc_Cpf In ('00.000.000/0000-00', '000.000.000-00')  
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Tabela Temporaria Com as Formas de Pagamento										*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Drop Table If Exists #Aux_FormaPag
Select *
Into #Aux_FormaPag
From Tabela_Padrao
Where Cod_TabelaPadrao = 'Forma_De_Pagamento'
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Tabela Temporaria Com os Tipos de Presenca do Comprador							*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Drop Table If Exists #Aux_TpPreCompador
Select *
Into #Aux_TpPreCompador
From Tabela_Padrao
Where Cod_TabelaPadrao = 'Presenca_Comprador'
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Tabela Temporaria Com os Tipos de Operacao do Intermediador						*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Drop Table If Exists #Aux_OpInter
Select *
Into #Aux_OpInter 
From Tabela_Padrao
Where Cod_TabelaPadrao = 'Operacao_Intermediador'
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Insere Apenas os Dados Incrementais na Tabela Fisica Notas Fiscais do Thesys		*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Declare @ResultCount Int;
Declare @Message Varchar(1000);

Select
	[id_empresa]				= Empresas.Id_Empresa
,	[id_clifor]					= C1.Cod_Clifor
,	[serie_nfiscal]				= Fato.Serie
,	[nro_nfiscal]				= dbo.Fn_Limpa_NoNum(Fato.Nro_Nfiscal)
,	[tipo_emissao]				= Iif(Fato.Entrada_Saida = 'E', 'T', 'P')
,	[entrada_saida]				= Iif(Fato.Entrada_Saida = 'S', 'Saida', 'Entrada')
,	[Usuario_Digitou]			= Us1.Nome
,	[dt_emissao]				= Fato.Dt_Emissao
,	[hr_emissao]				= Fato.Hr_Emissao
,	[dt_recebimento]			= Fato.Dt_Recebimento
,	[hr_entrada]				= Fato.Hr_Entrada
,	[dt_saida]					= Fato.Dt_Saida
,	[hr_saida]					= Fato.Hr_Saida
,	[id_pedido_compra]			= Cp.Id_Pedido
,	[id_processo_importacao]	= Null 
,	[id_pedido_venda]			= Vp.Id_Pedido
,	[id_validacao_fiscal]		= 1 -- 1 = Verificada, -1 e 0 = Pendente
,	[id_natureza_operacao]		= Nt.Id_NaturezaOperacao
,	[sit_documento]				= Fato.Sit_Documento
,	[id_transp]					= Fato.Id_Transportadora
,	[id_transp_redespacho]		= Fato.Id_RedeSpacho
,	[id_representante_vendedor]	= Fato.Id_Representante
,	[id_natopertriang]			= Null
,	[id_cliforopertriang]		= Null
,	[id_condpagamento]			= Pc.Id_Pagamento_Condicao
,	[id_formaspagto]			= Pf.Id_Tabela_Padrao
,	[nfiscal_oper_triang]		= Fato.Nro_NfiscalOperTriang
,	[valor_bruto_itens]			= Fato.Valor_Bruto
,	[valor_desconto]			= Fato.Valor_Desconto
,	[valor_produtos]			= Fato.Valor_Mercadoria
,	[valor_servicos]			= Fato.Valor_Servicos
,	[valor_outras_despesas]		= Fato.Valor_Despesas
,	[valor_despesas_finan]		= Fato.Valor_Desp_Financ
,	[valor_frete]			    = Fato.Valor_Frete
,	[valor_importacao]			= Fato.Valor_Importacao
,	[valor_seguro]				= Fato.Valor_Seguro
,	[valor_bruto_nf]			= Fato.Valor_Bruto
,	[valor_total_nf]			= Fato.Valor_Total
,	[icms_base]					= Fato.Base_Icms
,	[icms_valor]				= Fato.Valor_Icms
,	[icms_oper_prop_base]		= Fato.Base_Icms_Proprio_Ant
,	[icms_oper_prop_valor]		= Fato.Valor_Icms_Proprio_Ant
,	[icms_sub_base]				= Fato.Base_Icms_Sub
,	[icms_sub_valor]			= Fato.Valor_Icms_Sub
,	[icms_sub_ret_ant_base]		= Fato.Base_Icms_Sub_Retido
,	[icms_sub_ret_ant_valor]	= Fato.Valor_Icms_Sub_Retido
,	[icms_diferido]				= Fato.Valor_IcmsDiferido
,	[iss_base]					= Fato.Base_Iss
,	[iss_valor]					= Fato.Valor_Iss
,	[ipi_base]					= Fato.Base_Ipi
,	[ipi_aliquota]				= Fato.aliq_trib_ibpt -- Validar se é esse campo mesmo
,	[ipi_valor]					= Fato.Valor_Ipi
,	[csll_valor]				= Fato.Valor_Csll
,	[irrf_valor]				= Fato.Valor_Ir
,	[ii_valor]					= Null --> Nao achei nada parecido
,	[inss_valor]				= Fato.Valor_Inss
,	[pis_valor]					= Fato.Pis
,	[cofins_valor]				= Fato.Cofins
,	[taxa_siscomex]				= Null --> Nao achei nada parecido
,	[valor_desp_aduaneira]		= Fato.Valor_Desp_Aduaneira
,	[valor_zonafranca]			= Fato.Valor_ZonaFranca
,	[valor_bcalc_zonafranca]	= Fato.Valor_Bcalc_ZonaFranca
,	[peso_bruto]				= Fato.Peso_Bruto
,	[peso_liquido]				= Fato.Peso_Liquido
,	[placa]						= Fato.Placa
,	[volume]					= Fato.Volume
,	[marca]						= Fato.Marca
,	[qtd_caixas]				= Fato.Qtd_Caixas
,	[especie_emb]				= Fato.Especie_Emb
,	[dt_cancelado]				= Fato.Dt_Cancelado
,	[motivo_cancelou]			= Fato.Motivo_Cancelou
,	[usuario_cancelou]			= Us.Codigo
,	[imp_simples]				= Fato.Imp_Simples
,	[gerarnf_operatriangular]	= Fato.GerarNf_OperaTriangular
,	[destacar_ipinf]			= Fato.Destacar_Ipinf
,	[id_tipofrete]				= Tf.Id_Tipo_Frete
,	[id_msg_InfAdFisco]			= Mg.Id_Mensagem
,	[nfe_InfAdFisco]			= Fato.Msg_DadosAdicionais
,	[id_msg_infCpl]				= Null
,	[nfe_infCpl]				= Fato.Nfe_MsgDadosAdicionais
,	[exportacao_ufembarque]		= Uf3.Codigo
,	[exportacao_localembarque]	= Fato.Exportacao_LocalEmbarque
,	[cte_chave_acesso]			= Fato.Cte_Chave_Acesso
,	[serie_fornec]				= Fato.Serie_Fornec
,	[consumidor_final]			= Fato.Consumidor_Final
,	[id_ind_presenca_comprador] = Tp.Id_Tabela_Padrao
,	[id_local_dest_operacao]    = Fato.Local_Dest_Operacao
,	[cte_codcidadeorigem]		= Fato.Cte_CodCidadeOrigem
,	[cte_codcidadedestino]		= Fato.Cte_CodCidadeDestino
,	[cte_codestadoorigem]		= Uf1.Codigo
,	[cte_codestadodestino]		= Uf2.Codigo
,	[incl_data]					= GetDate()
,	[incl_user]					= 'ksantana'
,	[incl_device]				= 'PC/10.1.0.123'
,	[modi_data]					= Null
,	[modi_user]					= Null
,	[modi_device]				= Null
,	[excl_data]					= Null
,	[excl_user]					= Null
,	[excl_device]				= Null
,	[pedido_compra]				= Cp.Nro_Pedido
,	[pedido_venda]				= Vp.Nro_Pedido
,	[id_operacao_intermediador] = Oi.Id_Tabela_Padrao
,	[nfe_chaveacesso]			= Fato.Nfe_ChaveAcesso
,	[nfe_tipo_emissao]			= Null
,	[nfe_cstat]					= Null
,	[nfe_nrec]					= Fato.Nro_Nfe
,	[nfe_nprot]					= Fato.NfEletr_ProtocoloRps
,	[nfe_xmotivo]				= Null
,	[nfe_dhrecbto]				= Null
,	[nfe_cancel_cstat]			= Null
,	[nfe_cancel_nprot]			= Null
,	[nfe_cancel_dh_reg_evento]	= Null
,	[nfe_cancel_xjust]			= Null
,	[nfe_email_dh_envio]		= Null
,	[icms_desonerado_valor]		= Null
,	[icms_desonerado_base]		= Null
,	[custo_total]				= Null
,	[id_carga]					= Null -- Vira do Thesys
,	[validada_sefaz]			= Null -- Vira do Thesys
,	[Pk]						= Fato.Pk
,	[erro_pre_validacao]		= Null
,	[total_retencoes]			= Null
,	[pis_retidofonte]			= Null
,	[cofins_retidofonte]		= Null
,	[ir_retidofonte]			= Null
,	[inss_retidofonte]			= Null
,	[iss_retidofonte]			= Null
,	[csll_retidofonte]			= Null
,	[pis_base]					= Null
,	[cofins_base]				= Null
,	[csll_base]					= Null
,	[inss_base]					= Null
,	[irrf_base]					= Null
,	[ii_base]					= Null
From #Nacional Fato 
Inner Join Empresas					   On  Empresas.Codigo_Antigo     = Fato.Cod_Empresa									 Collate Sql_Latin1_General_Cp1_Ci_Ai
Inner Join #AuxCLifor			As C1  On  Isnull(C1.Cnpj_C,C1.Cpf_C) = Dbo.Fn_Limpa_NoNum(Fato.Cgc_Cpf)					 Collate Sql_Latin1_General_Cp1_Ci_Ai 
									   And Isnull(C1.Cnpj_C,C1.Cpf_C) Not In ('00000000000000','00000000000')			    
Inner Join Natureza_Operacao	As Nt  On  Nt.Cod_NatOperacao		  = Fato.Cod_NatOperacao								 Collate Sql_Latin1_General_Cp1_Ci_Ai
									   And Nt.Id_Empresa_Grupo		  = Empresas.Id_Empresa_Grupo						    
Left  Join Pagamentos_Condicoes As Pc  On  Pc.Cod_CondPagamento		  = Fato.Cod_CondPagamento							     Collate Sql_Latin1_General_Cp1_Ci_Ai
Left  Join #Aux_FormaPag		As Pf  On  Pf.Codigo				  = Fato.Cod_FormasPagto								 Collate Sql_Latin1_General_Cp1_Ci_Ai
Left  Join Usuarios				As Us1 On  Us1.Login				  = Fato.Usuario_Digitou							     Collate Sql_Latin1_General_Cp1_Ci_Ai
Left  Join Usuarios				As Us  On  Us.Login					  = Fato.Usuario_Cancelou							     Collate Sql_Latin1_General_Cp1_Ci_Ai
Left  Join Tipos_frete			As Tf  On  Tf.Cod_Frete				  = Fato.Cod_TipoFrete								     Collate Sql_Latin1_General_Cp1_Ci_Ai
Left  Join Mensagem				As Mg  On  Mg.Cod_Mensagem			  = Fato.Cod_MsgInfoNfRef							     Collate Sql_Latin1_General_Cp1_Ci_Ai
									   And Mg.Id_Empresa_Grupo		  = Empresas.Id_Empresa_Grupo 						    
Left  Join #Aux_TpPreCompador	As Tp  On  Tp.Codigo				  = Fato.Ind_Presenca_Comprador						     Collate Sql_Latin1_General_Cp1_Ci_Ai
Left  Join #Aux_OpInter			As Oi  On  Oi.Codigo				  = Left(Fato.Tipo_OperacaoIntermediador,1)			     Collate Sql_Latin1_General_Cp1_Ci_Ai -- MBM é "-" na nossa tb padrao esta como -1, por isso o left
Left  Join Compras_Pedidos		As Cp  On  Cp.Pk					  = Trim(Fato.Cod_Empresa) + Trim(Fato.Cod_PedidoCompra) Collate Sql_Latin1_General_Cp1_Ci_Ai 
Left  Join Vendas_Pedidos		As Vp  On  Vp.Pk					  = Trim(Fato.Cod_Empresa) + Trim(Fato.Cod_PedidoVenda)  Collate Sql_Latin1_General_Cp1_Ci_Ai 
Left  Join Ufs					As Uf1 On  Uf1.Uf					  = Fato.Cte_CodEstadoOrigem							 Collate Sql_Latin1_General_Cp1_Ci_Ai 
Left  Join Ufs					As Uf2 On  Uf2.Uf					  = Fato.Cte_CodestadoDestino							 Collate Sql_Latin1_General_Cp1_Ci_Ai 
Left  Join Ufs					As Uf3 On  Uf3.Uf					  = Fato.Exportacao_UfEmbarque							 Collate Sql_Latin1_General_Cp1_Ci_Ai 
Where Not Exists (
				   Select *
				   From Dbo.Notas_Fiscais Dim
				   Where Dim.Pk = Fato.Pk Collate Sql_Latin1_General_Cp1_Ci_Ai
				 )
Union All 

Select
	[id_empresa]				= Empresas.Id_Empresa
,	[id_clifor]					= C1.Cod_Clifor
,	[serie_nfiscal]				= Fato.Serie
,	[nro_nfiscal]				= dbo.Fn_Limpa_NoNum(Fato.Nro_Nfiscal)
,	[tipo_emissao]				= Iif(Fato.Entrada_Saida = 'E', 'T', 'P')
,	[entrada_saida]				= Fato.Entrada_Saida
,	[Usuario_Digitou]			= Us1.Nome
,	[dt_emissao]				= Fato.Dt_Emissao
,	[hr_emissao]				= Fato.Hr_Emissao
,	[dt_recebimento]			= Fato.Dt_Recebimento
,	[hr_entrada]				= Fato.Hr_Entrada
,	[dt_saida]					= Fato.Dt_Saida
,	[hr_saida]					= Fato.Hr_Saida
,	[id_pedido_compra]			= Cp.Id_Pedido
,	[id_processo_importacao]	= Null 
,	[id_pedido_venda]			= Vp.Id_Pedido
,	[id_validacao_fiscal]		= Null
,	[id_natureza_operacao]		= Nt.Id_NaturezaOperacao
,	[sit_documento]				= Fato.Sit_Documento
,	[id_transp]					= Fato.Id_Transportadora
,	[id_transp_redespacho]		= Fato.Id_RedeSpacho
,	[id_representante_vendedor]	= Fato.Id_Representante
,	[id_natopertriang]			= Null
,	[id_cliforopertriang]		= Null
,	[id_condpagamento]			= Pc.Id_Pagamento_Condicao
,	[id_formaspagto]			= Pf.Id_Tabela_Padrao
,	[nfiscal_oper_triang]		= Fato.Nro_NfiscalOperTriang
,	[valor_bruto_itens]			= Fato.Valor_Bruto
,	[valor_desconto]			= Fato.Valor_Desconto
,	[valor_produtos]			= Fato.Valor_Mercadoria
,	[valor_servicos]			= Fato.Valor_Servicos
,	[valor_outras_despesas]		= Fato.Valor_Despesas
,	[valor_despesas_finan]		= Fato.Valor_Desp_Financ
,	[valor_frete]			    = Fato.Valor_Frete
,	[valor_importacao]			= Fato.Valor_Importacao
,	[valor_seguro]				= Fato.Valor_Seguro
,	[valor_bruto_nf]			= Fato.Valor_Bruto
,	[valor_total_nf]			= Fato.Valor_Total
,	[icms_base]					= Fato.Base_Icms
,	[icms_valor]				= Fato.Valor_Icms
,	[icms_oper_prop_base]		= Fato.Base_Icms_Proprio_Ant
,	[icms_oper_prop_valor]		= Fato.Valor_Icms_Proprio_Ant
,	[icms_sub_base]				= Fato.Base_Icms_Sub
,	[icms_sub_valor]			= Fato.Valor_Icms_Sub
,	[icms_sub_ret_ant_base]		= Fato.Base_Icms_Sub_Retido
,	[icms_sub_ret_ant_valor]	= Fato.Valor_Icms_Sub_Retido
,	[icms_diferido]				= Fato.Valor_IcmsDiferido
,	[iss_base]					= Fato.Base_Iss
,	[iss_valor]					= Fato.Valor_Iss
,	[ipi_base]					= Fato.Base_Ipi
,	[ipi_aliquota]				= Fato.aliq_trib_ibpt -- Validar se é esse campo mesmo
,	[ipi_valor]					= Fato.Valor_Ipi
,	[csll_valor]				= Fato.Valor_Csll
,	[irrf_valor]				= Fato.Valor_Ir
,	[ii_valor]					= Null --> Nao achei nada parecido
,	[inss_valor]				= Fato.Valor_Inss
,	[pis_valor]					= Fato.Pis
,	[cofins_valor]				= Fato.Cofins
,	[taxa_siscomex]				= Null --> Nao achei nada parecido
,	[valor_desp_aduaneira]		= Fato.Valor_Desp_Aduaneira
,	[valor_zonafranca]			= Fato.Valor_ZonaFranca
,	[valor_bcalc_zonafranca]	= Fato.Valor_Bcalc_ZonaFranca
,	[peso_bruto]				= Fato.Peso_Bruto
,	[peso_liquido]				= Fato.Peso_Liquido
,	[placa]						= Fato.Placa
,	[volume]					= Fato.Volume
,	[marca]						= Fato.Marca
,	[qtd_caixas]				= Fato.Qtd_Caixas
,	[especie_emb]				= Fato.Especie_Emb
,	[dt_cancelado]				= Fato.Dt_Cancelado
,	[motivo_cancelou]			= Fato.Motivo_Cancelou
,	[usuario_cancelou]			= Us.Codigo
,	[imp_simples]				= Fato.Imp_Simples
,	[gerarnf_operatriangular]	= Fato.GerarNf_OperaTriangular
,	[destacar_ipinf]			= Fato.Destacar_Ipinf
,	[id_tipofrete]				= Tf.Id_Tipo_Frete
,	[id_msg_InfAdFisco]			= Mg.Id_Mensagem
,	[nfe_InfAdFisco]			= Fato.Msg_DadosAdicionais
,	[id_msg_infCpl]				= Null
,	[nfe_infCpl]				= Fato.Nfe_MsgDadosAdicionais
,	[exportacao_ufembarque]		= Uf3.Codigo
,	[exportacao_localembarque]	= Fato.Exportacao_LocalEmbarque
,	[cte_chave_acesso]			= Fato.Cte_Chave_Acesso
,	[serie_fornec]				= Fato.Serie_Fornec
,	[consumidor_final]			= Fato.Consumidor_Final
,	[id_ind_presenca_comprador] = Tp.Id_Tabela_Padrao
,	[id_local_dest_operacao]    = Fato.Local_Dest_Operacao
,	[cte_codcidadeorigem]		= Fato.Cte_CodCidadeOrigem
,	[cte_codcidadedestino]		= Fato.Cte_CodCidadeDestino
,	[cte_codestadoorigem]		= Uf1.Codigo
,	[cte_codestadodestino]		= Uf2.Codigo
,	[incl_data]					= GetDate()
,	[incl_user]					= 'ksantana'
,	[incl_device]				= 'PC/10.1.0.123'
,	[modi_data]					= Null
,	[modi_user]					= Null
,	[modi_device]				= Null
,	[excl_data]					= Null
,	[excl_user]					= Null
,	[excl_device]				= Null
,	[pedido_compra]				= Cp.Nro_Pedido
,	[pedido_venda]				= Vp.Nro_Pedido
,	[id_operacao_intermediador] = Oi.Id_Tabela_Padrao
,	[nfe_chaveacesso]			= Fato.Nfe_ChaveAcesso
,	[nfe_tipo_emissao]			= Null
,	[nfe_cstat]					= Null
,	[nfe_nrec]					= Fato.Nro_Nfe
,	[nfe_nprot]					= Fato.NfEletr_ProtocoloRps
,	[nfe_xmotivo]				= Null
,	[nfe_dhrecbto]				= Null
,	[nfe_cancel_cstat]			= Null
,	[nfe_cancel_nprot]			= Null
,	[nfe_cancel_dh_reg_evento]	= Null
,	[nfe_cancel_xjust]			= Null
,	[nfe_email_dh_envio]		= Null
,	[icms_desonerado_valor]		= Null
,	[icms_desonerado_base]		= Null
,	[custo_total]				= Null
,	[id_carga]					= Null -- Vira do Thesys
,	[validada_sefaz]			= Null -- Vira do Thesys
,	[Pk]						= Fato.Pk
,	[erro_pre_validacao]		= Null
,	[total_retencoes]			= Null
,	[pis_retidofonte]			= Null
,	[cofins_retidofonte]		= Null
,	[ir_retidofonte]			= Null
,	[inss_retidofonte]			= Null
,	[iss_retidofonte]			= Null
,	[csll_retidofonte]			= Null
,	[pis_base]					= Null
,	[cofins_base]				= Null
,	[csll_base]					= Null
,	[inss_base]					= Null
,	[irrf_base]					= Null
,	[ii_base]					= Null
From #Exterior Fato 
Inner Join Empresas					   On  Empresas.Codigo_Antigo    = Fato.Cod_Empresa									    Collate Sql_Latin1_General_Cp1_Ci_Ai
Inner Join #AuxCLifor			As C1  On  C1.Razao					 = Fato.Razao										    Collate Sql_Latin1_General_Cp1_Ci_Ai 
									   And Isnull(C1.Cnpj_C,C1.Cpf_C) In ('00000000000000','00000000000')			    
Inner Join Natureza_Operacao	As Nt  On  Nt.Cod_NatOperacao		 = Fato.Cod_NatOperacao								    Collate Sql_Latin1_General_Cp1_Ci_Ai
									   And Nt.Id_Empresa_Grupo		 = Empresas.Id_Empresa_Grupo						    
Left  Join Pagamentos_Condicoes As Pc  On  Pc.Cod_CondPagamento		 = Fato.Cod_CondPagamento							    Collate Sql_Latin1_General_Cp1_Ci_Ai
Left  Join #Aux_FormaPag		As Pf  On  Pf.Codigo				 = Fato.Cod_FormasPagto								    Collate Sql_Latin1_General_Cp1_Ci_Ai
Left  Join Usuarios				As Us1 On  Us1.Login				 = Fato.Usuario_Digitou							        Collate Sql_Latin1_General_Cp1_Ci_Ai
Left  Join Usuarios				As Us  On  Us.Login					 = Fato.Usuario_Cancelou							    Collate Sql_Latin1_General_Cp1_Ci_Ai
Left  Join Tipos_frete			As Tf  On  Tf.Cod_Frete				 = Fato.Cod_TipoFrete								    Collate Sql_Latin1_General_Cp1_Ci_Ai
Left  Join Mensagem				As Mg  On  Mg.Cod_Mensagem			 = Fato.Cod_MsgInfoNfRef							    Collate Sql_Latin1_General_Cp1_Ci_Ai
									   And Mg.Id_Empresa_Grupo		 = Empresas.Id_Empresa_Grupo 						    
Left  Join #Aux_TpPreCompador	As Tp  On  Tp.Codigo				 = Fato.Ind_Presenca_Comprador						    Collate Sql_Latin1_General_Cp1_Ci_Ai
Left  Join #Aux_OpInter			As Oi  On  Oi.Codigo				 = Left(Fato.Tipo_OperacaoIntermediador,1)			    Collate Sql_Latin1_General_Cp1_Ci_Ai -- MBM é "-" na nossa tb padrao esta como -1, por isso o left
Left  Join Compras_Pedidos		As Cp  On  Cp.Pk					 = Trim(Fato.Cod_Empresa) + Trim(Fato.Cod_PedidoCompra) Collate Sql_Latin1_General_Cp1_Ci_Ai 
Left  Join Vendas_Pedidos		As Vp  On  Vp.Pk					 = Trim(Fato.Cod_Empresa) + Trim(Fato.Cod_PedidoVenda)  Collate Sql_Latin1_General_Cp1_Ci_Ai 
Left  Join Ufs					As Uf1 On  Uf1.Uf					 = Fato.Cte_CodEstadoOrigem								Collate Sql_Latin1_General_Cp1_Ci_Ai 
Left  Join Ufs					As Uf2 On  Uf2.Uf					 = Fato.Cte_CodestadoDestino							Collate Sql_Latin1_General_Cp1_Ci_Ai 
Left  Join Ufs					As Uf3 On  Uf3.Uf					 = Fato.Exportacao_UfEmbarque							Collate Sql_Latin1_General_Cp1_Ci_Ai 
Where Not Exists (
				   Select *
				   From Dbo.Notas_Fiscais Dim
				   Where Dim.Pk = Fato.Pk Collate Sql_Latin1_General_Cp1_Ci_Ai
				 )

Set @ResultCount = @@RowCount;

If (
	@ResultCount = 0
   )
	Set @Message = 'Os Dados Estão 100% Espelhados em Ambas as Bases';
Else
    Set @Message = 'Existem ' + Cast(@ResultCount As Varchar(1000)) + ' Registro(s) Não Sincronizado(s) Entre o MBM e o TheSys_Homologacao';

    -- Retorna o resultado e a mensagem
Select 
	@ResultCount As RegistrosNaoSincronizados
,	@Message     As Mensagem;



--> Dropa Tabelas Temporarias da Procedure
Begin 
	Drop Table If Exists #BaseNotaFiscal
	Drop Table If Exists #Uniq
	Drop Table If Exists #AuxCLifor
	Drop Table If Exists #Nacional
	Drop Table If Exists #Exterior
	Drop Table If Exists #Aux_FormaPag
	Drop Table If Exists #Aux_TpPreCompador
	Drop Table If Exists #Aux_OpInter
	Drop Table If Exists #Naturezas_Nao_Correspondidas
End

End; --> Fim do Bloco T-SQL