USE [THESYS_HOMOLOGACAO]
GO
/****** Object:  StoredProcedure [dbo].[Valida_Contas_a_Pagar_MBM_X_TheSys]    Script Date: 02/09/2024 16:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*																								*/
/* Programador: Kaike Natan																		*/
/* Versao     : Data: 07/06/2024																*/
/* Descricao  : Script De ETL Da Tabela De Pagamentos Contas Do MBM Para o Thesys				*/
/*																								*/
/* Alteracao																					*/
/*        2. Programador: Kaike Natan                                      Data: 18/06/2024		*/        
/*           Descricao  : Logica Para Atrela o Titulo Pai ao Filho								*/
/* Alteracao																					*/
/*        3. Programador: Kaike Natan                                      Data: 25/06/2024		*/        
/*           Descricao  : Mudança no Join da Tb Clifor, Agora Feito Por CNPJ/CPF				*/
/* Alteracao																					*/
/*        4. Programador: Kaike Natan                                      Data: 01/07/2024		*/        
/*           Descricao  : Nova Regra Para os Clientes Que São do Exterior						*/
/* Alteracao																					*/
/*        5. Programador: Kaike Natan                                      Data: 10/07/2024		*/        
/*           Descricao  : Inclusâo das Empresas Mg_Polimeros, Nortebag e Polirex				*/
/* Alteracao																					*/
/*        6. Programador: Kaike Natan                                      Data: 17/07/2024		*/        
/*           Descricao  : Mudança no Join Com a Clifor do Exterior Para Apenas Por Razao Social	*/
/* Alteracao																					*/
/*        7. Programador: Kaike Natan                                      Data: 31/07/2024		*/        
/*           Descricao  : Logica para Incluir o Id_nota_Fiscal do Contas a Pagar		    	*/
/* Alteracao																					*/
/*        8. Programador: Kaike Natan                                      Data: 20/08/2024		*/        
/*           Descricao  : Inclusao do Id Bordero na Tabela Vindo da Pagamentos Borderos			*/
/* Alteracao																					*/
/*        9. Programador:                                                  Data: __/__/____		*/        
/*           Descricao  :																		*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
	ALTER Procedure [dbo].[Valida_Contas_a_Pagar_MBM_X_TheSys] As
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Base MBM de Contas a Pagar da PoliResinas											*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Begin;
	Set Nocount On;

Drop table if exists #BaseContasPagarMBM
Select
	Empresa = 'Poliresinas'
,	*
,	Pk      = Trim(cod_empresa) + Trim(cod_clifor) + Trim(serie) + Trim(nro_titulo) + Trim (parcela)
Into #BaseContasPagarMBM
From openquery([Mbm_Poliresinas],'
select 
  fato.cod_empresa, 
  fato.cod_clifor,
  clifor.cgc_cpf,
  clifor.razao,
  fato.serie, 
  fato.nro_titulo, 
  fato.parcela, 
  fato.cod_portador, 
  fato.pai_codclifor, 
  fato.pai_serie, 
  fato.cod_tipopagto, 
  fato.pai_nrotitulo, 
  fato.cod_tipodocto, 
  tipodocto.descricao as descricao_doc, 
  fato.pai_parcela, 
  fato.dt_emissao, 
  fato.dt_vencto, 
  fato.dt_baixa, 
  fato.valor, 
  fato.saldo, 
  fato.situacao, 
  fato.historico,  
  fato.calcularjuros, 
  fato.tipojuros, 
  fato.valorjuros, 
  fato.percentualjuros, 
  fato.calcularmulta, 
  fato.tipomulta, 
  fato.valormulta, 
  fato.percentualmulta, 
  fato.pedido_compra, 
  fato.nro_nfiscal, 
  fato.nro_nobanco, 
  fato.tipo_titulo, 
  fato.origem_titulo, 
  fato.enviado_banco, 
  fato.dt_enviadobanco, 
  fato.valor_ir, 
  fato.cod_ccir, 
  plano_contas.tipo as Tipo_cod_ccir,
  fato.valor_bcalc_ir, 
  fato.valor_iss, 
  fato.valor_inss, 
  fato.cod_cciss,
  p3.tipo as Tipo_cod_cciss,
  fato.valor_bcalc_iss, 
  fato.valor_bcalc_inss, 
  fato.cod_ccinss, 
  p2.tipo as Tipo_cod_ccinss,
  fato.codigo_barra, 
  fato.tipo_codigobarra, 
  fato.cod_ccpis, 
  p4.tipo as Tipo_cod_ccpis,
  fato.valor_bcalc_pis, 
  fato.valor_pis, 
  fato.cod_cccofins, 
  p5.tipo as Tipo_cod_cccofins,
  fato.valor_bcalc_cofins, 
  fato.valor_cofins, 
  fato.cod_cccsll,
  p6.tipo as Tipo_cod_cccsll,
  fato.valor_bcalc_csll, 
  fato.valor_csll, 
  cast(fato.anotacoes as varchar(65535)) as anotacoes,  
  fato.liberado_pagto,  
  fato.gps_valorinss,  
  fato.cod_moeda, 
  fato.valor_taxamoeda,  
  fato.cod_pedidovenda,  
  fato.ano_compet_titulo, 
  fato.mes_compet_titulo,
  cpmovi.emp_referencia,
  cpmovi.referencia
from cpcada fato 
left join cpmovi			 on  (cpmovi.cod_empresa		   = fato.cod_empresa  )
							 and (cpmovi.cod_clifor			   = fato.cod_clifor   )
							 and (cpmovi.serie				   = fato.serie        )
							 and (cpmovi.nro_titulo			   = fato.nro_titulo   )
							 and (cpmovi.parcela			   = fato.parcela      )
left join tipodocto			 on  (tipodocto.cod_tipodocto	   = fato.cod_tipodocto)
left join clifor			 on  (clifor.cod_clifor			   = fato.cod_clifor   )
left join plano_contas		 on  (plano_contas.cod_planocontas = fato.cod_ccir     )
							 and (plano_contas.cod_empresa     = fato.cod_empresa  )
left join plano_contas as p2 on  (p2.cod_planocontas		   = fato.cod_ccinss   )
							 and (p2.cod_empresa			   = fato.cod_empresa  )
left join plano_contas as p3 on  (p3.cod_planocontas		   = fato.cod_cciss    )
							 and (p3.cod_empresa			   = fato.cod_empresa  )
left join plano_contas as p4 on  (p4.cod_planocontas		   = fato.cod_ccpis    )
							 and (p4.cod_empresa			   = fato.cod_empresa  )
left join plano_contas as p5 on  (p5.cod_planocontas		   = fato.cod_cccofins )
							 and (p5.cod_empresa			   = fato.cod_empresa  )
left join plano_contas as p6 on  (p6.cod_planocontas		   = fato.cod_cccsll   )
							 and (p6.cod_empresa			   = fato.cod_empresa  )
where fato.tipo_titulo != ''P''')
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Garante a Integridade dos Dados de Acordo Com a Chave Unica do MBM				*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Drop Table If Exists #Uniq
Select *
Into #Uniq
From (
		Select *
		,	Rw = Row_Number() Over ( Partition By Pk Order By (
																Case 
																	When Referencia Is Null Then 0 
																	Else 1 
																End
															  ) 
																Desc
								   )
		From #BaseContasPagarMBM
)SubQuery
Where Rw = 1
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Inclui Os Calculos de Imposto na Tabela											*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Drop Table If Exists #BaseImpostos
Select *
, ir_perc	  = Cast(Round((valor_ir     / NullIf(valor_bcalc_ir,     0)) * 100, 2) As Numeric(10,2))
, iss_perc	  = Cast(Round((valor_iss    / NullIf(valor_bcalc_iss,    0)) * 100, 2) As Numeric(10,2))
, inss_perc	  = Cast(Round((valor_inss   / NullIf(valor_bcalc_inss,   0)) * 100, 2) As Numeric(10,2))		 
, pis_perc	  = Cast(Round((valor_pis    / NullIf(valor_bcalc_pis,    0)) * 100, 2) As Numeric(10,2))			 
, cofins_perc = Cast(Round((valor_cofins / NullIf(valor_bcalc_cofins, 0)) * 100, 2) As Numeric(10,2))    
, csll_perc   = Cast(Round((valor_csll   / NullIf(valor_bcalc_csll,   0)) * 100, 2) As Numeric(10,2))
Into #BaseImpostos
From #Uniq
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Tabela Padrao Com Os Tipos De Pagamentos Que Popula a Coluna FormaPGTO			*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Drop Table If Exists #Tb_Aux_TpPag
Select *
Into #Tb_Aux_TpPag
From Tabela_Padrao
Where cod_tabelapadrao = 'Tipos_Pagamentos'

Create Nonclustered Index Idx_Cod_Pag On #Tb_Aux_TpPag (Codigo)
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Criação Das ParcelasNumeradas, Somente de Clientes Nacionais						*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Drop Table If Exists #ParcelasNumeradas;
Select *
Into #ParcelasNumeradas
From #BaseImpostos
Where Cgc_Cpf Not In ('00.000.000/0000-00', '000.000.000-00') 
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Criação Das ParcelasNumeradas, Somente de Clientes Internacionais					*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Drop Table If Exists #CNPJ;
Select *
Into #CNPJ
From #BaseImpostos
Where Cgc_Cpf In ('00.000.000/0000-00', '000.000.000-00')
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Layout da Tabela Pagamentos Contas Sem CNPJ = '00.000.000/0000-00'				*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Drop Table If Exists #LayoutTabela
Select 
    [ID_EMPRESA]                = Empresas.id_empresa,
    [empresa]                   = Empresas.nome,
    [cod_empresa]               = Empresas.codigo_antigo,
    [cod_clifor]                = Clifor.cod_clifor,
	parcelasnumeradas.cgc_cpf,
	parcelasnumeradas.razao,
    [serie]                     = Iif(ParcelasNumeradas.serie Is Null Or ParcelasNumeradas.serie = '', '*', ParcelasNumeradas.serie),
    [NumeroTitulo]              = ParcelasNumeradas.nro_titulo,
    [Parcela]                   = parcelasnumeradas.Parcela,
    [ID_Portador]               = Portadores.id_portador,
    [ID_FormaPgto]              = #Tb_Aux_TpPag.id_tabela_padrao,
    [ID_TipoDoc]                = Tipos_Documentos.id_tipodoc,
    [DataEmissao]               = Convert(Date, ParcelasNumeradas.dt_emissao),
    [DataVencimento]            = Convert(Date, ParcelasNumeradas.dt_vencto),
    [DataBaixa]                 = Convert(Date, ParcelasNumeradas.Dt_Baixa),
    [Valor]                     = ParcelasNumeradas.valor,
    [Saldo]						= ParcelasNumeradas.Saldo,
    [Situacao]                  = Iif(ParcelasNumeradas.situacao In ('DV','CA'), 'CAN', ParcelasNumeradas.situacao),
    [Historico]                 = ParcelasNumeradas.Historico,
    [CalcularJuros]             = ParcelasNumeradas.CalcularJuros,
    [TipoJuros]                 = ParcelasNumeradas.TipoJuros,
    [ValorJuros]                = ParcelasNumeradas.ValorJuros,
    [PercentualJuros]           = ParcelasNumeradas.PercentualJuros,
    [CalcularMulta]             = ParcelasNumeradas.CalcularMulta,
    [TipoMulta]                 = ParcelasNumeradas.TipoMulta,
    [ValorMulta]                = ParcelasNumeradas.ValorMulta,
    [PercentualMulta]           = ParcelasNumeradas.PercentualMulta,
    [ID_PedidoCompra]           = NULL,
    [NumeroNF]                  = ParcelasNumeradas.nro_nfiscal,
    [NumeroNoBanco]             = ParcelasNumeradas.nro_nobanco,
    [TipoTitulo]                = ParcelasNumeradas.Tipo_Titulo,
    [OrigemTitulo]              = ParcelasNumeradas.Origem_Titulo,
    [EnviadoBanco]              = ParcelasNumeradas.enviado_banco,
    [DataEnvioBanco]            = Convert(Date,ParcelasNumeradas.dt_enviadobanco),
    [ID_Plano_IR]               = P_Ir.id_plano,
    [ir_bcalc]                  = ParcelasNumeradas.valor_bcalc_ir,
    [ir_perc]                   = ir_perc ,
    [ir_valor]                  = ParcelasNumeradas.valor_ir,
    [ID_Plano_ISS]              = P_Iss.id_plano,
    [iss_bcalc]                 = ParcelasNumeradas.valor_bcalc_iss,
    [iss_perc]                  = iss_perc,
    [iss_valor]                 = ParcelasNumeradas.valor_iss,
    [ID_Plano_INSS]             = P_Inss.id_plano,
    [inss_bcalc]                = ParcelasNumeradas.valor_bcalc_inss,
    [inss_perc]                 = inss_perc,
    [inss_valor]                = ParcelasNumeradas.valor_inss,
    [ID_Plano_PIS]              = P_Pis.id_plano,
    [pis_bcalc]                 = ParcelasNumeradas.valor_bcalc_pis,
    [pis_perc]                  = pis_perc,
    [pis_valor]                 = ParcelasNumeradas.valor_pis,
    [ID_Plano_COFINS]           = P_Cofins.id_plano,
    [cofins_bcalc]              = ParcelasNumeradas.valor_bcalc_cofins,
    [cofins_perc]               = cofins_perc,
    [cofins_valor]              = ParcelasNumeradas.valor_cofins,
    [ID_Plano_CSLL]             = P_Csll.id_plano,
    [csll_bcalc]                = ParcelasNumeradas.valor_bcalc_csll,
    [csll_perc]                 = csll_perc,
    [csll_valor]                = ParcelasNumeradas.valor_csll,
    [TipoCodigoBarras]          = ParcelasNumeradas.tipo_codigobarra,
    [CodigoBarras]              = ParcelasNumeradas.codigo_barra,
    [Anotacoes]                 = ParcelasNumeradas.Anotacoes,
    [StatusPagamento]           = ParcelasNumeradas.liberado_pagto,
    [StatusUsuarioID]           = 1,
    [StatusDataHora]            = GetDate(),
    [StatusEnvioBanco]          = Null,
    [GPS_ValorINSS]             = Null,
    [DataAgendamento]           = Convert(Date,Null),
    [ID_Moeda]                  = Null,
    [ValorTaxaMoeda]            = Null,
    [ValorOM]                   = Null,
    [NumeroProcessoImp]         = Null,
    [ParcelaDesdobrada]         = Null,
    [TituloAnoCompetencia]      = ParcelasNumeradas.ano_compet_titulo,
    [TituloMesCompetencia]      = ParcelasNumeradas.mes_compet_titulo,
    [FGTSCodReceita]            = Null,
    [DespImpNumeroProcesso]     = Null,
    [DespImpSequencia]          = Null,
    [incl_data]                 = GetDate(),
    [incl_user]                 = 'ksantana',
    [incl_device]               = 'PC/10.1.0.154',
    [modi_data]                 = Convert(Datetime,Null),
    [modi_user]                 = NULL,
    [modi_device]               = NULL,
    [excl_data]                 = Convert(Datetime,Null),
    [excl_user]                 = Null,
    [excl_device]               = Null,
    [ID_CliFor_SacadorAvalista] = Null,
    [ID_Pag_Solicit]            = Null,
    [id_compra_importacao]      = Null,
    [ID_Bordero]                = Null,
    [ID_Pag_Conta_Agrupado]     = Null,
    [ID_Pag_Conta_Origem]       = Null,
    [titulo_imposto]            = Null,
    [id_nota_fiscal]            = Null,
    [SerieNF]                   = Null,
    [id_tp_pgto_elet]           = Null,
    [NumeroNoCliente]           = Null,
    [ArqRemProc]                = Null,
	[cod_retorno]				= Null,
	[PgtoParcialTemp]			= Null,
	parcelasnumeradas.cod_clifor As cod_clifor_mbm,
	parcelasnumeradas.parcela    As parcela_mbm,
	pai_codclifor,
	pai_serie,
	pai_nrotitulo,
	pai_parcela,
	Pk							= parcelasnumeradas.Pk,
	PK_PagContaOrigem			= Trim(parcelasnumeradas.cod_empresa) + Trim(pai_codclifor) + Trim(pai_serie) + Trim(pai_nrotitulo) + Trim (pai_parcela),
	Fk_Nf						= Trim(parcelasnumeradas.Cod_Empresa) + Trim(parcelasnumeradas.Cod_Clifor) + Trim(parcelasnumeradas.Serie) + Trim(parcelasnumeradas.Nro_Nfiscal),
    Fk_Refer					= Trim(Emp_Referencia) + Trim(Referencia) --> Chave Ùnica que Relaciona Com a Tabela Pagamentos_Borderos
Into #LayoutTabela 
From #ParcelasNumeradas		       As  parcelasnumeradas																	    
Left Join Empresas			       On  empresas.codigo_antigo							  = Parcelasnumeradas.cod_empresa				  Collate sql_latin1_general_cp1_ci_ai
Left Join Clifor				   On  Dbo.Fn_Limpa_NoNum(Isnull(clifor.cnpj,clifor.cpf)) = Dbo.Fn_Limpa_NoNum(Parcelasnumeradas.cgc_cpf) Collate sql_latin1_general_cp1_ci_ai And Isnull(clifor.cnpj,clifor.cpf) Not In ('00.000.000/0000-00','000.000.000-00')
Left Join Portadores		       On  portadores.cod_portador							  = Parcelasnumeradas.cod_portador				  Collate sql_latin1_general_cp1_ci_ai And portadores.id_empresa_grupo = 1584 --> Empresas_Grupos
Left Join Tipos_Documentos	       On  Tipos_Documentos.descricao						  = Parcelasnumeradas.descricao_doc				  Collate sql_latin1_general_cp1_ci_ai
Left Join Plano_Contas As P_Ir     On  P_Ir.Cod_PlanoContas								  = Parcelasnumeradas.Cod_CcIr					  Collate sql_latin1_general_cp1_ci_ai
								   And P_Ir.Tipo										  = Parcelasnumeradas.Tipo_Cod_CcIr				  Collate sql_latin1_general_cp1_ci_ai
Left Join Plano_Contas As P_Iss    On  P_Iss.Cod_PlanoContas							  = Parcelasnumeradas.Cod_CcIss					  Collate sql_latin1_general_cp1_ci_ai
								   And P_Iss.Tipo										  = Parcelasnumeradas.Tipo_Cod_CcIss			  Collate sql_latin1_general_cp1_ci_ai
Left Join Plano_Contas As P_Inss   On  P_Inss.Cod_PlanoContas							  = Parcelasnumeradas.Cod_CcInss				  Collate sql_latin1_general_cp1_ci_ai
								   And P_Inss.Tipo										  = Parcelasnumeradas.Tipo_Cod_CcInss			  Collate sql_latin1_general_cp1_ci_ai
Left Join Plano_Contas As P_Pis    On  P_Pis.Cod_PlanoContas							  = Parcelasnumeradas.Cod_CcPis					  Collate sql_latin1_general_cp1_ci_ai
								   And P_Pis.Tipo										  = Parcelasnumeradas.Tipo_Cod_CcPis			  Collate sql_latin1_general_cp1_ci_ai
Left Join Plano_Contas As P_Cofins On  P_Cofins.Cod_PlanoContas							  = Parcelasnumeradas.Cod_CcCofins				  Collate sql_latin1_general_cp1_ci_ai
								   And P_Cofins.Tipo									  = Parcelasnumeradas.Tipo_Cod_CcCofins			  Collate sql_latin1_general_cp1_ci_ai
Left Join Plano_Contas As P_Csll   On  P_Csll.Cod_PlanoContas							  = Parcelasnumeradas.Cod_Cccsll				  Collate sql_latin1_general_cp1_ci_ai
								   And P_Csll.Tipo										  = Parcelasnumeradas.Tipo_Cod_Cccsll			  Collate sql_latin1_general_cp1_ci_ai
Left Join #Tb_Aux_TpPag			   On  #Tb_Aux_TpPag.codigo								  = Parcelasnumeradas.Cod_TipoPagto				  Collate sql_latin1_general_cp1_ci_ai
--Where Clifor.cod_clifor is null
Where parcelasnumeradas.Empresa = 'Poliresinas'
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Layout da Tabela Pagamentos Contas Com CNPJ = '00.000.000/0000-00'				*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Drop Table If Exists #LayoutTabela_CNPJ
Select 
    [ID_EMPRESA]                = Empresas.id_empresa,
    [empresa]                   = Empresas.nome,
    [cod_empresa]               = Empresas.codigo_antigo,
    [cod_clifor]                = Clifor.cod_clifor,
	parcelasnumeradas.cgc_cpf,
	parcelasnumeradas.razao,
    [serie]                     = Iif(ParcelasNumeradas.serie Is Null Or ParcelasNumeradas.serie = '', '*', ParcelasNumeradas.serie),
    [NumeroTitulo]              = ParcelasNumeradas.nro_titulo,
    [Parcela]                   = parcelasnumeradas.Parcela,
    [ID_Portador]               = Portadores.id_portador,
    [ID_FormaPgto]              = #Tb_Aux_TpPag.id_tabela_padrao,
    [ID_TipoDoc]                = Tipos_Documentos.id_tipodoc,
    [DataEmissao]               = Convert(Date, ParcelasNumeradas.dt_emissao),
    [DataVencimento]            = Convert(Date, ParcelasNumeradas.dt_vencto),
    [DataBaixa]                 = Convert(Date, ParcelasNumeradas.Dt_Baixa),
    [Valor]                     = ParcelasNumeradas.valor,
    [Saldo]						= ParcelasNumeradas.Saldo,
    [Situacao]                  = Iif(ParcelasNumeradas.situacao In ('DV','CA'), 'CAN', ParcelasNumeradas.situacao),
    [Historico]                 = ParcelasNumeradas.Historico,
    [CalcularJuros]             = ParcelasNumeradas.CalcularJuros,
    [TipoJuros]                 = ParcelasNumeradas.TipoJuros,
    [ValorJuros]                = ParcelasNumeradas.ValorJuros,
    [PercentualJuros]           = ParcelasNumeradas.PercentualJuros,
    [CalcularMulta]             = ParcelasNumeradas.CalcularMulta,
    [TipoMulta]                 = ParcelasNumeradas.TipoMulta,
    [ValorMulta]                = ParcelasNumeradas.ValorMulta,
    [PercentualMulta]           = ParcelasNumeradas.PercentualMulta,
    [ID_PedidoCompra]           = NULL,
    [NumeroNF]                  = ParcelasNumeradas.nro_nfiscal,
    [NumeroNoBanco]             = ParcelasNumeradas.nro_nobanco,
    [TipoTitulo]                = ParcelasNumeradas.Tipo_Titulo,
    [OrigemTitulo]              = ParcelasNumeradas.Origem_Titulo,
    [EnviadoBanco]              = ParcelasNumeradas.enviado_banco,
    [DataEnvioBanco]            = Convert(Date,ParcelasNumeradas.dt_enviadobanco),
    [ID_Plano_IR]               = P_Ir.id_plano,
    [ir_bcalc]                  = ParcelasNumeradas.valor_bcalc_ir,
    [ir_perc]                   = ir_perc ,
    [ir_valor]                  = ParcelasNumeradas.valor_ir,
    [ID_Plano_ISS]              = P_Iss.id_plano,
    [iss_bcalc]                 = ParcelasNumeradas.valor_bcalc_iss,
    [iss_perc]                  = iss_perc,
    [iss_valor]                 = ParcelasNumeradas.valor_iss,
    [ID_Plano_INSS]             = P_Inss.id_plano,
    [inss_bcalc]                = ParcelasNumeradas.valor_bcalc_inss,
    [inss_perc]                 = inss_perc,
    [inss_valor]                = ParcelasNumeradas.valor_inss,
    [ID_Plano_PIS]              = P_Pis.id_plano,
    [pis_bcalc]                 = ParcelasNumeradas.valor_bcalc_pis,
    [pis_perc]                  = pis_perc,
    [pis_valor]                 = ParcelasNumeradas.valor_pis,
    [ID_Plano_COFINS]           = P_Cofins.id_plano,
    [cofins_bcalc]              = ParcelasNumeradas.valor_bcalc_cofins,
    [cofins_perc]               = cofins_perc,
    [cofins_valor]              = ParcelasNumeradas.valor_cofins,
    [ID_Plano_CSLL]             = P_Csll.id_plano,
    [csll_bcalc]                = ParcelasNumeradas.valor_bcalc_csll,
    [csll_perc]                 = csll_perc,
    [csll_valor]                = ParcelasNumeradas.valor_csll,
    [TipoCodigoBarras]          = ParcelasNumeradas.tipo_codigobarra,
    [CodigoBarras]              = ParcelasNumeradas.codigo_barra,
    [Anotacoes]                 = ParcelasNumeradas.Anotacoes,
    [StatusPagamento]           = ParcelasNumeradas.liberado_pagto,
    [StatusUsuarioID]           = 1,
    [StatusDataHora]            = GetDate(),
    [StatusEnvioBanco]          = Null,
    [GPS_ValorINSS]             = Null,
    [DataAgendamento]           = Convert(Date,Null),
    [ID_Moeda]                  = Null,
    [ValorTaxaMoeda]            = Null,
    [ValorOM]                   = Null,
    [NumeroProcessoImp]         = Null,
    [ParcelaDesdobrada]         = Null,
    [TituloAnoCompetencia]      = ParcelasNumeradas.ano_compet_titulo,
    [TituloMesCompetencia]      = ParcelasNumeradas.mes_compet_titulo,
    [FGTSCodReceita]            = Null,
    [DespImpNumeroProcesso]     = Null,
    [DespImpSequencia]          = Null,
    [incl_data]                 = GetDate(),
    [incl_user]                 = 'ksantana',
    [incl_device]               = 'PC/10.1.0.154',
    [modi_data]                 = Convert(Datetime,Null),
    [modi_user]                 = NULL,
    [modi_device]               = NULL,
    [excl_data]                 = Convert(Datetime,Null),
    [excl_user]                 = Null,
    [excl_device]               = Null,
    [ID_CliFor_SacadorAvalista] = Null,
    [ID_Pag_Solicit]            = Null,
    [id_compra_importacao]      = Null,
    [ID_Bordero]                = Null,
    [ID_Pag_Conta_Agrupado]     = Null,
    [ID_Pag_Conta_Origem]       = Null,
    [titulo_imposto]            = Null,
    [id_nota_fiscal]            = Null,
    [SerieNF]                   = Null,
    [id_tp_pgto_elet]           = Null,
    [NumeroNoCliente]           = Null,
    [ArqRemProc]                = Null,
	[cod_retorno]				= Null,
	[PgtoParcialTemp]			= Null,
	parcelasnumeradas.cod_clifor As cod_clifor_mbm,
	parcelasnumeradas.parcela    As parcela_mbm,
	pai_codclifor,
	pai_serie,
	pai_nrotitulo,
	pai_parcela,
	Pk							= parcelasnumeradas.Pk,
	PK_PagContaOrigem			= Trim(parcelasnumeradas.cod_empresa) + Trim(pai_codclifor) + Trim(pai_serie) + Trim(pai_nrotitulo) + Trim (pai_parcela),
	Fk_Nf						= Trim(parcelasnumeradas.Cod_Empresa) + Trim(parcelasnumeradas.Cod_Clifor) + Trim(parcelasnumeradas.Serie) + Trim(parcelasnumeradas.Nro_Nfiscal),
    Fk_Refer					= Trim(Emp_Referencia) + Trim(Referencia) --> Chave Ùnica que Relaciona Com a Tabela Pagamentos_Borderos
Into #LayoutTabela_CNPJ
From #CNPJ						   As  parcelasnumeradas																	    
Left Join Empresas			       On  empresas.codigo_antigo		= Parcelasnumeradas.cod_empresa		  Collate sql_latin1_general_cp1_ci_ai
Left Join Clifor				   On  Clifor.razao					= parcelasnumeradas.razao			  Collate sql_latin1_general_cp1_ci_ai And Isnull(clifor.cnpj,clifor.cpf) In ('00.000.000/0000-00','000.000.000-00')
Left Join Portadores		       On  portadores.cod_portador		= Parcelasnumeradas.cod_portador	  Collate sql_latin1_general_cp1_ci_ai And portadores.id_empresa_grupo = 1584 And Portadores.id_empresa = Empresas.Id_Empresa
Left Join Tipos_Documentos	       On  Tipos_Documentos.descricao	= Parcelasnumeradas.descricao_doc	  Collate sql_latin1_general_cp1_ci_ai
Left Join Plano_Contas As P_Ir     On  P_Ir.Cod_PlanoContas			= Parcelasnumeradas.Cod_CcIr		  Collate sql_latin1_general_cp1_ci_ai
								   And P_Ir.Tipo					= Parcelasnumeradas.Tipo_Cod_CcIr	  Collate sql_latin1_general_cp1_ci_ai
Left Join Plano_Contas As P_Iss    On  P_Iss.Cod_PlanoContas		= Parcelasnumeradas.Cod_CcIss		  Collate sql_latin1_general_cp1_ci_ai
								   And P_Iss.Tipo					= Parcelasnumeradas.Tipo_Cod_CcIss	  Collate sql_latin1_general_cp1_ci_ai
Left Join Plano_Contas As P_Inss   On  P_Inss.Cod_PlanoContas		= Parcelasnumeradas.Cod_CcInss		  Collate sql_latin1_general_cp1_ci_ai
								   And P_Inss.Tipo					= Parcelasnumeradas.Tipo_Cod_CcInss	  Collate sql_latin1_general_cp1_ci_ai
Left Join Plano_Contas As P_Pis    On  P_Pis.Cod_PlanoContas		= Parcelasnumeradas.Cod_CcPis		  Collate sql_latin1_general_cp1_ci_ai
								   And P_Pis.Tipo					= Parcelasnumeradas.Tipo_Cod_CcPis	  Collate sql_latin1_general_cp1_ci_ai
Left Join Plano_Contas As P_Cofins On  P_Cofins.Cod_PlanoContas		= Parcelasnumeradas.Cod_CcCofins	  Collate sql_latin1_general_cp1_ci_ai
								   And P_Cofins.Tipo				= Parcelasnumeradas.Tipo_Cod_CcCofins Collate sql_latin1_general_cp1_ci_ai
Left Join Plano_Contas As P_Csll   On  P_Csll.Cod_PlanoContas		= Parcelasnumeradas.Cod_Cccsll		  Collate sql_latin1_general_cp1_ci_ai
								   And P_Csll.Tipo					= Parcelasnumeradas.Tipo_Cod_Cccsll	  Collate sql_latin1_general_cp1_ci_ai
Left Join #Tb_Aux_TpPag			   On  #Tb_Aux_TpPag.codigo			= Parcelasnumeradas.Cod_TipoPagto	  Collate sql_latin1_general_cp1_ci_ai
Where parcelasnumeradas.Empresa = 'Poliresinas'
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Consoliada as 2 Bases, Após o ETL na Temporaria Final								*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Drop Table If Exists #Final
Select *
Into #Final
From #LayoutTabela

Union All

Select *
From #LayoutTabela_CNPJ
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Referencia a Nota Fiscal do Titulo de Contas a Pagar								*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Update #Final
Set Id_Nota_Fiscal = Dim.Id_Nota_Fiscal

From #Final Fato
Join Notas_Fiscais Dim On Dim.Pk = Fato.Fk_Nf Collate sql_latin1_general_cp1_ci_ai
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Case Para Tratamento da Coluna Tipo Titulo										*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Alter Table #Final 
Alter Column TipoTitulo Varchar(15)

Update #Final
Set TipoTitulo = Case
					 When TipoTitulo = 'A' Then 'ANTECIPAÇÃO'
					 When TipoTitulo = 'N' Then 'NORMAL'
					 Else 'VERIFICAR'
				 End
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Insert Apenas Do Diferencial Na Tabela											*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Declare @ResultCount Int;
Declare @Message Varchar(1000);

Select 
	SubQuery.[ID_EMPRESA]
,	SubQuery.[empresa]
,	SubQuery.[cod_empresa]
,	SubQuery.[cod_clifor]
,	SubQuery.[serie]
,	SubQuery.[NumeroTitulo]
,	SubQuery.[Parcela]
,	SubQuery.[ID_Portador]
,	SubQuery.[ID_FormaPgto]
,	SubQuery.[ID_TipoDoc]
,	SubQuery.[DataEmissao]
,	SubQuery.[DataVencimento]
,	SubQuery.[DataBaixa]
,	SubQuery.[Valor]
,	SubQuery.[Situacao]
,	SubQuery.[Historico]
,	SubQuery.[CalcularJuros]
,	SubQuery.[TipoJuros]
,	SubQuery.[ValorJuros]
,	SubQuery.[PercentualJuros]
,	SubQuery.[CalcularMulta]
,	SubQuery.[TipoMulta]
,	SubQuery.[ValorMulta]
,	SubQuery.[PercentualMulta]
,	SubQuery.[ID_PedidoCompra]
,	SubQuery.[NumeroNF]
,	SubQuery.[NumeroNoBanco]
,	SubQuery.[TipoTitulo]
,	SubQuery.[OrigemTitulo]
,	SubQuery.[EnviadoBanco]
,	SubQuery.[DataEnvioBanco]
,	SubQuery.[ID_Plano_IR]
,	SubQuery.[ir_bcalc]
,	SubQuery.[ir_perc]
,	SubQuery.[ir_valor]
,	SubQuery.[ID_Plano_ISS]
,	SubQuery.[iss_bcalc]
,	SubQuery.[iss_perc]
,	SubQuery.[iss_valor]
,	SubQuery.[ID_Plano_INSS]
,	SubQuery.[inss_bcalc]
,	SubQuery.[inss_perc]
,	SubQuery.[inss_valor]
,	SubQuery.[ID_Plano_PIS]
,	SubQuery.[pis_bcalc]
,	SubQuery.[pis_perc]
,	SubQuery.[pis_valor]
,	SubQuery.[ID_Plano_COFINS]
,	SubQuery.[cofins_bcalc]
,	SubQuery.[cofins_perc]
,	SubQuery.[cofins_valor]
,	SubQuery.[ID_Plano_CSLL]
,	SubQuery.[csll_bcalc]
,	SubQuery.[csll_perc]
,	SubQuery.[csll_valor]
,	SubQuery.[TipoCodigoBarras]
,	SubQuery.[CodigoBarras]
,	SubQuery.[Anotacoes]
,	SubQuery.[StatusPagamento]
,	SubQuery.[StatusUsuarioID]
,	SubQuery.[StatusDataHora]
,	SubQuery.[StatusEnvioBanco]
,	SubQuery.[GPS_ValorINSS]
,	SubQuery.[DataAgendamento]
,	SubQuery.[ID_Moeda]
,	SubQuery.[ValorTaxaMoeda]
,	SubQuery.[ValorOM]
,	SubQuery.[NumeroProcessoImp]
,	SubQuery.[ParcelaDesdobrada]
,	SubQuery.[TituloAnoCompetencia]
,	SubQuery.[TituloMesCompetencia]
,	SubQuery.[FGTSCodReceita]
,	SubQuery.[DespImpNumeroProcesso]
,	SubQuery.[DespImpSequencia]
,	SubQuery.[incl_data]
,	SubQuery.[incl_user]
,	SubQuery.[incl_device]
,	SubQuery.[modi_data]
,	SubQuery.[modi_user]
,	SubQuery.[modi_device]
,	SubQuery.[excl_data]
,	SubQuery.[excl_user]
,	SubQuery.[excl_device]
,	SubQuery.[ID_CliFor_SacadorAvalista]
,	SubQuery.[ID_Pag_Solicit]
,	SubQuery.[id_compra_importacao]
,	SubQuery.[ID_Bordero]
,	SubQuery.[ID_Pag_Conta_Agrupado]
,   [ID_Pag_Conta_Origem] = Null
,	SubQuery.[titulo_imposto]
,	SubQuery.[id_nota_fiscal]
,	SubQuery.[SerieNF]
,	SubQuery.[id_tp_pgto_elet]
,	SubQuery.[NumeroNoCliente]
,	SubQuery.[ArqRemProc]
,	SubQuery.[cod_retorno]  
,	SubQuery.[PgtoParcialTemp]
,	SubQuery.PK_PagContaOrigem
,	SubQuery.Pk
,	Cod_Autentic_Pag_Elet = Null
,	CodBarras_Atualizado  = Null
From (
	   Select *
	   ,	Rw = Row_Number() Over ( Partition by cod_empresa, cod_clifor_mbm, serie, NumeroTitulo, Parcela_mbm Order By id_tipodoc Desc)
	   From #Final
	 ) SubQuery
Where Rw = 1
And Not Exists (
				 Select 1
				 From Pagamentos_Contas c
				 Where SubQuery.Pk = c.Pk Collate sql_latin1_general_cp1_ci_ai
			   )

Set @ResultCount = @@RowCount;

If (
	@ResultCount = 0
   )
	Set @Message = 'Os Dados Estão 100% Espelhados em Ambas as Bases';
Else
    Set @Message = 'Existem ' + Cast(@ResultCount As Varchar(1000)) + ' Registro(s) Não Sincronizado(s) Entre o MBM e o TheSys_Homologacao';

    -- Retorna o resultado e a mensagem
Select 
	@ResultCount As RegistrosNaoSincronizados
,	@Message     As Mensagem;
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Dropa as Tabelas Temporárias da Procedure											*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Begin 
	Drop Table If Exists #BaseContasPagarMBM
	Drop Table If Exists #Tb_Aux_TpPag
	Drop Table If Exists #ParcelasCTE
	Drop Table If Exists #ParcelasNumeradas
	Drop Table If Exists #LayoutTabela
	Drop Table If Exists #Uniq
	Drop Table If Exists #Final
End

End;