USE [THESYS_HOMOLOGACAO]
GO
/****** Object:  StoredProcedure [dbo].[Valida_PedidosCompras_MBM_X_Thesys]    Script Date: 02/09/2024 16:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*																								*/
/* Programador: Kaike Natan																		*/
/* Versao     : Data: 15/07/2024																*/
/* Descricao  : Script De ETL Da Tabela Compras Pedidos do MBM Para o Thesys					*/
/*																								*/
/* Alteracao																					*/
/*        2. Programador:                                                  Data: __/__/____		*/        
/*           Descricao  :																		*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
	ALTER Procedure [dbo].[Valida_PedidosCompras_MBM_X_Thesys] As
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Base de Pedidos de Compra do MBM das 5 Empresas									*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Begin;
	Set NoCount On;

Drop Table If Exists #BasePedidoCompra
Select *
,	Pk					  = Trim(Cod_Empresa) + Trim(Cod_PedidoCompra)
,	cgc_cpf_C			  = Dbo.Fn_Limpa_NoNum(cgc_cpf) 
,	cod_transp_cnpj_cgc_C = Dbo.Fn_Limpa_NoNum(cod_transp_cnpj_cgc)
Into #BasePedidoCompra
From OpenQuery([Mbm_Poliresinas],'
Select 
  Pedido_Compra.cod_pedidocompra, 
  Pedido_Compra.cod_condpagamento, 
  Pedido_Compra.cod_transp,
  Transp.cgc   as cod_transp_cnpj_cgc,
  Transp.razao as transp_razao,
  comprador.cod_comprador,
  Comprador.cod_usuario, 
  Pedido_Compra.cod_empresa, 
  clifor.cgc_cpf as cgc_cpf,
  clifor.razao   as razao_clifor,
  Pedido_Compra.cod_clifor, 
  Pedido_Compra.cod_moeda, 
  Pedido_Compra.cod_empendentrega, 
  Pedido_Compra.cod_empendcobranca, 
  Pedido_Compra.dt_emissao, 
  Pedido_Compra.contato, 
  Pedido_Compra.dt_previsaoentrega, 
  Pedido_Compra.dt_entrega, 
  Pedido_Compra.dt_confirmacao, 
  Pedido_Compra.val_frete, 
  Pedido_Compra.val_seguro, 
  Pedido_Compra.situacao, 
  Pedido_Compra.dt_cancelou, 
  Pedido_Compra.usuario_cancelou, 
  Pedido_Compra.motivo_cancelou, 
  cast(mensagem as varchar(3000)) as mensagem, 
  Pedido_Compra.impresso, 
  Pedido_Compra.tipo_compra, 
  Pedido_Compra.liberado, 
  Pedido_Compra.nro_contrato, 
  Pedido_Compra.dt_liberacao, 
  Pedido_Compra.payment, 
  Pedido_Compra.exp_situacao, 
  Pedido_Compra.exp_data, 
  Pedido_Compra.exp_hora, 
  Pedido_Compra.freight, 
  Pedido_Compra.etd_eta, 
  Pedido_Compra.porto_aeroporto, 
  Pedido_Compra.dt_change, 
  Pedido_Compra.cod_tipofrete, 
  Pedido_Compra.dt_embarquesolicitado, 
  Pedido_Compra.int_geroupv, 
  Pedido_Compra.int_codempresa, 
  Pedido_Compra.int_codpedvenda, 
  Pedido_Compra.val_despesa, 
  Pedido_Compra.cod_prioridade, 
  Prioridade.descricao as desc_cod_prioridade,
  Pedido_Compra.dt_inclusao 
From Pedido_Compra
Join Clifor						   On  Clifor.Cod_Clifor		= Pedido_Compra.Cod_Clifor
Join Comprador					   On  Comprador.Cod_Comprador	= Pedido_Compra.Cod_Comprador
Left Join Transportadora as Transp On Transp.cod_transp			= Pedido_Compra.cod_transp
Left Join Prioridade			   On Prioridade.cod_prioridade	= Pedido_Compra.cod_prioridade
Where Pedido_Compra.Cod_Empresa != ''001''
And Situacao != ''C''
')
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Atualiza para "MBM Null" os Pedido de Compra Nulos								*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Update #BasePedidoCompra
Set Tipo_Compra = Iif(Tipo_Compra Is Null, 'MBM NULL', Tipo_Compra)
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Limpa CPNP e CPF da Tabela de Clifor Para Melhor Performance no Join Abaixo		*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Drop Table If Exists #CliforTemp
Select 
	Cod_Clifor
,	Razao
,	Cpf_Limpo  = Dbo.Fn_Limpa_NoNum(Cpf )
,	Cnpj_Limpo = Dbo.Fn_Limpa_NoNum(Cnpj)
Into #CliforTemp
From Clifor
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Tabela Aux Padr o de NFE Modais													*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Drop Table If Exists #Aux_Nfe_Modais
Select *
Into #Aux_Nfe_Modais
From Tabela_Padrao
Where Cod_TabelaPadrao = 'Nfe_Modais'
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Traz o Id do Transportado dos Clifor Que S o Nacionais							*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Drop Table If Exists #Base_S_Ex 
Select 
	Fato.*
,   StatusDoc = Case
                    When Fato.Situacao = 'A' Then 'CRIADO'
                    When Fato.Situacao = 'C' Then 'CANCELADO'
                    When Fato.Situacao = 'T' Then 'RECEBIDO TOTAL'
                    Else Fato.Situacao
                End
,	Id_Transportadora = Transp.cod_clifor
Into #Base_S_Ex
From #BasePedidoCompra Fato
Left Join #CliforTemp Transp 
    On  Isnull(Transp.Cnpj_Limpo, Transp.Cpf_Limpo) = Fato.cod_transp_cnpj_cgc_C Collate latin1_general_ci_ai 
    And Fato.cod_transp_cnpj_cgc_C Not In ('00000000000', '00000000000000')

Where Fato.Cgc_Cpf Not In ('00.000.000/0000-00', '000.000.000-00')
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Traz o Id do Transportado dos Clifor Que S o Internacionais						*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Drop Table If Exists #Base_C_Ex
Select 
	Fato.*
,   StatusDoc = Case
                    When Fato.Situacao = 'A' Then 'CRIADO'
                    When Fato.Situacao = 'C' Then 'CANCELADO'
                    When Fato.Situacao = 'T' Then 'RECEBIDO TOTAL'
                    Else Fato.Situacao
                End
,	Id_Transportadora = Transp.cod_clifor
Into #Base_C_Ex
From #BasePedidoCompra Fato
Left Join #CliforTemp Transp 
    On  Isnull(Transp.Cnpj_Limpo, Transp.Cpf_Limpo) = Fato.cod_transp_cnpj_cgc_C Collate latin1_general_ci_ai 
    And Fato.cod_transp_cnpj_cgc_C Not In ('00000000000', '00000000000000')

Where Fato.Cgc_Cpf In ('00.000.000/0000-00', '000.000.000-00')
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: IRemove Duplcados do Clifor Contatos Por Nome										*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Drop Table If Exists #CliContact
Select *
Into #CliContact
From (
		Select *
		,	Rw = Row_Number() Over ( Partition By Nome Order By Nome Desc)
		From clifor_contatos
	 )SubQuery
Where Rw = 1
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Insert Apenas dos Dados Incrementais na Tabela Fisica do Thesys_Dev				*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Declare @ResultCount Int;
Declare @Message Varchar(1000);

Select
	[nro_pedido]				
,	[id_empresa]				
,	[id_fornecedor]				
,	[id_condicao_pagamento]		
,	[id_transportadora]			
,	[id_comprador]				
,	[id_moeda]					
,	[dt_emissao]				
,	[id_clifor_contato]			
,	[dt_previsaoentrega]		
,	[dt_entrega]
,	[dt_confirmacao]			
,	[val_frete]
,	[val_seguro]
,	[StatusId]					
,	[dt_cancelou]
,	[id_usuario_cancelou]		
,	[motivo_cancelou]
,	[mensagem]
,	[impresso]
,	[nro_contrato]
,	[etd_eta]
,	[porto_aeroporto]
,	[payment]
,	[pdc_origem]				
,	[id_tipo_frete]				
,	[dt_embarquesolicitado]
,	[cod_prioridade]			
,	[obs]
,	[id_itinerario]				
,	[id_modal]					
,	[modalCodigo]			   
,	[dt_limite_embarque]		
,	[id_tipo_pedido]			
,	[incl_data]					
,	[incl_user]					
,	[incl_device]				
,	[modi_data]					
,	[modi_user]					
,	[modi_device]				
,	[excl_data]					
,	[excl_user]					
,	[excl_device]				
,	[nro_cotacao]				
,	[Pk]						
From (
		Select
			[nro_pedido]				= Convert(Int,Cod_PedidoCompra)
		,	[id_empresa]				= Empresas.Id_Empresa
		,	[id_fornecedor]				= #CliforTemp.cod_clifor
		,	[id_condicao_pagamento]		= Pagamentos_Condicoes.id_pagamento_condicao
		,	[id_transportadora]			= Fato.Id_Transportadora
		,	[id_comprador]				= Usuarios.Nome
		,	[id_moeda]					= Moedas.id_moeda
		,	[dt_emissao]				= Convert(Date,Fato.dt_emissao)
		,	[id_clifor_contato]			= #CliContact.id_clifor_contatos
		,	[dt_previsaoentrega]		= Convert(Date,Fato.dt_previsaoentrega)
		,	[dt_entrega]
		,	[dt_confirmacao]			= dt_liberacao
		,	[val_frete]
		,	[val_seguro]
		,	[StatusId]					= Status_Docs.StatusID
		,	[dt_cancelou]
		,	[id_usuario_cancelou]		= Usu_2.codigo
		,	[motivo_cancelou]
		,	[mensagem]					= Null
		,	[impresso]
		,	[nro_contrato]
		,	[etd_eta]
		,	[porto_aeroporto]
		,	[payment]
		,	[pdc_origem]				= Null
		,	[id_tipo_frete]				= Tipos_Frete.id_tipo_frete
		,	[dt_embarquesolicitado]
		,	[cod_prioridade]			= Fato.Desc_Cod_Prioridade 
		,	[obs]						= Fato.Mensagem
		,	[id_itinerario]				= Null --> N o Tem nada que Cruze com a Tabela Itinerarios
		,	[id_modal]					= Null --> Verificar com o Thanner
		,	[modalCodigo]			    = Null
		,	[dt_limite_embarque]		= dt_embarquesolicitado
		,	[id_tipo_pedido]			= Compras_Tipos_Pedido.id_compras_tipos_pedido
		,	[incl_data]					= GetDate()
		,	[incl_user]					= 'ksantana'
		,	[incl_device]				= Null
		,	[modi_data]					= Null
		,	[modi_user]					= Null
		,	[modi_device]				= Null
		,	[excl_data]					= Null
		,	[excl_user]					= Null
		,	[excl_device]				= Null
		,	[nro_cotacao]				= Null --> Vem no Dev ?
		,	[Pk]						= Fato.Pk
		From #Base_S_Ex Fato 
		Inner Join Empresas				On  Empresas.Codigo_Antigo							     = Fato.Cod_Empresa			Collate latin1_general_ci_ai
		Inner Join #CliforTemp			On  Isnull(#CliforTemp.Cpf_Limpo,#CliforTemp.Cnpj_Limpo) = Fato.Cgc_Cpf_C			Collate latin1_general_ci_ai
									    And Isnull(#CliforTemp.Cnpj_Limpo,#CliforTemp.Cpf_Limpo) Not In ('00000000000000','00000000000')
		Inner Join Usuarios				On  Usuarios.login										 = Fato.cod_usuario			Collate latin1_general_ci_ai
		Left  Join Compras_Tipos_Pedido On  Compras_Tipos_Pedido.Descricao						 = Fato.Tipo_Compra			Collate latin1_general_ci_ai
		Left  Join Pagamentos_Condicoes	On  Pagamentos_Condicoes.cod_condpagamento				 = Fato.cod_condpagamento	Collate latin1_general_ci_ai
		Left  Join Moedas				On  Moedas.cod_moeda									 = Fato.cod_moeda		    Collate latin1_general_ci_ai
		Left  Join #CliContact			On  #CliContact.nome									 = Fato.contato				Collate latin1_general_ci_ai
		Left  Join Status_Docs		    On  Status_Docs.StatusDescricao							 = Fato.StatusDoc		    Collate latin1_general_ci_ai
									    And Status_Docs.StatusGrupo = 'Compras_Pedidos'
		Left  Join Tipos_Frete			On Tipos_Frete.cod_frete								 = Fato.cod_tipofrete	    Collate latin1_general_ci_ai
		Left  Join Usuarios As Usu_2	On  Usu_2.login											 = Fato.usuario_cancelou    Collate latin1_general_ci_ai
		Where Not Exists (
						  Select *
						  From  Compras_Pedidos Dim
						  Where Dim.Pk = Fato.Pk Collate latin1_general_ci_ai
						 ) --> 1  Valida  o Para Inserir Apenas o Incremental do MBM
	 )SubQuery
Where Not Exists (
				  Select *
				  From Compras_Pedidos Dim
				  Where Dim.id_empresa = SubQuery.id_empresa
				  And   Dim.nro_pedido = SubQuery.nro_pedido
				 )         --> 2  Valida  o Para Inserir Apenas o Unique de Id_Empresa + NroPedido no Thesys, Pois Haviam Alguns Dados de Testes J  do MBM na Tabela

Union All

Select
	[nro_pedido]				
,	[id_empresa]				
,	[id_fornecedor]				
,	[id_condicao_pagamento]		
,	[id_transportadora]			
,	[id_comprador]				
,	[id_moeda]					
,	[dt_emissao]				
,	[id_clifor_contato]			
,	[dt_previsaoentrega]		
,	[dt_entrega]
,	[dt_confirmacao]			
,	[val_frete]
,	[val_seguro]
,	[StatusId]					
,	[dt_cancelou]
,	[id_usuario_cancelou]		
,	[motivo_cancelou]
,	[mensagem]
,	[impresso]
,	[nro_contrato]
,	[etd_eta]
,	[porto_aeroporto]
,	[payment]
,	[pdc_origem]				
,	[id_tipo_frete]				
,	[dt_embarquesolicitado]
,	[cod_prioridade]			
,	[obs]
,	[id_itinerario]				
,	[id_modal]					
,	[modalCodigo]			   
,	[dt_limite_embarque]		
,	[id_tipo_pedido]			
,	[incl_data]					
,	[incl_user]					
,	[incl_device]				
,	[modi_data]					
,	[modi_user]					
,	[modi_device]				
,	[excl_data]					
,	[excl_user]					
,	[excl_device]				
,	[nro_cotacao]				
,	[Pk]						
From (
		Select
			[nro_pedido]				= Convert(Int,Cod_PedidoCompra)
		,	[id_empresa]				= Empresas.Id_Empresa
		,	[id_fornecedor]				= #CliforTemp.cod_clifor
		,	[id_condicao_pagamento]		= Pagamentos_Condicoes.id_pagamento_condicao
		,	[id_transportadora]			= Fato.Id_Transportadora
		,	[id_comprador]				= Usuarios.Nome
		,	[id_moeda]					= Moedas.id_moeda
		,	[dt_emissao]				= Convert(Date,Fato.dt_emissao)
		,	[id_clifor_contato]			= #CliContact.id_clifor_contatos
		,	[dt_previsaoentrega]		= Convert(Date,Fato.dt_previsaoentrega)
		,	[dt_entrega]
		,	[dt_confirmacao]			= dt_liberacao
		,	[val_frete]
		,	[val_seguro]
		,	[StatusId]					= Status_Docs.StatusID
		,	[dt_cancelou]
		,	[id_usuario_cancelou]		= Usu_2.codigo
		,	[motivo_cancelou]
		,	[mensagem]					= Null
		,	[impresso]
		,	[nro_contrato]
		,	[etd_eta]
		,	[porto_aeroporto]
		,	[payment]
		,	[pdc_origem]				= Null
		,	[id_tipo_frete]				= Tipos_Frete.id_tipo_frete
		,	[dt_embarquesolicitado]
		,	[cod_prioridade]			= Fato.Desc_Cod_Prioridade 
		,	[obs]						= Fato.Mensagem
		,	[id_itinerario]				= Null --> N o Tem nada que Cruze com a Tabela Itinerarios
		,	[id_modal]					= Null --> Verificar com o Thanner
		,	[modalCodigo]			    = Null
		,	[dt_limite_embarque]		= dt_embarquesolicitado
		,	[id_tipo_pedido]			= Compras_Tipos_Pedido.id_compras_tipos_pedido
		,	[incl_data]					= GetDate()
		,	[incl_user]					= 'ksantana'
		,	[incl_device]				= Null
		,	[modi_data]					= Null
		,	[modi_user]					= Null
		,	[modi_device]				= Null
		,	[excl_data]					= Null
		,	[excl_user]					= Null
		,	[excl_device]				= Null
		,	[nro_cotacao]				= Null --> Vem no Dev ?
		,	[Pk]						= Fato.Pk
		From #Base_C_Ex Fato --> 13.321
		Inner Join Empresas				On  Empresas.Codigo_Antigo				   = Fato.Cod_Empresa	    Collate latin1_general_ci_ai
		Inner Join #CliforTemp			On  Isnull(Cpf_Limpo,Cnpj_Limpo)		   = Fato.cgc_cpf_C		    Collate latin1_general_ci_ai
										And #CliforTemp.razao					   = Fato.razao_clifor		Collate latin1_general_ci_ai
		Inner Join Usuarios				On  Usuarios.login						   = Fato.cod_usuario	    Collate latin1_general_ci_ai
		Left  Join Compras_Tipos_Pedido On  Compras_Tipos_Pedido.Descricao		   = Fato.Tipo_Compra	    Collate latin1_general_ci_ai
		Left  Join Pagamentos_Condicoes	On  Pagamentos_Condicoes.cod_condpagamento = Fato.cod_condpagamento Collate latin1_general_ci_ai
		Left  Join Moedas				On  Moedas.cod_moeda					   = Fato.cod_moeda		    Collate latin1_general_ci_ai
		Left  Join #CliContact			On  #CliContact.nome					   = Fato.contato		    Collate latin1_general_ci_ai
		Left  Join Status_Docs		    On  Status_Docs.StatusDescricao			   = Fato.StatusDoc		    Collate latin1_general_ci_ai
									    And Status_Docs.StatusGrupo = 'Compras_Pedidos'
		Left  Join Tipos_Frete			On Tipos_Frete.cod_frete				   = Fato.cod_tipofrete	    Collate latin1_general_ci_ai
		Left  Join Usuarios As Usu_2	On  Usu_2.login							   = Fato.usuario_cancelou  Collate latin1_general_ci_ai
		Where Not Exists (
						  Select *
						  From  Compras_Pedidos Dim
						  Where Dim.Pk = Fato.Pk Collate latin1_general_ci_ai
						 ) --> 1  Valida  o Para Inserir Apenas o Incremental do MBM
	 )SubQuery
Where Not Exists (
				  Select *
				  From Compras_Pedidos Dim
				  Where Dim.id_empresa = SubQuery.id_empresa
				  And   Dim.nro_pedido = SubQuery.nro_pedido
				 )         --> 2  Valida  o Para Inserir Apenas o Unique de Id_Empresa + NroPedido no Thesys, Pois Haviam Alguns Dados de Testes J  do MBM na Tabela

Set @ResultCount = @@RowCount;

If (
	@ResultCount = 0
   )
	Set @Message = 'Os Dados Estão 100% Espelhados em Ambas as Bases';
Else
    Set @Message = 'Existem ' + Cast(@ResultCount As Varchar(1000)) + ' Registro(s) Não Sincronizado(s) Entre o MBM e o TheSys_Homologacao';

    -- Retorna o resultado e a mensagem
Select 
	@ResultCount As RegistrosNaoSincronizados
,	@Message     As Mensagem;



--> Dropa Tabelas Temporarias da Procedure
Begin
	Drop Table If Exists #BasePedidoCompra
	Drop Table If Exists #CliforTemp
	Drop Table If Exists #Aux_Nfe_Modais
	Drop Table If Exists #Base_S_Ex
	Drop Table If Exists #Base_C_Ex
	Drop Table If Exists #CliContact
End


End;