USE [THESYS_HOMOLOGACAO]
GO
/****** Object:  StoredProcedure [dbo].[Valida_Contas_a_Receber_MBM_X_TheSys]    Script Date: 02/09/2024 16:43:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*																								*/
/* Programador: Kaike Natan									                                    */
/* Versao     : Data: 23/07/2024																*/
/* Descricao  : Script de ETL da Base Contas a Receber do MBM Para o Thesys						*/
/*																								*/
/*	Alteracao                                                                                   */
/*        2. Programador: Kaike Natan										 Data: 31/07/2024	*/		
/*           Descricao  : Inclusao da FK Para Cruzar Com a Tabela de Notas_Fiscais				*/
/*	Alteracao                                                                                   */
/*        3. Programador: 													 Data: __/__/____	*/		
/*           Descricao  : 																		*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
	ALTER Procedure [dbo].[Valida_Contas_a_Receber_MBM_X_TheSys] As
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Consolida a Base de Contas a Receber das 5 Empresas do MBM						*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Begin;
	Set NoCount On;

Drop Table If Exists #BaseContasReceber
Select *
,	Pk				  = Trim(Cod_Empresa) + Trim(Cod_Serie) + Trim (Nro_Titulo) + Trim(Cod_TipoDocto) + Trim(Parcela)
,	Fk_Nf			  = Trim(Cod_Empresa) + Trim(Cod_Clifor) + Trim(Cod_Serie) + Trim(Nro_Nfiscal)
,	Repres_Cnpj_Cpf_C = Dbo.Fn_Limpa_NoNum(cod_repres_cnpj_cgc)
Into #BaseContasReceber
From OpenQuery([Mbm_PoliResinas],'
Select 
  CrCada.cod_empresa, 
  CrCada.cod_serie, 
  CrCada.parcela, 
  CrCada.cod_portador, 
  CrCada.cod_clifor, 
  Clifor.cgc_cpf,
  Clifor.razao,
  CrCada.dt_emissao, 
  CrCada.cod_pedidovenda, 
  CrCada.cod_repres, 
  Representante.cgc_cpf as cod_repres_cnpj_cgc,
  Representante.razao   as repres_razao,
  CrCada.dt_vencto, 
  CrCada.cod_tipodocto, 
  TipoDocto.Descricao as Descr_Doc,
  CrCada.dt_baixa, 
  CrCada.valor, 
  CrCada.nro_titulo, 
  CrCada.situacao, 
  CrCada.calcularjuros,  
  CrCada.pedido_venda, 
  CrCada.nro_nfiscal, 
  CrCada.nro_venda, 
  CrCada.nro_nobanco, 
  CrCada.tipo_titulo, 
  CrCada.origem_titulo, 
  CrCada.enviado_banco, 
  CrCada.dt_enviadobanco,  
  cast(CrCada.anotacoes as varchar(2000)) as anotacoes, 
  CrCada.imp_boleto,  
  CrCada.dt_change, 
  CrCada.nro_nobanco2, 
  CrCada.email_boleto, 
  CrCada.nro_processo,   
  CrCada.protestado, 
  CrCada.dt_protesto, 
  CrCada.dt_saida_protesto, 
  CrCada.historico, 
  CrCada.dt_recebimento, 
  CrCada.cod_usuario_lib_recto, 
  CrCada.dt_inclusao,
  CrCada.Liberado_Recto,
  CrCada.Dt_Liberado_Recto,
  CrCada.Ano_Compet_Titulo,
  CrCada.Mes_Compet_Titulo,
  CrCada.Cod_SituacaoTitulo,
  CrCada.Impressa,
  CrCada.percentualjuros
From CrCada
Inner Join Clifor		 On Clifor.Cod_Clifor        = CrCada.Cod_Clifor
Inner Join TipoDocto     On TipoDocto.Cod_TipoDocto  = CrCada.Cod_TipoDocto
Left  Join Representante On Representante.Cod_Repres = CrCada.Cod_Repres
')
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Row Number Pela PK, Garantindo Que Nao Tenha Duplicidade na Base					*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Drop Table If Exists #Uniq
Select *
Into #Uniq
From (
	  Select *
	  ,	Rw = Row_Number() Over ( Partition By Pk Order By Pk Desc)
	  From #BaseContasReceber
	 )SubQuery
Where Rw = 1
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Limpa os Caracteres Especiais das Coluna de CNPJ e CPF da Tabela Clifor			*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Drop Table If Exists #AuxCLifor
Select *
,	Cnpj_C = Dbo.Fn_Limpa_NoNum(Cnpj)
,	Cpf_C  = Dbo.Fn_Limpa_NoNum(Cpf)
Into #AuxCLifor
From Clifor
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Somente CLientes Nacionais e Aplica Logica Trazendo o CodCLifor do Representate	*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Drop Table If Exists #Nacional
Select Fato.*
, Cgc_Cpf_C		   = Dbo.Fn_Limpa_NoNum(Cgc_Cpf)
, StatusDoc		   = Case
					    When Situacao = 'Ab' Then 'Aberto'
					    When Situacao = 'Ca' Then 'Cancelado'
					    When Situacao = 'Dv' Then 'Devolvido'
						When Situacao = 'Lp' Then 'Lucros e Perdas'
						When Situacao = 'Rc' Then 'Recebido'
						When Situacao = 'Rp' Then 'Recebido Parcial'
						When Situacao = 'Rt' Then 'Recebido Total'
						When Situacao = 'Es' Then 'Estorno De Baixa Manual'
					    Else Situacao
					  End
, Id_Representante = Repre.cod_clifor 
Into #Nacional
From #Uniq Fato
Left Join #AuxCLifor Repre 
    On  Isnull(Repre.Cnpj_C, Repre.Cpf_C) = Fato.Repres_Cnpj_Cpf_C Collate latin1_general_ci_ai 
    And Fato.Repres_Cnpj_Cpf_C Not In ('00000000000', '00000000000000')

    Or  Repre.razao = Fato.repres_razao Collate latin1_general_ci_ai 
    And Fato.Repres_Cnpj_Cpf_C In ('00000000000', '00000000000000')
	And Isnull(Repre.Cnpj_C, Repre.Cpf_C) In ('00000000000', '00000000000000')

Where Fato.Cgc_Cpf Not In ('00.000.000/0000-00', '000.000.000-00') 
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Somente CLientes do Exterior e Aplica Logica Trazendo o CodCLifor do Representate	*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Drop Table If Exists #Exterior
Select Fato.*
, Cgc_Cpf_C		   = Dbo.Fn_Limpa_NoNum(Cgc_Cpf)
, StatusDoc		   = Case
					    When Situacao = 'Ab' Then 'Aberto'
					    When Situacao = 'Ca' Then 'Cancelado'
					    When Situacao = 'Dv' Then 'Devolvido'
						When Situacao = 'Lp' Then 'Lucros e Perdas'
						When Situacao = 'Rc' Then 'Recebido'
						When Situacao = 'Rp' Then 'Recebido Parcial'
						When Situacao = 'Rt' Then 'Recebido Total'
						When Situacao = 'Es' Then 'Estorno De Baixa Manual'
					    Else Situacao
					  End
, Id_Representante = Repre.cod_clifor 
Into #Exterior
From #Uniq Fato
Left Join #AuxCLifor Repre 
    On  Isnull(Repre.Cnpj_C, Repre.Cpf_C) = Fato.Repres_Cnpj_Cpf_C Collate latin1_general_ci_ai 
    And Fato.Repres_Cnpj_Cpf_C Not In ('00000000000', '00000000000000')

    Or  Repre.razao = Fato.repres_razao Collate latin1_general_ci_ai 
    And Fato.Repres_Cnpj_Cpf_C In ('00000000000', '00000000000000')
	And Isnull(Repre.Cnpj_C, Repre.Cpf_C) In ('00000000000', '00000000000000')

Where Fato.Cgc_Cpf In ('00.000.000/0000-00', '000.000.000-00') 
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Tabela Padrao Com o DexPara da Origem do Titulo									*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Drop Table If Exists #Aux_OriTitulo
Select *
Into #Aux_OriTitulo
From Tabela_Padrao
Where Cod_TabelaPadrao = 'Origem_Titulo'
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Cria Indices NonClustered Nas Tabelas Para Melhor Performance no Join 			*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Begin
	Create NonClustered Index Sku_Cgc_Cpf On #Nacional      (Cgc_Cpf_C)
	Create NonClustered Index Sku_Cgc_Cpf On #Exterior      (Cgc_Cpf_C)
	Create NonClustered Index Sku_Cgc_Cpf On #AuxCLifor     (Cnpj_C) Include (Cpf_C, Cod_Clifor)
	Create NonClustered Index Sku_Codigo  On #Aux_OriTitulo (Codigo) Include (Id_Tabela_Padrao)
End
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Insere Apenas o Incremental na Tabela Fisica do Thesys							*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Declare @ResultCount Int;
Declare @Message Varchar(1000);

Select 
	[id_empresa]		 = Empresas.Id_Empresa
,	[cod_clifor]		 = C1.Cod_Clifor
,	[incl_user]		     = Usuarios.Nome
,	[dt_emissao]		 = Fato.Dt_Emissao
,	[id_serie]			 = Series.Id_Serie_Conta
,	[titulo]			 = Fato.Nro_Titulo
,	[parcela]		     = Fato.Parcela
,	[id_portador]		 = Portadores.Id_Portador
,	[id_pedidovenda]	 = Null		--> Sera Preenchido no Thesys ?
,	[id_repres]			 = Fato.Id_Representante
,	[dt_vencto]			 = Fato.Dt_Vencto
,	[id_tipodocto]		 = Tipos_Documentos.Id_TipoDoc
,	[dt_baixa]			 = Fato.Dt_Baixa
,	[valor]				 = Fato.Valor
,	[id_tp_situacao]	 = Status_Docs.StatusID
,	[calcularjuros]		 = Fato.calcularjuros
,	[percentualjuros]	 = Fato.percentualjuros
,	[id_nf]				 = Notas_Fiscais.id_nota_fiscal	
,	[nro_nfiscal]		 = Fato.Nro_Nfiscal
,	[nro_nobanco]		 = Fato.Nro_Nobanco
,	[tipo_titulo]		 = Fato.Tipo_Titulo
,	[id_tp_orig_titulo]  = #Aux_OriTitulo.Id_Tabela_Padrao
,	[dt_enviadobanco]	 = Fato.Dt_EnviadoBanco
,	[imp_boleto]		 = Fato.Imp_Boleto
,	[dt_change]			 = Fato.Dt_Change
,	[nro_nobanco2]		 = Fato.Nro_Nobanco2		
,	[email_boleto]		 = Fato.Email_Boleto		
,	[protestado]		 = Fato.Protestado		
,	[dt_protesto]		 = Fato.Dt_Protesto		
,	[dt_saida_protesto]	 = Fato.Dt_Saida_Protesto	
,	[liberado_recto]	 = Fato.Liberado_Recto	
,	[dt_liberado_recto]  = Fato.Dt_Liberado_Recto 
,	[ano_compet_titulo]	 = Fato.Ano_Compet_Titulo	
,	[mes_compet_titulo]	 = Fato.Mes_Compet_Titulo	
,	[cod_situacaotitulo] = Fato.Cod_SituacaoTitulo
,	[dt_inclusao]		 = Fato.Dt_Inclusao		
,	[enviado_banco]		 = Fato.Enviado_Banco		
,	[impressa]			 = Fato.Impressa			
,	[historico]			 = Fato.Historico			
,	[anotacoes]			 = Fato.Anotacoes			
,	[incl_data]		     = Fato.Dt_Emissao
,	[incl_device]	     = Null
,	[modi_data]		     = Null
,	[modi_user]		     = Null
,	[modi_device]	     = Null
,	[excl_data]		     = Null
,	[excl_user]		     = Null
,	[excl_device]	     = Null
,	[id_bordero]		 = Null
,	[cod_retorno]		 = Null
,   [ArqRemProc]		 = Null
,	[Pk]				 = Fato.Pk
,	[NumeroNoCliente]	 = Null
From #Nacional Fato 
Inner Join Empresas			On Empresas.Codigo_Antigo	   = Fato.Cod_Empresa		    Collate Sql_Latin1_General_Cp1_Ci_Ai
Left  Join #AuxCLifor As C1	On Isnull(C1.Cnpj_C,C1.Cpf_C)  = Fato.Cgc_Cpf_C			    Collate Sql_Latin1_General_Cp1_Ci_Ai And Isnull(C1.Cnpj_C,C1.Cpf_C) Not In ('00.000.000/0000-00','000.000.000-00')
Left  Join Series			On Series.Cod_Serie			   = Fato.Cod_Serie			    Collate Sql_Latin1_General_Cp1_Ci_Ai And Series.Id_Empresa     = Empresas.Id_Empresa
Left  Join Portadores		On Portadores.Cod_Portador	   = Fato.Cod_Portador		    Collate Sql_Latin1_General_Cp1_Ci_Ai And Portadores.Id_Empresa = Empresas.Id_Empresa
Left  Join #Aux_OriTitulo   On #Aux_OriTitulo.codigo	   = Fato.Origem_Titulo		    Collate Sql_Latin1_General_Cp1_Ci_Ai 
Left  Join Usuarios			On Usuarios.Login			   = Fato.Cod_Usuario_Lib_Recto Collate Sql_Latin1_General_Cp1_Ci_Ai 
Left  Join Status_Docs		On Status_Docs.StatusDescricao = Fato.StatusDoc			    Collate Sql_Latin1_General_Cp1_Ci_Ai And Status_Docs.StatusGrupo = 'Recebimentos'
Left  Join Tipos_Documentos	On Tipos_Documentos.Descricao  = Fato.Descr_Doc			    Collate Sql_Latin1_General_Cp1_Ci_Ai 
left  join Notas_Fiscais    On Notas_Fiscais.pk			   = Fato.Fk_Nf				    Collate Sql_Latin1_General_Cp1_Ci_Ai 
Where Not Exists (
				  Select *
				  From Recebimentos_Contas Dim
				  Where Dim.Pk = Fato.Pk Collate Sql_Latin1_General_Cp1_Ci_Ai 
				 )
Union All

Select 
	[id_empresa]		 = Empresas.Id_Empresa
,	[cod_clifor]		 = C1.Cod_Clifor
,	[incl_user]		     = Usuarios.Nome
,	[dt_emissao]		 = Fato.Dt_Emissao
,	[id_serie]			 = Series.Id_Serie_Conta
,	[titulo]			 = Fato.Nro_Titulo
,	[parcela]		     = Fato.Parcela
,	[id_portador]		 = Portadores.Id_Portador
,	[id_pedidovenda]	 = Null		--> Sera Preenchido no Thesys ?
,	[id_repres]			 = Fato.Id_Representante
,	[dt_vencto]			 = Fato.Dt_Vencto
,	[id_tipodocto]		 = Tipos_Documentos.Id_TipoDoc
,	[dt_baixa]			 = Fato.Dt_Baixa
,	[valor]				 = Fato.Valor
,	[id_tp_situacao]	 = Status_Docs.StatusID
,	[calcularjuros]		 = Fato.calcularjuros
,	[percentualjuros]	 = Fato.percentualjuros
,	[id_nf]				 = Notas_Fiscais.id_nota_fiscal	
,	[nro_nfiscal]		 = Fato.Nro_Nfiscal
,	[nro_nobanco]		 = Fato.Nro_Nobanco
,	[tipo_titulo]		 = Fato.Tipo_Titulo
,	[id_tp_orig_titulo]  = #Aux_OriTitulo.Id_Tabela_Padrao
,	[dt_enviadobanco]	 = Fato.Dt_EnviadoBanco
,	[imp_boleto]		 = Fato.Imp_Boleto
,	[dt_change]			 = Fato.Dt_Change
,	[nro_nobanco2]		 = Fato.Nro_Nobanco2		
,	[email_boleto]		 = Fato.Email_Boleto		
,	[protestado]		 = Fato.Protestado		
,	[dt_protesto]		 = Fato.Dt_Protesto		
,	[dt_saida_protesto]	 = Fato.Dt_Saida_Protesto	
,	[liberado_recto]	 = Fato.Liberado_Recto	
,	[dt_liberado_recto]  = Fato.Dt_Liberado_Recto 
,	[ano_compet_titulo]	 = Fato.Ano_Compet_Titulo	
,	[mes_compet_titulo]	 = Fato.Mes_Compet_Titulo	
,	[cod_situacaotitulo] = Fato.Cod_SituacaoTitulo
,	[dt_inclusao]		 = Fato.Dt_Inclusao		
,	[enviado_banco]		 = Fato.Enviado_Banco		
,	[impressa]			 = Fato.Impressa			
,	[historico]			 = Fato.Historico			
,	[anotacoes]			 = Fato.Anotacoes			
,	[incl_data]		     = Fato.Dt_Emissao
,	[incl_device]	     = Null
,	[modi_data]		     = Null
,	[modi_user]		     = Null
,	[modi_device]	     = Null
,	[excl_data]		     = Null
,	[excl_user]		     = Null
,	[excl_device]	     = Null
,	[id_bordero]		 = Null
,	[cod_retorno]		 = Null
,   [ArqRemProc]		 = Null
,	[Pk]				 = Fato.Pk
,	[NumeroNoCliente]	 = Null
From #Exterior Fato 
Inner Join Empresas			On Empresas.Codigo_Antigo	   = Fato.Cod_Empresa		    Collate Sql_Latin1_General_Cp1_Ci_Ai
Left  Join #AuxCLifor As C1	On C1.Razao					   = Fato.Razao				    Collate Sql_Latin1_General_Cp1_Ci_Ai And Isnull(C1.Cnpj_C,C1.Cpf_C) In ('00.000.000/0000-00','000.000.000-00')
Left  Join Series			On Series.Cod_Serie			   = Fato.Cod_Serie			    Collate Sql_Latin1_General_Cp1_Ci_Ai And Series.Id_Empresa     = Empresas.Id_Empresa
Left  Join Portadores		On Portadores.Cod_Portador	   = Fato.Cod_Portador		    Collate Sql_Latin1_General_Cp1_Ci_Ai And Portadores.Id_Empresa = Empresas.Id_Empresa
Left  Join #Aux_OriTitulo   On #Aux_OriTitulo.codigo	   = Fato.Origem_Titulo		    Collate Sql_Latin1_General_Cp1_Ci_Ai 
Left  Join Usuarios			On Usuarios.Login			   = Fato.Cod_Usuario_Lib_Recto Collate Sql_Latin1_General_Cp1_Ci_Ai 
Left  Join Status_Docs		On Status_Docs.StatusDescricao = Fato.StatusDoc			    Collate Sql_Latin1_General_Cp1_Ci_Ai And Status_Docs.StatusGrupo = 'Recebimentos'
Left  Join Tipos_Documentos	On Tipos_Documentos.Descricao  = Fato.Descr_Doc			    Collate Sql_Latin1_General_Cp1_Ci_Ai 
left  join Notas_Fiscais    On Notas_Fiscais.pk			   = Fato.Fk_Nf				    Collate Sql_Latin1_General_Cp1_Ci_Ai 
Where Not Exists (
				  Select *
				  From Recebimentos_Contas Dim
				  Where Dim.Pk = Fato.Pk Collate Sql_Latin1_General_Cp1_Ci_Ai 
				 )

Set @ResultCount = @@RowCount;

If (
	@ResultCount = 0
   )
	Set @Message = 'Os Dados Estão 100% Espelhados em Ambas as Bases';
Else
    Set @Message = 'Existem ' + Cast(@ResultCount As Varchar(1000)) + ' Registro(s) Não Sincronizado(s) Entre o MBM e o TheSys_Homologacao';

    -- Retorna o resultado e a mensagem
Select 
	@ResultCount As RegistrosNaoSincronizados
,	@Message     As Mensagem;

--> Dropa Tabelas Temporarias da Procedure
Begin
	Drop Table If Exists #BaseContasReceber
	Drop Table If Exists #Uniq
	Drop Table If Exists #Nacional
	Drop Table If Exists #Exterior
	Drop Table If Exists #AuxCLifor
	Drop Table If Exists #Aux_OriTitulo
End

End;