USE DB_REPORT
GO

SELECT 	 DATA
		,TURNO
		,TP_EQUIPE
		,NM_USUARIO
		,COUNT(ID_CLIENTE) AS ACORDO
	    ,HORARIO
FROM TB_REL_HORA_HORA_ACORDO_ANALITICO
WHERE	 ID_CEDENTE = 1
GROUP BY ID_CEDENTE
        ,DATA
        ,HORARIO
        ,TURNO
        ,TP_EQUIPE
        ,TP_TURNO_OPERADOR
        ,NM_USUARIO
ORDER BY HORARIO

