
USE [THESYS_DEV]
GO

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*																								*/
/* Programador: Kaike Natan									                                    */
/* Versao     : Data: 30/07/2024																*/
/* Descricao  : Script de ETL da Base de Notas Fiscais Itens do MBM Para o Thesys_Dev			*/
/*																								*/
/*	Alteracao                                                                                   */
/*        2. Programador: 													 Data: __/__/____	*/		
/*           Descricao  : 																		*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
	ALTER Procedure [dbo].[Prc_Etl_Notas_Fiscais_Itens_MBM] As
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Consolida a Base de Notas Fiscais das 5 Empresas do MBM							*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Begin; -- Inicio do Bloco T-SQL
	Set NoCount On;

Drop Table If Exists #BaseNFItens
Select *
,	Fk = Trim(Cod_Empresa) + Trim(Cod_Clifor) + Trim(Serie) + Trim(Nro_Nfiscal)
,	PK = Trim(Cod_Empresa) + Trim(Cod_Clifor) + Trim(Serie) + Trim(Nro_Nfiscal) + Convert(Varchar(30),Sequencia)
Into #BaseNFItens
From OpenQuery([Mbm_PoliResinas],'
Select 
  Nf.cod_clifor, 
  Cli.cgc_cpf,
  Cli.razao,
  cod_empresa, 
  serie, 
  nro_nfiscal, 
  sequencia, 
  cod_tributacao, 
  cod_unidadevenda, 
  cod_contacontabil, 
  cod_tiponatureza, 
  cod_classfiscal, 
  cfo, 
  cod_cest,
  cod_natoperacao, 
  ind_sittrib, 
  cod_item,
  descricao,
  codigo, 
  cod_unidade, 
  quantidade, 
  peso, 
  aliq_icms, 
  ir_retidofonte, 
  peso_bruto, 
  base_icms, 
  inss_retidofonte, 
  valor_bruto, 
  aliq_ipi, 
  frete_incidebaseipi,
  valor_seguro,
  seguro_incidebaseipi,
  outras_incidebaseipi,
  valor_despesas, 
  valor_pis, 
  pis_codtributacao, 
  valor_cofins, 
  base_icms_sub, 
  aliq_pis, 
  pis_retidofonte, 
  aliq_iss, 
  iss_retidofonte,
  iss_perc_reducao,
  valor_bcalc_icms, 
  aliq_icms_sub, 
  valor_icms, 
  valor_bcalc_ipi, 
  cofins_retidofonte, 
  cofins_codtributacao, 
  aliq_cofins, 
  aliq_ir, 
  valor_icms_isento, 
  valor_bcalc_ir, 
  valor_bcalc_iss, 
  valor_cofins_recup, 
  icms_tipobase, 
  valor_icms_outras, 
  icms_perc_descto, 
  valor_bcalc_zonafranca, 
  valor_bcalc_inss, 
  aliq_inss, 
  valor_zonafranca, 
  base_ipi, 
  aliq_importacao, 
  valor_ipi, 
  valor_iss, 
  Nf.perc_descto, 
  cast(obs_itemnf as varchar(1000)) as obs_itemnf, 
  valor_ipi_isento, 
  valor_descto, 
  valor_ipi_outras, 
  valor_frete, 
  valor_ir, 
  base_iss, 
  valor_inss,  
  valor_importacao, 
  desc_zonafranca, 
  valor_unitario, 
  valor_total, 
  ipi_codtributacao, 
  ipi_perc_reducao, 
  ir_perc_reducao, 
  tipo_produto, 
  nft_serie,   
  nft_nrolote,
  nft_seqitempro,
  nft_nronfiscal, 
  seq_pedvenda, 
  cod_pedidovenda, 
  csll_retidofonte, 
  aliq_csll, 
  valor_csll, 
  valor_bcalc_pis, 
  valor_bcalc_cofins, 
  valor_bcalc_csll, 
  substituicao_tributaria, 
  perc_icms_subst,  
  cofins_incidebase_icms, 
  pis_incidebase_icms, 
  add_icmstotalnf, 
  fator_conversao, 
  qtd_venda, 
  preco_unitvenda, 
  nf.pis_retidoclass, 
  nf.cofins_retidoclass, 
  aliq_pisretidoclass, 
  aliq_cofinsretidoclass, 
  valor_bcalc_pisretidoclass, 
  valor_bcalc_cofinsretidoclass, 
  valor_pisretidoclass, 
  valor_cofinsretidoclass, 
  ipi_importacaoespecifico, 
  frete_incidebase_pis, 
  frete_incidebase_cofins, 
  seguro_incidebase_pis, 
  seguro_incidebase_cofins, 
  outras_incidebase_pis, 
  outras_incidebase_cofins, 
  ipi_incidebase_pis, 
  ipi_incidebase_cofins, 
  Nf.dt_change, 
  icms_diferido, 
  valor_icmsdiferido, 
  add_icmssubtotalnf, 
  add_icmssubtotaldup, 
  nft_codclifor, 
  funrural_retidofonte, 
  aliq_funrural, 
  valor_bcalc_funrural, 
  valor_funrural, 
  origem_item, 
  inss_perc_reducao, 
  csosn, 
  diminuir_icmsopicmsst, 
  tipo_crt, 
  pis_natoperbccredito, 
  cofins_natoperbccredito, 
  pis_tabela_natreceita, 
  cofins_tabela_natreceita, 
  pis_codigo_natreceita, 
  cofins_codigo_natreceita, 
  operacao_efiscal, 
  vr_importacao_fci, 
  porc_fci, 
  cod_fci, 
  aliq_trib_ibpt_ncm, 
  valor_trib_ibpt_ncm, 
  cod_pis_retido, 
  cod_cofins_retido, 
  cod_csll_retido, 
  cod_irrf_retido, 
  cod_inss_retido, 
  perc_adic_cofins_imp, 
  valor_adic_cofins_imp, 
  ipi_nao_aproveitavel, 
  perc_cred_sn, 
  valor_cred_sn, 
  perc_base_icms_subst, 
  nro_drawback, 
  nro_reg_exportacao, 
  qtd_item_export, 
  chave_nfe_export, 
  aliq_federal_ibpt, 
  valor_federal_ibpt, 
  aliq_importado_ibpt, 
  valor_importado_ibpt, 
  aliq_estadual_ibpt, 
  valor_estadual_ibpt, 
  aliq_municipal_ibpt, 
  valor_municipal_ibpt, 
  motdesicms, 
  destacar_operacaodifal, 
  cod_tributacaodifal, 
  valor_difalalterado, 
  valor_bcalc_icmsufdest, 
  perc_baseicmsufdest, 
  aliq_icmsufdest, 
  valor_icmsufdest, 
  valor_bcalc_fecpdest, 
  perc_basefecpdest, 
  aliq_fecpdest, 
  valor_fecpdest, 
  valor_difal, 
  perc_icmsinterpart,      
  valor_icmsstalterado, 
  frete_incide_ii, 
  seguro_incide_ii, 
  despesa_incide_ii, 
  despesaadua_incide_ii, 
  perc_basefcpicms, 
  aliq_fcpicms, 
  valor_basefcpicms, 
  valor_fcpicms, 
  perc_basefcpicmsst, 
  aliq_fcpicmsst, 
  valor_basefcpicmsst, 
  valor_fcpicmsst, 
  cod_tributacaofcpicms, 
  cod_tributacaofcpicmsst, 
  valor_fcpicmsalterado, 
  valor_fcpicmsstalterado, 
  fcpicms_tipobase, 
  frete_incidefcpicms, 
  seguro_incidefcpicms, 
  outras_incidefcpicms, 
  tipo_incidebasefcpicms, 
  fcpicmsst_tipobase, 
  frete_incidefcpicmsst, 
  seguro_incidefcpicmsst, 
  outras_incidefcpicmsst, 
  tipo_incidebasefcpicmsst, 
  base_fcpicmsst_retido, 
  valor_fcpicmsst_retido, 
  valor_fcpicmsstretidoalterado, 
  aliq_fcpsuportada_retido, 
  aliq_fcpicmsst_retido, 
  piscofins_classfiscal, 
  ipi_devolvido, 
  perc_mercdevolvida, 
  escala_relevante, 
  destacar_escalarelevante, 
  cod_fabescalarevelante, 
  cod_beneficiofiscal, 
  zonafranca_tipobase, 
  frete_incidezonafranca, 
  seguro_incidezonafranca, 
  outras_incidezonafranca, 
  tipo_incidebasezonafranca, 
  repasseicms_tipobase, 
  frete_inciderepasseicms, 
  seguro_inciderepasseicms, 
  outras_inciderepasseicms, 
  tipo_incidebaserepasseicms, 
  diminuir_icmsdesoneradoicmsst, 
  perc_icmsoppresumido_subst, 
  valor_icmsoppresumido_subst, 
  bcst_addalqfcp, 
  cod_tiposervico_efd, 
  valor_icms_proprio_ant, 
  base_icms_proprio_ant, 
  diminuir_icmsdesoneradototnf, 
  valor_icmsdesoneradoalterado, 
  destacar_beneficiofiscal, 
  base_icmsdiferido, 
  valor_bcalc_icmsdiferido, 
  valor_diferimento, 
  bcst_tipocalcdifal, 
  tipo_obraconstrucaocivil_efd, 
  codigo_nacionaldaobra_efd, 
  modbc_icmsst, 
  valor_pautapmc, 
  perccredsn_alterado, 
  sestsenat_retidofonte, 
  sestsenat_perc_reducao, 
  valor_bcalc_sestsenat, 
  aliq_sestsenat, 
  valor_sestsenat, 
  cod_sestsenat_retido, 
  valor_fretenaodestacado, 
  valor_pisalterado, 
  deduzir_icmsbasepis, 
  valor_cofinsalterado, 
  deduzir_icmsbasecofins, 
  motdesicmsst, 
  valor_fcpdiferido, 
  valor_fcpefetivo, 
  cod_tributacaofcpdif, 
  valor_fcpdifalterado, 
  perc_basefcpdif, 
  aliq_fcpdif,
  outras_incidefcpdif, 
  valor_fcpdifoperacao, 
  tipo_incidebasefcpdif, 
  nro_pedcliente, 
  seq_pedcompra_item, 
  aliq_retencao_pis, 
  valor_retencao_pis
From Item_NotaFiscal Nf
Left Join Clifor Cli On Cli.Cod_Clifor = Nf.Nft_CodClifor
Where Nf.serie != ''IMPORT''')

Union All

Select *
,	Fk = Trim(Cod_Empresa) + Trim(Cod_Clifor) + Trim(Serie) + Trim(Nro_Nfiscal)
,	PK = Trim(Cod_Empresa) + Trim(Cod_Clifor) + Trim(Serie) + Trim(Nro_Nfiscal) + Convert(Varchar(30),Sequencia)
From OpenQuery([Mbm_Rubberon],'
Select 
  Nf.cod_clifor, 
  Cli.cgc_cpf,
  Cli.razao,
  cod_empresa, 
  serie, 
  nro_nfiscal, 
  sequencia, 
  cod_tributacao, 
  cod_unidadevenda, 
  cod_contacontabil, 
  cod_tiponatureza, 
  cod_classfiscal, 
  cfo, 
  cod_cest,
  cod_natoperacao, 
  ind_sittrib, 
  cod_item,
  descricao,
  codigo, 
  cod_unidade, 
  quantidade, 
  peso, 
  aliq_icms, 
  ir_retidofonte, 
  peso_bruto, 
  base_icms, 
  inss_retidofonte, 
  valor_bruto, 
  aliq_ipi, 
  frete_incidebaseipi,
  valor_seguro,
  seguro_incidebaseipi,
  outras_incidebaseipi,
  valor_despesas, 
  valor_pis, 
  pis_codtributacao, 
  valor_cofins, 
  base_icms_sub, 
  aliq_pis, 
  pis_retidofonte, 
  aliq_iss, 
  iss_retidofonte,
  iss_perc_reducao,
  valor_bcalc_icms, 
  aliq_icms_sub, 
  valor_icms, 
  valor_bcalc_ipi, 
  cofins_retidofonte, 
  cofins_codtributacao, 
  aliq_cofins, 
  aliq_ir, 
  valor_icms_isento, 
  valor_bcalc_ir, 
  valor_bcalc_iss, 
  valor_cofins_recup, 
  icms_tipobase, 
  valor_icms_outras, 
  icms_perc_descto, 
  valor_bcalc_zonafranca, 
  valor_bcalc_inss, 
  aliq_inss, 
  valor_zonafranca, 
  base_ipi, 
  aliq_importacao, 
  valor_ipi, 
  valor_iss, 
  Nf.perc_descto, 
  cast(obs_itemnf as varchar(1000)) as obs_itemnf, 
  valor_ipi_isento, 
  valor_descto, 
  valor_ipi_outras, 
  valor_frete, 
  valor_ir, 
  base_iss, 
  valor_inss,  
  valor_importacao, 
  desc_zonafranca, 
  valor_unitario, 
  valor_total, 
  ipi_codtributacao, 
  ipi_perc_reducao, 
  ir_perc_reducao, 
  tipo_produto, 
  nft_serie,   
  nft_nrolote,
  nft_seqitempro,
  nft_nronfiscal, 
  seq_pedvenda, 
  cod_pedidovenda, 
  csll_retidofonte, 
  aliq_csll, 
  valor_csll, 
  valor_bcalc_pis, 
  valor_bcalc_cofins, 
  valor_bcalc_csll, 
  substituicao_tributaria, 
  perc_icms_subst,  
  cofins_incidebase_icms, 
  pis_incidebase_icms, 
  add_icmstotalnf, 
  fator_conversao, 
  qtd_venda, 
  preco_unitvenda, 
  nf.pis_retidoclass, 
  nf.cofins_retidoclass, 
  aliq_pisretidoclass, 
  aliq_cofinsretidoclass, 
  valor_bcalc_pisretidoclass, 
  valor_bcalc_cofinsretidoclass, 
  valor_pisretidoclass, 
  valor_cofinsretidoclass, 
  ipi_importacaoespecifico, 
  frete_incidebase_pis, 
  frete_incidebase_cofins, 
  seguro_incidebase_pis, 
  seguro_incidebase_cofins, 
  outras_incidebase_pis, 
  outras_incidebase_cofins, 
  ipi_incidebase_pis, 
  ipi_incidebase_cofins, 
  Nf.dt_change, 
  icms_diferido, 
  valor_icmsdiferido, 
  add_icmssubtotalnf, 
  add_icmssubtotaldup, 
  nft_codclifor, 
  funrural_retidofonte, 
  aliq_funrural, 
  valor_bcalc_funrural, 
  valor_funrural, 
  origem_item, 
  inss_perc_reducao, 
  csosn, 
  diminuir_icmsopicmsst, 
  tipo_crt, 
  pis_natoperbccredito, 
  cofins_natoperbccredito, 
  pis_tabela_natreceita, 
  cofins_tabela_natreceita, 
  pis_codigo_natreceita, 
  cofins_codigo_natreceita, 
  operacao_efiscal, 
  vr_importacao_fci, 
  porc_fci, 
  cod_fci, 
  aliq_trib_ibpt_ncm, 
  valor_trib_ibpt_ncm, 
  cod_pis_retido, 
  cod_cofins_retido, 
  cod_csll_retido, 
  cod_irrf_retido, 
  cod_inss_retido, 
  perc_adic_cofins_imp, 
  valor_adic_cofins_imp, 
  ipi_nao_aproveitavel, 
  perc_cred_sn, 
  valor_cred_sn, 
  perc_base_icms_subst, 
  nro_drawback, 
  nro_reg_exportacao, 
  qtd_item_export, 
  chave_nfe_export, 
  aliq_federal_ibpt, 
  valor_federal_ibpt, 
  aliq_importado_ibpt, 
  valor_importado_ibpt, 
  aliq_estadual_ibpt, 
  valor_estadual_ibpt, 
  aliq_municipal_ibpt, 
  valor_municipal_ibpt, 
  motdesicms, 
  destacar_operacaodifal, 
  cod_tributacaodifal, 
  valor_difalalterado, 
  valor_bcalc_icmsufdest, 
  perc_baseicmsufdest, 
  aliq_icmsufdest, 
  valor_icmsufdest, 
  valor_bcalc_fecpdest, 
  perc_basefecpdest, 
  aliq_fecpdest, 
  valor_fecpdest, 
  valor_difal, 
  perc_icmsinterpart,      
  valor_icmsstalterado, 
  frete_incide_ii, 
  seguro_incide_ii, 
  despesa_incide_ii, 
  despesaadua_incide_ii, 
  perc_basefcpicms, 
  aliq_fcpicms, 
  valor_basefcpicms, 
  valor_fcpicms, 
  perc_basefcpicmsst, 
  aliq_fcpicmsst, 
  valor_basefcpicmsst, 
  valor_fcpicmsst, 
  cod_tributacaofcpicms, 
  cod_tributacaofcpicmsst, 
  valor_fcpicmsalterado, 
  valor_fcpicmsstalterado, 
  fcpicms_tipobase, 
  frete_incidefcpicms, 
  seguro_incidefcpicms, 
  outras_incidefcpicms, 
  tipo_incidebasefcpicms, 
  fcpicmsst_tipobase, 
  frete_incidefcpicmsst, 
  seguro_incidefcpicmsst, 
  outras_incidefcpicmsst, 
  tipo_incidebasefcpicmsst, 
  base_fcpicmsst_retido, 
  valor_fcpicmsst_retido, 
  valor_fcpicmsstretidoalterado, 
  aliq_fcpsuportada_retido, 
  aliq_fcpicmsst_retido, 
  piscofins_classfiscal, 
  ipi_devolvido, 
  perc_mercdevolvida, 
  escala_relevante, 
  destacar_escalarelevante, 
  cod_fabescalarevelante, 
  cod_beneficiofiscal, 
  zonafranca_tipobase, 
  frete_incidezonafranca, 
  seguro_incidezonafranca, 
  outras_incidezonafranca, 
  tipo_incidebasezonafranca, 
  repasseicms_tipobase, 
  frete_inciderepasseicms, 
  seguro_inciderepasseicms, 
  outras_inciderepasseicms, 
  tipo_incidebaserepasseicms, 
  diminuir_icmsdesoneradoicmsst, 
  perc_icmsoppresumido_subst, 
  valor_icmsoppresumido_subst, 
  bcst_addalqfcp, 
  cod_tiposervico_efd, 
  valor_icms_proprio_ant, 
  base_icms_proprio_ant, 
  diminuir_icmsdesoneradototnf, 
  valor_icmsdesoneradoalterado, 
  destacar_beneficiofiscal, 
  base_icmsdiferido, 
  valor_bcalc_icmsdiferido, 
  valor_diferimento, 
  bcst_tipocalcdifal, 
  tipo_obraconstrucaocivil_efd, 
  codigo_nacionaldaobra_efd, 
  modbc_icmsst, 
  valor_pautapmc, 
  perccredsn_alterado, 
  sestsenat_retidofonte, 
  sestsenat_perc_reducao, 
  valor_bcalc_sestsenat, 
  aliq_sestsenat, 
  valor_sestsenat, 
  cod_sestsenat_retido, 
  valor_fretenaodestacado, 
  valor_pisalterado, 
  deduzir_icmsbasepis, 
  valor_cofinsalterado, 
  deduzir_icmsbasecofins, 
  motdesicmsst, 
  valor_fcpdiferido, 
  valor_fcpefetivo, 
  cod_tributacaofcpdif, 
  valor_fcpdifalterado, 
  perc_basefcpdif, 
  aliq_fcpdif,
  outras_incidefcpdif, 
  valor_fcpdifoperacao, 
  tipo_incidebasefcpdif, 
  nro_pedcliente, 
  seq_pedcompra_item, 
  aliq_retencao_pis, 
  valor_retencao_pis
From Item_NotaFiscal Nf
Left Join Clifor Cli On Cli.Cod_Clifor = Nf.Nft_CodClifor
Where Cod_Empresa != ''001''
And Nf.serie != ''IMPORT''')

Union All

Select *
,	Fk = Trim(Cod_Empresa) + Trim(Cod_Clifor) + Trim(Serie) + Trim(Nro_Nfiscal)
,	PK = Trim(Cod_Empresa) + Trim(Cod_Clifor) + Trim(Serie) + Trim(Nro_Nfiscal) + Convert(Varchar(30),Sequencia)
From OpenQuery([Mbm_Mg_Polimeros],'
Select 
  Nf.cod_clifor, 
  Cli.cgc_cpf,
  Cli.razao,
  cod_empresa, 
  serie, 
  nro_nfiscal, 
  sequencia, 
  cod_tributacao, 
  cod_unidadevenda, 
  cod_contacontabil, 
  cod_tiponatureza, 
  cod_classfiscal, 
  cfo, 
  cod_cest,
  cod_natoperacao, 
  ind_sittrib, 
  cod_item,
  descricao,
  codigo, 
  cod_unidade, 
  quantidade, 
  peso, 
  aliq_icms, 
  ir_retidofonte, 
  peso_bruto, 
  base_icms, 
  inss_retidofonte, 
  valor_bruto, 
  aliq_ipi, 
  frete_incidebaseipi,
  valor_seguro,
  seguro_incidebaseipi,
  outras_incidebaseipi,
  valor_despesas, 
  valor_pis, 
  pis_codtributacao, 
  valor_cofins, 
  base_icms_sub, 
  aliq_pis, 
  pis_retidofonte, 
  aliq_iss, 
  iss_retidofonte,
  iss_perc_reducao,
  valor_bcalc_icms, 
  aliq_icms_sub, 
  valor_icms, 
  valor_bcalc_ipi, 
  cofins_retidofonte, 
  cofins_codtributacao, 
  aliq_cofins, 
  aliq_ir, 
  valor_icms_isento, 
  valor_bcalc_ir, 
  valor_bcalc_iss, 
  valor_cofins_recup, 
  icms_tipobase, 
  valor_icms_outras, 
  icms_perc_descto, 
  valor_bcalc_zonafranca, 
  valor_bcalc_inss, 
  aliq_inss, 
  valor_zonafranca, 
  base_ipi, 
  aliq_importacao, 
  valor_ipi, 
  valor_iss, 
  Nf.perc_descto, 
  cast(obs_itemnf as varchar(1000)) as obs_itemnf, 
  valor_ipi_isento, 
  valor_descto, 
  valor_ipi_outras, 
  valor_frete, 
  valor_ir, 
  base_iss, 
  valor_inss,  
  valor_importacao, 
  desc_zonafranca, 
  valor_unitario, 
  valor_total, 
  ipi_codtributacao, 
  ipi_perc_reducao, 
  ir_perc_reducao, 
  tipo_produto, 
  nft_serie,   
  nft_nrolote,
  nft_seqitempro,
  nft_nronfiscal, 
  seq_pedvenda, 
  cod_pedidovenda, 
  csll_retidofonte, 
  aliq_csll, 
  valor_csll, 
  valor_bcalc_pis, 
  valor_bcalc_cofins, 
  valor_bcalc_csll, 
  substituicao_tributaria, 
  perc_icms_subst,  
  cofins_incidebase_icms, 
  pis_incidebase_icms, 
  add_icmstotalnf, 
  fator_conversao, 
  qtd_venda, 
  preco_unitvenda, 
  nf.pis_retidoclass, 
  nf.cofins_retidoclass, 
  aliq_pisretidoclass, 
  aliq_cofinsretidoclass, 
  valor_bcalc_pisretidoclass, 
  valor_bcalc_cofinsretidoclass, 
  valor_pisretidoclass, 
  valor_cofinsretidoclass, 
  ipi_importacaoespecifico, 
  frete_incidebase_pis, 
  frete_incidebase_cofins, 
  seguro_incidebase_pis, 
  seguro_incidebase_cofins, 
  outras_incidebase_pis, 
  outras_incidebase_cofins, 
  ipi_incidebase_pis, 
  ipi_incidebase_cofins, 
  Nf.dt_change, 
  icms_diferido, 
  valor_icmsdiferido, 
  add_icmssubtotalnf, 
  add_icmssubtotaldup, 
  nft_codclifor, 
  funrural_retidofonte, 
  aliq_funrural, 
  valor_bcalc_funrural, 
  valor_funrural, 
  origem_item, 
  inss_perc_reducao, 
  csosn, 
  diminuir_icmsopicmsst, 
  tipo_crt, 
  pis_natoperbccredito, 
  cofins_natoperbccredito, 
  pis_tabela_natreceita, 
  cofins_tabela_natreceita, 
  pis_codigo_natreceita, 
  cofins_codigo_natreceita, 
  operacao_efiscal, 
  vr_importacao_fci, 
  porc_fci, 
  cod_fci, 
  aliq_trib_ibpt_ncm, 
  valor_trib_ibpt_ncm, 
  cod_pis_retido, 
  cod_cofins_retido, 
  cod_csll_retido, 
  cod_irrf_retido, 
  cod_inss_retido, 
  perc_adic_cofins_imp, 
  valor_adic_cofins_imp, 
  ipi_nao_aproveitavel, 
  perc_cred_sn, 
  valor_cred_sn, 
  perc_base_icms_subst, 
  nro_drawback, 
  nro_reg_exportacao, 
  qtd_item_export, 
  chave_nfe_export, 
  aliq_federal_ibpt, 
  valor_federal_ibpt, 
  aliq_importado_ibpt, 
  valor_importado_ibpt, 
  aliq_estadual_ibpt, 
  valor_estadual_ibpt, 
  aliq_municipal_ibpt, 
  valor_municipal_ibpt, 
  motdesicms, 
  destacar_operacaodifal, 
  cod_tributacaodifal, 
  valor_difalalterado, 
  valor_bcalc_icmsufdest, 
  perc_baseicmsufdest, 
  aliq_icmsufdest, 
  valor_icmsufdest, 
  valor_bcalc_fecpdest, 
  perc_basefecpdest, 
  aliq_fecpdest, 
  valor_fecpdest, 
  valor_difal, 
  perc_icmsinterpart,      
  valor_icmsstalterado, 
  frete_incide_ii, 
  seguro_incide_ii, 
  despesa_incide_ii, 
  despesaadua_incide_ii, 
  perc_basefcpicms, 
  aliq_fcpicms, 
  valor_basefcpicms, 
  valor_fcpicms, 
  perc_basefcpicmsst, 
  aliq_fcpicmsst, 
  valor_basefcpicmsst, 
  valor_fcpicmsst, 
  cod_tributacaofcpicms, 
  cod_tributacaofcpicmsst, 
  valor_fcpicmsalterado, 
  valor_fcpicmsstalterado, 
  fcpicms_tipobase, 
  frete_incidefcpicms, 
  seguro_incidefcpicms, 
  outras_incidefcpicms, 
  tipo_incidebasefcpicms, 
  fcpicmsst_tipobase, 
  frete_incidefcpicmsst, 
  seguro_incidefcpicmsst, 
  outras_incidefcpicmsst, 
  tipo_incidebasefcpicmsst, 
  base_fcpicmsst_retido, 
  valor_fcpicmsst_retido, 
  valor_fcpicmsstretidoalterado, 
  aliq_fcpsuportada_retido, 
  aliq_fcpicmsst_retido, 
  piscofins_classfiscal, 
  ipi_devolvido, 
  perc_mercdevolvida, 
  escala_relevante, 
  destacar_escalarelevante, 
  cod_fabescalarevelante, 
  cod_beneficiofiscal, 
  zonafranca_tipobase, 
  frete_incidezonafranca, 
  seguro_incidezonafranca, 
  outras_incidezonafranca, 
  tipo_incidebasezonafranca, 
  repasseicms_tipobase, 
  frete_inciderepasseicms, 
  seguro_inciderepasseicms, 
  outras_inciderepasseicms, 
  tipo_incidebaserepasseicms, 
  diminuir_icmsdesoneradoicmsst, 
  perc_icmsoppresumido_subst, 
  valor_icmsoppresumido_subst, 
  bcst_addalqfcp, 
  cod_tiposervico_efd, 
  valor_icms_proprio_ant, 
  base_icms_proprio_ant, 
  diminuir_icmsdesoneradototnf, 
  valor_icmsdesoneradoalterado, 
  destacar_beneficiofiscal, 
  base_icmsdiferido, 
  valor_bcalc_icmsdiferido, 
  valor_diferimento, 
  bcst_tipocalcdifal, 
  tipo_obraconstrucaocivil_efd, 
  codigo_nacionaldaobra_efd, 
  modbc_icmsst, 
  valor_pautapmc, 
  perccredsn_alterado, 
  sestsenat_retidofonte, 
  sestsenat_perc_reducao, 
  valor_bcalc_sestsenat, 
  aliq_sestsenat, 
  valor_sestsenat, 
  cod_sestsenat_retido, 
  valor_fretenaodestacado, 
  valor_pisalterado, 
  deduzir_icmsbasepis, 
  valor_cofinsalterado, 
  deduzir_icmsbasecofins, 
  motdesicmsst, 
  valor_fcpdiferido, 
  valor_fcpefetivo, 
  cod_tributacaofcpdif, 
  valor_fcpdifalterado, 
  perc_basefcpdif, 
  aliq_fcpdif,
  outras_incidefcpdif, 
  valor_fcpdifoperacao, 
  tipo_incidebasefcpdif, 
  nro_pedcliente, 
  seq_pedcompra_item, 
  aliq_retencao_pis, 
  valor_retencao_pis
From Item_NotaFiscal Nf
Left Join Clifor Cli On Cli.Cod_Clifor = Nf.Nft_CodClifor
Where Cod_Empresa Not In (''001'',''300'')
And Nf.serie != ''IMPORT''')

Union All

Select *
,	Fk = Trim(Cod_Empresa) + Trim(Cod_Clifor) + Trim(Serie) + Trim(Nro_Nfiscal)
,	PK = Trim(Cod_Empresa) + Trim(Cod_Clifor) + Trim(Serie) + Trim(Nro_Nfiscal) + Convert(Varchar(30),Sequencia)
From OpenQuery([Mbm_Polirex],'
Select 
  Nf.cod_clifor, 
  Cli.cgc_cpf,
  Cli.razao,
  cod_empresa, 
  serie, 
  nro_nfiscal, 
  sequencia, 
  cod_tributacao, 
  cod_unidadevenda, 
  cod_contacontabil, 
  cod_tiponatureza, 
  cod_classfiscal, 
  cfo, 
  cod_cest,
  cod_natoperacao, 
  ind_sittrib, 
  cod_item,
  descricao,
  codigo, 
  cod_unidade, 
  quantidade, 
  peso, 
  aliq_icms, 
  ir_retidofonte, 
  peso_bruto, 
  base_icms, 
  inss_retidofonte, 
  valor_bruto, 
  aliq_ipi, 
  frete_incidebaseipi,
  valor_seguro,
  seguro_incidebaseipi,
  outras_incidebaseipi,
  valor_despesas, 
  valor_pis, 
  pis_codtributacao, 
  valor_cofins, 
  base_icms_sub, 
  aliq_pis, 
  pis_retidofonte, 
  aliq_iss, 
  iss_retidofonte,
  iss_perc_reducao,
  valor_bcalc_icms, 
  aliq_icms_sub, 
  valor_icms, 
  valor_bcalc_ipi, 
  cofins_retidofonte, 
  cofins_codtributacao, 
  aliq_cofins, 
  aliq_ir, 
  valor_icms_isento, 
  valor_bcalc_ir, 
  valor_bcalc_iss, 
  valor_cofins_recup, 
  icms_tipobase, 
  valor_icms_outras, 
  icms_perc_descto, 
  valor_bcalc_zonafranca, 
  valor_bcalc_inss, 
  aliq_inss, 
  valor_zonafranca, 
  base_ipi, 
  aliq_importacao, 
  valor_ipi, 
  valor_iss, 
  Nf.perc_descto, 
  cast(obs_itemnf as varchar(1000)) as obs_itemnf, 
  valor_ipi_isento, 
  valor_descto, 
  valor_ipi_outras, 
  valor_frete, 
  valor_ir, 
  base_iss, 
  valor_inss,  
  valor_importacao, 
  desc_zonafranca, 
  valor_unitario, 
  valor_total, 
  ipi_codtributacao, 
  ipi_perc_reducao, 
  ir_perc_reducao, 
  tipo_produto, 
  nft_serie,   
  nft_nrolote,
  nft_seqitempro,
  nft_nronfiscal, 
  seq_pedvenda, 
  cod_pedidovenda, 
  csll_retidofonte, 
  aliq_csll, 
  valor_csll, 
  valor_bcalc_pis, 
  valor_bcalc_cofins, 
  valor_bcalc_csll, 
  substituicao_tributaria, 
  perc_icms_subst,  
  cofins_incidebase_icms, 
  pis_incidebase_icms, 
  add_icmstotalnf, 
  fator_conversao, 
  qtd_venda, 
  preco_unitvenda, 
  nf.pis_retidoclass, 
  nf.cofins_retidoclass, 
  aliq_pisretidoclass, 
  aliq_cofinsretidoclass, 
  valor_bcalc_pisretidoclass, 
  valor_bcalc_cofinsretidoclass, 
  valor_pisretidoclass, 
  valor_cofinsretidoclass, 
  ipi_importacaoespecifico, 
  frete_incidebase_pis, 
  frete_incidebase_cofins, 
  seguro_incidebase_pis, 
  seguro_incidebase_cofins, 
  outras_incidebase_pis, 
  outras_incidebase_cofins, 
  ipi_incidebase_pis, 
  ipi_incidebase_cofins, 
  Nf.dt_change, 
  icms_diferido, 
  valor_icmsdiferido, 
  add_icmssubtotalnf, 
  add_icmssubtotaldup, 
  nft_codclifor, 
  funrural_retidofonte, 
  aliq_funrural, 
  valor_bcalc_funrural, 
  valor_funrural, 
  origem_item, 
  inss_perc_reducao, 
  csosn, 
  diminuir_icmsopicmsst, 
  tipo_crt, 
  pis_natoperbccredito, 
  cofins_natoperbccredito, 
  pis_tabela_natreceita, 
  cofins_tabela_natreceita, 
  pis_codigo_natreceita, 
  cofins_codigo_natreceita, 
  operacao_efiscal, 
  vr_importacao_fci, 
  porc_fci, 
  cod_fci, 
  aliq_trib_ibpt_ncm, 
  valor_trib_ibpt_ncm, 
  cod_pis_retido, 
  cod_cofins_retido, 
  cod_csll_retido, 
  cod_irrf_retido, 
  cod_inss_retido, 
  perc_adic_cofins_imp, 
  valor_adic_cofins_imp, 
  ipi_nao_aproveitavel, 
  perc_cred_sn, 
  valor_cred_sn, 
  perc_base_icms_subst, 
  nro_drawback, 
  nro_reg_exportacao, 
  qtd_item_export, 
  chave_nfe_export, 
  aliq_federal_ibpt, 
  valor_federal_ibpt, 
  aliq_importado_ibpt, 
  valor_importado_ibpt, 
  aliq_estadual_ibpt, 
  valor_estadual_ibpt, 
  aliq_municipal_ibpt, 
  valor_municipal_ibpt, 
  motdesicms, 
  destacar_operacaodifal, 
  cod_tributacaodifal, 
  valor_difalalterado, 
  valor_bcalc_icmsufdest, 
  perc_baseicmsufdest, 
  aliq_icmsufdest, 
  valor_icmsufdest, 
  valor_bcalc_fecpdest, 
  perc_basefecpdest, 
  aliq_fecpdest, 
  valor_fecpdest, 
  valor_difal, 
  perc_icmsinterpart,      
  valor_icmsstalterado, 
  frete_incide_ii, 
  seguro_incide_ii, 
  despesa_incide_ii, 
  despesaadua_incide_ii, 
  perc_basefcpicms, 
  aliq_fcpicms, 
  valor_basefcpicms, 
  valor_fcpicms, 
  perc_basefcpicmsst, 
  aliq_fcpicmsst, 
  valor_basefcpicmsst, 
  valor_fcpicmsst, 
  cod_tributacaofcpicms, 
  cod_tributacaofcpicmsst, 
  valor_fcpicmsalterado, 
  valor_fcpicmsstalterado, 
  fcpicms_tipobase, 
  frete_incidefcpicms, 
  seguro_incidefcpicms, 
  outras_incidefcpicms, 
  tipo_incidebasefcpicms, 
  fcpicmsst_tipobase, 
  frete_incidefcpicmsst, 
  seguro_incidefcpicmsst, 
  outras_incidefcpicmsst, 
  tipo_incidebasefcpicmsst, 
  base_fcpicmsst_retido, 
  valor_fcpicmsst_retido, 
  valor_fcpicmsstretidoalterado, 
  aliq_fcpsuportada_retido, 
  aliq_fcpicmsst_retido, 
  piscofins_classfiscal, 
  ipi_devolvido, 
  perc_mercdevolvida, 
  escala_relevante, 
  destacar_escalarelevante, 
  cod_fabescalarevelante, 
  cod_beneficiofiscal, 
  zonafranca_tipobase, 
  frete_incidezonafranca, 
  seguro_incidezonafranca, 
  outras_incidezonafranca, 
  tipo_incidebasezonafranca, 
  repasseicms_tipobase, 
  frete_inciderepasseicms, 
  seguro_inciderepasseicms, 
  outras_inciderepasseicms, 
  tipo_incidebaserepasseicms, 
  diminuir_icmsdesoneradoicmsst, 
  perc_icmsoppresumido_subst, 
  valor_icmsoppresumido_subst, 
  bcst_addalqfcp, 
  cod_tiposervico_efd, 
  valor_icms_proprio_ant, 
  base_icms_proprio_ant, 
  diminuir_icmsdesoneradototnf, 
  valor_icmsdesoneradoalterado, 
  destacar_beneficiofiscal, 
  base_icmsdiferido, 
  valor_bcalc_icmsdiferido, 
  valor_diferimento, 
  bcst_tipocalcdifal, 
  tipo_obraconstrucaocivil_efd, 
  codigo_nacionaldaobra_efd, 
  modbc_icmsst, 
  valor_pautapmc, 
  perccredsn_alterado, 
  sestsenat_retidofonte, 
  sestsenat_perc_reducao, 
  valor_bcalc_sestsenat, 
  aliq_sestsenat, 
  valor_sestsenat, 
  cod_sestsenat_retido, 
  valor_fretenaodestacado, 
  valor_pisalterado, 
  deduzir_icmsbasepis, 
  valor_cofinsalterado, 
  deduzir_icmsbasecofins, 
  motdesicmsst, 
  valor_fcpdiferido, 
  valor_fcpefetivo, 
  cod_tributacaofcpdif, 
  valor_fcpdifalterado, 
  perc_basefcpdif, 
  aliq_fcpdif,
  outras_incidefcpdif, 
  valor_fcpdifoperacao, 
  tipo_incidebasefcpdif, 
  nro_pedcliente, 
  seq_pedcompra_item, 
  aliq_retencao_pis, 
  valor_retencao_pis
From Item_NotaFiscal Nf
Left Join Clifor Cli On Cli.Cod_Clifor = Nf.Nft_CodClifor
Where Cod_Empresa != ''001''
And Nf.serie != ''IMPORT''')

Union All

Select *
,	Fk = Trim(Cod_Empresa) + Trim(Cod_Clifor) + Trim(Serie) + Trim(Nro_Nfiscal)
,	PK = Trim(Cod_Empresa) + Trim(Cod_Clifor) + Trim(Serie) + Trim(Nro_Nfiscal) + Convert(Varchar(30),Sequencia)
From OpenQuery([Mbm_Nortebag],'
Select 
  Nf.cod_clifor, 
  Cli.cgc_cpf,
  Cli.razao,
  cod_empresa, 
  serie, 
  nro_nfiscal, 
  sequencia, 
  cod_tributacao, 
  cod_unidadevenda, 
  cod_contacontabil, 
  cod_tiponatureza, 
  cod_classfiscal, 
  cfo, 
  cod_cest,
  cod_natoperacao, 
  ind_sittrib, 
  cod_item,
  descricao,
  codigo, 
  cod_unidade, 
  quantidade, 
  peso, 
  aliq_icms, 
  ir_retidofonte, 
  peso_bruto, 
  base_icms, 
  inss_retidofonte, 
  valor_bruto, 
  aliq_ipi, 
  frete_incidebaseipi,
  valor_seguro,
  seguro_incidebaseipi,
  outras_incidebaseipi,
  valor_despesas, 
  valor_pis, 
  pis_codtributacao, 
  valor_cofins, 
  base_icms_sub, 
  aliq_pis, 
  pis_retidofonte, 
  aliq_iss, 
  iss_retidofonte,
  iss_perc_reducao,
  valor_bcalc_icms, 
  aliq_icms_sub, 
  valor_icms, 
  valor_bcalc_ipi, 
  cofins_retidofonte, 
  cofins_codtributacao, 
  aliq_cofins, 
  aliq_ir, 
  valor_icms_isento, 
  valor_bcalc_ir, 
  valor_bcalc_iss, 
  valor_cofins_recup, 
  icms_tipobase, 
  valor_icms_outras, 
  icms_perc_descto, 
  valor_bcalc_zonafranca, 
  valor_bcalc_inss, 
  aliq_inss, 
  valor_zonafranca, 
  base_ipi, 
  aliq_importacao, 
  valor_ipi, 
  valor_iss, 
  Nf.perc_descto, 
  cast(obs_itemnf as varchar(1000)) as obs_itemnf, 
  valor_ipi_isento, 
  valor_descto, 
  valor_ipi_outras, 
  valor_frete, 
  valor_ir, 
  base_iss, 
  valor_inss,  
  valor_importacao, 
  desc_zonafranca, 
  valor_unitario, 
  valor_total, 
  ipi_codtributacao, 
  ipi_perc_reducao, 
  ir_perc_reducao, 
  tipo_produto, 
  nft_serie,   
  nft_nrolote,
  nft_seqitempro,
  nft_nronfiscal, 
  seq_pedvenda, 
  cod_pedidovenda, 
  csll_retidofonte, 
  aliq_csll, 
  valor_csll, 
  valor_bcalc_pis, 
  valor_bcalc_cofins, 
  valor_bcalc_csll, 
  substituicao_tributaria, 
  perc_icms_subst,  
  cofins_incidebase_icms, 
  pis_incidebase_icms, 
  add_icmstotalnf, 
  fator_conversao, 
  qtd_venda, 
  preco_unitvenda, 
  nf.pis_retidoclass, 
  nf.cofins_retidoclass, 
  aliq_pisretidoclass, 
  aliq_cofinsretidoclass, 
  valor_bcalc_pisretidoclass, 
  valor_bcalc_cofinsretidoclass, 
  valor_pisretidoclass, 
  valor_cofinsretidoclass, 
  ipi_importacaoespecifico, 
  frete_incidebase_pis, 
  frete_incidebase_cofins, 
  seguro_incidebase_pis, 
  seguro_incidebase_cofins, 
  outras_incidebase_pis, 
  outras_incidebase_cofins, 
  ipi_incidebase_pis, 
  ipi_incidebase_cofins, 
  Nf.dt_change, 
  icms_diferido, 
  valor_icmsdiferido, 
  add_icmssubtotalnf, 
  add_icmssubtotaldup, 
  nft_codclifor, 
  funrural_retidofonte, 
  aliq_funrural, 
  valor_bcalc_funrural, 
  valor_funrural, 
  origem_item, 
  inss_perc_reducao, 
  csosn, 
  diminuir_icmsopicmsst, 
  tipo_crt, 
  pis_natoperbccredito, 
  cofins_natoperbccredito, 
  pis_tabela_natreceita, 
  cofins_tabela_natreceita, 
  pis_codigo_natreceita, 
  cofins_codigo_natreceita, 
  operacao_efiscal, 
  vr_importacao_fci, 
  porc_fci, 
  cod_fci, 
  aliq_trib_ibpt_ncm, 
  valor_trib_ibpt_ncm, 
  cod_pis_retido, 
  cod_cofins_retido, 
  cod_csll_retido, 
  cod_irrf_retido, 
  cod_inss_retido, 
  perc_adic_cofins_imp, 
  valor_adic_cofins_imp, 
  ipi_nao_aproveitavel, 
  perc_cred_sn, 
  valor_cred_sn, 
  perc_base_icms_subst, 
  nro_drawback, 
  nro_reg_exportacao, 
  qtd_item_export, 
  chave_nfe_export, 
  aliq_federal_ibpt, 
  valor_federal_ibpt, 
  aliq_importado_ibpt, 
  valor_importado_ibpt, 
  aliq_estadual_ibpt, 
  valor_estadual_ibpt, 
  aliq_municipal_ibpt, 
  valor_municipal_ibpt, 
  motdesicms, 
  destacar_operacaodifal, 
  cod_tributacaodifal, 
  valor_difalalterado, 
  valor_bcalc_icmsufdest, 
  perc_baseicmsufdest, 
  aliq_icmsufdest, 
  valor_icmsufdest, 
  valor_bcalc_fecpdest, 
  perc_basefecpdest, 
  aliq_fecpdest, 
  valor_fecpdest, 
  valor_difal, 
  perc_icmsinterpart,      
  valor_icmsstalterado, 
  frete_incide_ii, 
  seguro_incide_ii, 
  despesa_incide_ii, 
  despesaadua_incide_ii, 
  perc_basefcpicms, 
  aliq_fcpicms, 
  valor_basefcpicms, 
  valor_fcpicms, 
  perc_basefcpicmsst, 
  aliq_fcpicmsst, 
  valor_basefcpicmsst, 
  valor_fcpicmsst, 
  cod_tributacaofcpicms, 
  cod_tributacaofcpicmsst, 
  valor_fcpicmsalterado, 
  valor_fcpicmsstalterado, 
  fcpicms_tipobase, 
  frete_incidefcpicms, 
  seguro_incidefcpicms, 
  outras_incidefcpicms, 
  tipo_incidebasefcpicms, 
  fcpicmsst_tipobase, 
  frete_incidefcpicmsst, 
  seguro_incidefcpicmsst, 
  outras_incidefcpicmsst, 
  tipo_incidebasefcpicmsst, 
  base_fcpicmsst_retido, 
  valor_fcpicmsst_retido, 
  valor_fcpicmsstretidoalterado, 
  aliq_fcpsuportada_retido, 
  aliq_fcpicmsst_retido, 
  piscofins_classfiscal, 
  ipi_devolvido, 
  perc_mercdevolvida, 
  escala_relevante, 
  destacar_escalarelevante, 
  cod_fabescalarevelante, 
  cod_beneficiofiscal, 
  zonafranca_tipobase, 
  frete_incidezonafranca, 
  seguro_incidezonafranca, 
  outras_incidezonafranca, 
  tipo_incidebasezonafranca, 
  repasseicms_tipobase, 
  frete_inciderepasseicms, 
  seguro_inciderepasseicms, 
  outras_inciderepasseicms, 
  tipo_incidebaserepasseicms, 
  diminuir_icmsdesoneradoicmsst, 
  perc_icmsoppresumido_subst, 
  valor_icmsoppresumido_subst, 
  bcst_addalqfcp, 
  cod_tiposervico_efd, 
  valor_icms_proprio_ant, 
  base_icms_proprio_ant, 
  diminuir_icmsdesoneradototnf, 
  valor_icmsdesoneradoalterado, 
  destacar_beneficiofiscal, 
  base_icmsdiferido, 
  valor_bcalc_icmsdiferido, 
  valor_diferimento, 
  bcst_tipocalcdifal, 
  tipo_obraconstrucaocivil_efd, 
  codigo_nacionaldaobra_efd, 
  modbc_icmsst, 
  valor_pautapmc, 
  perccredsn_alterado, 
  sestsenat_retidofonte, 
  sestsenat_perc_reducao, 
  valor_bcalc_sestsenat, 
  aliq_sestsenat, 
  valor_sestsenat, 
  cod_sestsenat_retido, 
  valor_fretenaodestacado, 
  valor_pisalterado, 
  deduzir_icmsbasepis, 
  valor_cofinsalterado, 
  deduzir_icmsbasecofins, 
  motdesicmsst, 
  valor_fcpdiferido, 
  valor_fcpefetivo, 
  cod_tributacaofcpdif, 
  valor_fcpdifalterado, 
  perc_basefcpdif, 
  aliq_fcpdif,
  outras_incidefcpdif, 
  valor_fcpdifoperacao, 
  tipo_incidebasefcpdif, 
  nro_pedcliente, 
  seq_pedcompra_item, 
  aliq_retencao_pis, 
  valor_retencao_pis
From Item_NotaFiscal Nf
Left Join Clifor Cli On Cli.Cod_Clifor = Nf.Nft_CodClifor
Where Cod_Empresa != ''001''
And Nf.serie != ''IMPORT''')

Print (Convert(Char(20),GetDate(),20) + '| ' +  'OpenQuery da Base MBM:' + ' OK! ')
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Garante a Integridade dos Dados de Acordo Com a PK do MBM							*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Drop Table If Exists #Uniq
Select *
,	Fk_PedVenda		= Trim(Cod_Empresa) + Trim(Cod_PedidoVenda)
,	Fk_PedVendaItem = Trim(Cod_Empresa) + Trim(Cod_PedidoVenda) + Convert(Varchar(20),Seq_PedVenda)
Into #Uniq
From (
		Select 
			Empresas.Id_Empresa_Grupo
		,	Empresas.Id_Empresa
		,	Fato.*
		,	Rw = Row_Number() Over ( Partition By Pk Order By Pk Desc)
		From #BaseNFItens Fato
		Join Empresas On Empresas.Codigo_Antigo = Fato.Cod_Empresa Collate latin1_general_ci_ai 
	 )SubQuery
Where Rw = 1

Print (Convert(Char(20),GetDate(),20) + '| ' +  'RowNumber, Deixando Base Uniq:' + ' OK! ')
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Limpa os Caracteres Especiais das Coluna de CNPJ e CPF da Tabela Clifor			*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Drop Table If Exists #AuxCLifor
Select *
,	Cnpj_C = Dbo.Fn_Limpa_NoNum(Cnpj)
,	Cpf_C  = Dbo.Fn_Limpa_NoNum(Cpf)
Into #AuxCLifor
From Clifor

Print (Convert(Char(20),GetDate(),20) + '| ' +  'ETL CNPJ/CPF Clifor:' + ' OK! ')
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Adiciona a Descriçâo do Item na Tabela Itens Empresas								*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Drop Table If Exists #Itens_Company
Select 
	Itens_Empresas.*
,	Itens.descricao		 
Into #Itens_Company
From Itens_Empresas
Join Itens On Itens.id_item = Itens_Empresas.id_item

Print (Convert(Char(20),GetDate(),20) + '| ' +  'Temporaria Item Empresas:' + ' OK! ')
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Temporaria Para Guardar Possiveis Itens Que Nao Existam Na Tabela Itens_Empresas	*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Drop Table If Exists #Itens_Nao_Correspondidos;
Create Table #Itens_Nao_Correspondidos (
    Codigo_Item Varchar(255),
    Id_Empresa_Grupo Int,
    Descricao Varchar(255)
);
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Inseri Os Itens Que Nao Tem correspondencia Na Tabela								*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Insert Into #Itens_Nao_Correspondidos (Codigo_Item, Id_Empresa_Grupo, Descricao)
Select Distinct 
    Fato.Cod_Item,
    Fato.Id_Empresa_Grupo,
    Fato.Descricao
From #Uniq Fato
Left  Join #Itens_Company as Item On  Item.cod_reduzido_antigo = Fato.Cod_Item Collate latin1_general_ci_ai 
								  And Item.Id_Empresa_Grupo    = Fato.Id_Empresa_Grupo
Where Item.id_item Is Null
And Fato.Cod_Item Is Not Null
--Order By Fato.Id_Empresa_Grupo Desc
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Verificar Se Ha Itens Nao Correspondidos e Envia o E-mail							*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
If Exists(
		  Select 1 From #Itens_Nao_Correspondidos
		 )
Begin
    Declare @Body      Nvarchar(Max)
    Declare @Periodo   Nvarchar(Max)
    Declare @Frase     Nvarchar(Max) = 'Os Itens Abaixo, Precisam Ser Preenchidos na Procedure: ';
    Declare @Procedure Nvarchar(Max) = 'Notas Fiscais Itens'

    -- Definindo a saudacao com base na hora do dia
    If (DatePart(Hour, GetDate()) Between 0 And 12)
        Set @Periodo = 'Bom dia, ' + ' ' + @Frase + @Procedure;
    Else If (DatePart(Hour, GetDate()) Between 13 AND 18)
        Set @Periodo = 'Boa Tarde, ' + ' ' + @Frase + @Procedure;
    Else
        Set @Periodo = 'Boa Noite, ' + ' ' + @Frase + @Procedure;

    -- Formatando o corpo do email em HTML
    Set @Body = 
        '<h3>' + @Periodo + '</h3>' +
        '<table border="1" width="100%">' +
        '<tr>' +
        '<th>Codigo_Item</th><th>Id_Empresa_Grupo</th><th>Descricao_Item</th>' +
        '</tr>' +
        Cast((
            Select 
                Codigo_Item AS [TD], '', 
                Id_Empresa_Grupo AS [TD], '', 
                Descricao AS [TD], ''
            From #Itens_Nao_Correspondidos
            For Xml Raw('tr'), Elements 
        ) As Nvarchar(Max)) +
        '</table>' +
        '<br><br>Informa  o extra da em: ' + Convert(Nvarchar, GetDate(), 113);

    Begin Try
        Exec Msdb.Dbo.Sp_Send_DbMail 
            @profile_name = 'MSSQLServer',
            @recipients = 'kaike.santana@atrpservices.com.br',
            @subject = 'Alerta: Itens Nao Correspondidos Encontrados',
            @body = @Body,
            @body_format = 'HTML';
    End Try
    Begin Catch
        Print 'Erro ao enviar email.';
    End Catch
End;
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Insere Apenas os Dados Incrementais na Tabela Fisica Notas_Fiscais_Itens			*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
Insert Into [dbo].[Notas_Fiscais_Itens] 
           ([id_nota_fiscal]
           ,[sequencia]
           ,[id_pedido_item]
           ,[id_item]
           ,[id_natureza_operacao]
           ,[id_tributacao]
           ,[id_compra_importacao_item]
           ,[id_adicao_item]
           ,[cst]
           ,[ncm]
           ,[id_unidade_estoque]
           ,[quantidade_estoque]
           ,[valor_unitario_estoque]
           ,[fator_conversao]
           ,[id_unidade_nf]
           ,[quantidade]
           ,[valor_unitario] 
           ,[valor_produtos] 
           ,[tipo_desconto]
           ,[desconto_perc]
           ,[desconto_valor]
           ,[valor_total] 
           ,[peso_liquido]
           ,[peso_bruto]
           ,[zonafranca_tipobase]
           ,[diminuir_icmsdesoneradototnf]
           ,[desc_zonafranca] 
           ,[valor_bcalc_zonafranca]
           ,[valor_zonafranca]
           ,[motdesicms]
           ,[add_icmstotalnf]
           ,[aliq_importacao]
           ,[valor_importacao]
           ,[csosn]
           ,[substituicao_tributaria]
           ,[diminuir_icmsopicmsst]
           ,[add_icmssubtotalnf]
           ,[add_icmssubtotaldup]
           ,[iss_retidofonte]
           ,[inss_cod_retido]
           ,[irrf_cod_retido]
           ,[csll_cod_retido]
           ,[ir_retidofonte]
           ,[csll_retidofonte] 
           ,[ii_bcalc]
           ,[ii_perc]
           ,[ii_valor]
           ,[ipi_codtributacao]
           ,[ipi_enquadramento]
           ,[ipi_perc_reducao]
           ,[ipi_ii_incide_base]
           ,[ipi_frete_incide_base]
           ,[ipi_seguro_incide_base]
           ,[ipi_outras_incide_base]
           ,[ipi_bcalc]
           ,[ipi_perc]
           ,[ipi_valor]
           ,[ipi_valor_isento]
           ,[ipi_valor_outras]
           ,[ipi_alterado]
           ,[cod_pis_retido]
           ,[pis_alterado]
           ,[pis_base_deduzir_icms]
           ,[pis_bcalc]
           ,[pis_perc]
           ,[pis_valor]
           ,[pis_retido_bcalc]
           ,[pis_retido_perc]
           ,[pis_retido_valor]
           ,[cod_cofins_retido]
           ,[cofins_bcalc]
           ,[cofins_perc]
           ,[cofins_valor]
           ,[cofins_alterado]
           ,[cofins_base_deduzir_icms]
           ,[cofins_retido_bcalc]
           ,[cofins_retido_perc]
           ,[cofins_retido_valor] 
           ,[icms_diferido]
           ,[icms_perc_trib_base]
           ,[icms_bcalc]
           ,[icms_perc]
           ,[icms_valor]
           ,[icms_valor_isento]
           ,[icms_valor_outras]
           ,[icms_diferido_perc_base]
           ,[icms_diferido_valor_base]
           ,[icms_op_valor]
           ,[icms_diferido_valor]
           ,[icms_alterado]
           ,[icms_st_perc_trib_bcalc]
           ,[icms_st_bcalc]
           ,[icms_st_perc]
           ,[icms_st_valor]
           ,[icms_st_valor_pauta]
           ,[icms_st_perc_op_presumido]
           ,[icms_st_alterado]
           ,[icms_perc_op_st_destino]
           ,[icms_adicionar_st_nf]
           ,[icms_st_bcalc_ret_ant]
           ,[icms_st_valor_ret_ant]
           ,[icms_st_ret_ant_alterado]
           ,[icms_bcalc_propria_ret_ant]
           ,[icms_valor_proprio_ret_ant]
           ,[icms_origST]
           ,[icms_modBCST]
           ,[icms_pMVAST]
           ,[icms_pRedBCST]
           ,[icms_vBCST]
           ,[icms_pICMSST]
           ,[icms_vICMSST]
           ,[iss_perc_reduc]
           ,[iss_bcalc]
           ,[iss_perc]
           ,[iss_valor]
           ,[iss_retido_fonte]
           ,[ir_bcalc]
           ,[ir_perc]
           ,[ir_valor]
           ,[ir_retido_fonte]
           ,[csll_bcalc]
           ,[csll_perc]
           ,[csll_valor]
           ,[csll_retido_fonte]
           ,[inss_perc_reduc]
           ,[inss_bcalc]
           ,[inss_perc]
           ,[inss_valor]
           ,[inss_retido_fonte]
           ,[frete_valor]
           ,[seguro_valor]
           ,[valor_despesas]
           ,[fci_perc]
           ,[fci_impor_valor]
           ,[fci_codigo]
           ,[incl_data]
           ,[incl_user]
           ,[incl_device]
           ,[modi_data]
           ,[modi_user]
           ,[modi_device]
           ,[excl_data]
           ,[excl_user]
           ,[excl_device]
           ,[nft_numero]
           ,[nft_serie]
           ,[nft_lote]
           ,[nft_seq_item]
           ,[nft_cod_clifor]
           ,[id_pedido_venda]
           ,[obs_item_nf]
           ,[seq_pedido_venda]
           ,[cod_pedido_venda]
           ,[pis_codtributacao]
           ,[cofins_codtributacao]
           ,[cfop]
           ,[cod_item_fornec_xml]
           ,[desc_item_fornec_xml]
           ,[icms_desonerado_origem]
           ,[icms_desonerado_motivo]
           ,[icms_desonerado_base]
           ,[icms_desonerado_perc]
           ,[icms_desonerado_valor]
           ,[icms_desonerado_perc_aplicacao]
           ,[icms_desonerado_deduzir_valor_total_nf]
           ,[pedido_cliente]
           ,[custo_unitario]
           ,[id_pedido_venda_item]
		   ,[Pk])

Select 
	[id_nota_fiscal]						 = Notas_Fiscais.Id_Nota_Fiscal
,	[sequencia]								 = Fato.Sequencia
,	[id_pedido_item]						 = Null -- Verificar Depois --> compras_pedidos_itens
,	[id_item]								 = #Itens_Company.Id_Item
,	[id_natureza_operacao]					 = Natureza_Operacao.Id_NaturezaOperacao
,	[id_tributacao]							 = Tributacao.Id_Tributacao
,	[id_compra_importacao_item]				 = Null --> Compras_Importacoes_Itens
,	[id_adicao_item]						 = Null --> Compras_Importacoes_Itens_Adicoes
,	[cst]									 = Fato.Ind_SitTrib 
,	[ncm]									 = Fato.Cod_ClassFiscal		-- Validar
,	[id_unidade_estoque]					 = Unidades.Id_Unidade
,	[quantidade_estoque]					 = Fato.Quantidade
,	[valor_unitario_estoque]				 = Fato.Valor_Unitario
,	[fator_conversao]						 = Fato.Fator_Conversao
,	[id_unidade_nf]							 = Un_2.Id_Unidade
,	[quantidade]							 = Fato.Quantidade
,	[valor_unitario]						 = Fato.Valor_Unitario
,	[valor_produtos]						 = Fato.Valor_Bruto
,	[tipo_desconto]							 = Null
,	[desconto_perc]							 = Fato.Perc_Descto
,	[desconto_valor]						 = Fato.Valor_Descto
,	[valor_total]							 = Fato.Valor_Total
,	[peso_liquido]							 = Fato.Peso
,	[peso_bruto]							 = Fato.Peso_Bruto
,	[zonafranca_tipobase]					 = Fato.ZonaFranca_TipoBase
,	[diminuir_icmsdesoneradototnf]			 = Fato.Diminuir_IcmsDesoneradototNf
,	[desc_zonafranca]						 = Fato.Desc_ZonaFranca
,	[valor_bcalc_zonafranca]				 = Fato.Valor_Bcalc_ZonaFranca
,	[valor_zonafranca]						 = Fato.Valor_ZonaFranca
,	[motdesicms]							 = Fato.MotdesIcms
,	[add_icmstotalnf]						 = Fato.Add_IcmsTotalNf
,	[aliq_importacao]						 = Fato.Aliq_Importacao
,	[valor_importacao]						 = Fato.Valor_Importacao
,	[csosn]									 = Fato.Csosn
,	[substituicao_tributaria]				 = Fato.Substituicao_Tributaria
,	[diminuir_icmsopicmsst]					 = Fato.Diminuir_IcmsOpicmsst
,	[add_icmssubtotalnf]					 = Fato.Add_IcmsSubTotalNf
,	[add_icmssubtotaldup]					 = Fato.Add_IcmsSubTotalDup
,	[iss_retidofonte]						 = Fato.Iss_RetidoFonte
,	[inss_cod_retido]						 = Fato.Cod_Inss_Retido
,	[irrf_cod_retido]						 = Fato.Cod_Irrf_Retido
,	[csll_cod_retido]						 = Fato.Cod_Csll_Retido
,	[ir_retidofonte]						 = Fato.Ir_RetidoFonte
,	[csll_retidofonte]						 = Fato.Csll_RetidoFonte
,	[ii_bcalc]								 = Null
,	[ii_perc]								 = Null
,	[ii_valor]								 = Null
,	[ipi_codtributacao]						 = Fato.Ipi_CodTributacao
,	[ipi_enquadramento]						 = Null
,	[ipi_perc_reducao]						 = Fato.Ipi_Perc_Reducao
,	[ipi_ii_incide_base]					 = Null
,	[ipi_frete_incide_base]					 = Fato.frete_incidebaseipi
,	[ipi_seguro_incide_base]				 = Fato.seguro_incidebaseipi
,	[ipi_outras_incide_base]				 = Fato.outras_incidebaseipi
,	[ipi_bcalc]								 = Fato.Valor_Bcalc_Ipi
,	[ipi_perc]								 = Fato.Aliq_Ipi
,	[ipi_valor]								 = Fato.Valor_Ipi
,	[ipi_valor_isento]						 = Fato.Valor_Ipi_Isento
,	[ipi_valor_outras]						 = Fato.Valor_Ipi_Outras
,	[ipi_alterado]							 = Null
,	[cod_pis_retido]						 = Fato.Cod_Pis_retido
,	[pis_alterado]							 = Fato.Valor_PisAlterado
,	[pis_base_deduzir_icms]					 = Fato.Deduzir_IcmsBasePis
,	[pis_bcalc]								 = Fato.Valor_Bcalc_Pis
,	[pis_perc]								 = Fato.Aliq_pis
,	[pis_valor]								 = Fato.Valor_Pis
,	[pis_retido_bcalc]						 = Fato.Valor_Bcalc_PisRetidoClass	-- Validar
,	[pis_retido_perc]						 = Fato.Aliq_PisRetidoClass			-- Validar
,	[pis_retido_valor]						 = Fato.Valor_PisRetidoClass		-- Validar
,	[cod_cofins_retido]						 = Fato.Cod_Cofins_Retido
,	[cofins_bcalc]							 = Fato.Valor_Bcalc_Cofins
,	[cofins_perc]							 = Fato.Aliq_Cofins
,	[cofins_valor]							 = Fato.Valor_Cofins
,	[cofins_alterado]						 = Fato.Valor_CofinsAlterado
,	[cofins_base_deduzir_icms]				 = Fato.Cofins_IncideBase_Icms
,	[cofins_retido_bcalc]					 = Fato.valor_bcalc_cofinsretidoclass
,	[cofins_retido_perc]					 = Fato.Aliq_CofinsRetidoClass
,	[cofins_retido_valor]					 = Fato.Valor_CofinsRetidoClass
,	[icms_diferido]							 = Fato.Icms_Diferido
,	[icms_perc_trib_base]					 = Fato.Perc_Base_Icms_Subst		-- Validar
,	[icms_bcalc]							 = Fato.Valor_Bcalc_Icms			-- Validar
,	[icms_perc]								 = Fato.Aliq_Icms
,	[icms_valor]							 = Fato.Valor_Icms
,	[icms_valor_isento]						 = Fato.Valor_Icms_Isento
,	[icms_valor_outras]						 = Fato.Valor_Icms_Outras
,	[icms_diferido_perc_base]				 = Fato.Base_IcmsDiferido
,	[icms_diferido_valor_base]				 = Fato.Valor_Icmsdiferido
,	[icms_op_valor]							 = Null
,	[icms_diferido_valor]					 = Fato.Valor_IcmsDiferido
,	[icms_alterado]							 = Fato.Valor_Icmsstalterado
,	[icms_st_perc_trib_bcalc]				 = Null
,	[icms_st_bcalc]							 = Null
,	[icms_st_perc]							 = Fato.Perc_Icms_Subst
,	[icms_st_valor]							 = Null
,	[icms_st_valor_pauta]					 = Null
,	[icms_st_perc_op_presumido]				 = Fato.Perc_IcmsOpPresumido_Subst
,	[icms_st_alterado]						 = Null
,	[icms_perc_op_st_destino]				 = Null
,	[icms_adicionar_st_nf]					 = Null
,	[icms_st_bcalc_ret_ant]					 = Null
,	[icms_st_valor_ret_ant]					 = Null
,	[icms_st_ret_ant_alterado]				 = Null
,	[icms_bcalc_propria_ret_ant]			 = Null
,	[icms_valor_proprio_ret_ant]			 = Null
,	[icms_origST]							 = Null
,	[icms_modBCST]							 = Null
,	[icms_pMVAST]							 = Null
,	[icms_pRedBCST]							 = Null
,	[icms_vBCST]							 = Null
,	[icms_pICMSST]							 = Null
,	[icms_vICMSST]							 = Null
,	[iss_perc_reduc]						 = Fato.Iss_Perc_Reducao
,	[iss_bcalc]								 = Fato.Valor_Bcalc_Iss
,	[iss_perc]								 = Fato.Aliq_Iss
,	[iss_valor]								 = Fato.Valor_Iss
,	[iss_retido_fonte]						 = Null
,	[ir_bcalc]								 = Fato.Valor_Bcalc_Ir
,	[ir_perc]								 = Fato.Aliq_Ir
,	[ir_valor]								 = Fato.Valor_Ir
,	[ir_retido_fonte]						 = Fato.Ir_RetidoFonte
,	[csll_bcalc]							 = Fato.Valor_Bcalc_Csll
,	[csll_perc]								 = Fato.Aliq_Csll
,	[csll_valor]							 = Fato.Valor_Csll
,	[csll_retido_fonte]						 = Fato.Csll_RetidoFonte
,	[inss_perc_reduc]						 = Fato.Inss_Perc_Reducao
,	[inss_bcalc]							 = Fato.Valor_Bcalc_Inss
,	[inss_perc]								 = Fato.Aliq_Inss
,	[inss_valor]							 = Fato.Valor_Inss
,	[inss_retido_fonte]						 = Fato.Inss_RetidoFonte
,	[frete_valor]							 = Fato.Valor_Frete
,	[seguro_valor]							 = Fato.Valor_Seguro
,	[valor_despesas]						 = Fato.Valor_Despesas
,	[fci_perc]								 = Fato.Porc_Fci
,	[fci_impor_valor]						 = Fato.Vr_Importacao_Fci
,	[fci_codigo]							 = Fato.Cod_Fci
,	[incl_data]								 = GetDate()
,	[incl_user]								 = 'ksantana'
,	[incl_device]							 = 'PC/10.1.0.123'
,	[modi_data]								 = Null
,	[modi_user]								 = Null
,	[modi_device]							 = Null
,	[excl_data]								 = Null
,	[excl_user]								 = Null
,	[excl_device]							 = Null
,	[nft_numero]							 = Fato.Nft_NroNfiscal
,	[nft_serie]								 = Fato.Nft_Serie
,	[nft_lote]								 = Fato.Nft_NroLote
,	[nft_seq_item]							 = Fato.Nft_SeqItempro
,	[nft_cod_clifor]						 = C1.Cod_Clifor
,	[id_pedido_venda]						 = Vendas_Pedidos.Id_Pedido
,	[obs_item_nf]							 = Fato.Obs_ItemNf
,	[seq_pedido_venda]						 = Fato.Seq_PedVenda
,	[cod_pedido_venda]						 = Fato.Cod_PedidoVenda
,	[pis_codtributacao]						 = Fato.Pis_CodTributacao
,	[cofins_codtributacao]					 = Fato.Cofins_CodTributacao
,	[cfop]									 = Fato.Cfo
,	[cod_item_fornec_xml]					 = Fato.Codigo
,	[desc_item_fornec_xml]					 = Fato.Descricao
,	[icms_desonerado_origem]				 = Null
,	[icms_desonerado_motivo]				 = Fato.MotDesIcms
,	[icms_desonerado_base]					 = Null
,	[icms_desonerado_perc]					 = Null
,	[icms_desonerado_valor]					 = Null
,	[icms_desonerado_perc_aplicacao]		 = Null
,	[icms_desonerado_deduzir_valor_total_nf] = Fato.Diminuir_IcmsDesoneradoTotNf
,	[pedido_cliente]						 = Fato.Nro_PedCliente
,	[custo_unitario]						 = Null
,	[id_pedido_venda_item]					 = Vendas_Pedidos_Itens.Id_Pedido_Item
,	[Pk]									 = Fato.Pk
From #Uniq Fato 
Inner Join Notas_Fiscais		On  Notas_Fiscais.Pk				   = Fato.Fk						  Collate latin1_general_ci_ai 
Inner Join #Itens_Company		On  #Itens_Company.cod_reduzido_antigo = Fato.Cod_Item					  Collate latin1_general_ci_ai 
								And #Itens_Company.id_empresa_grupo    = Fato.Id_Empresa_Grupo
Left  Join Natureza_Operacao	On  Natureza_Operacao.Cod_NatOperacao  = Fato.Cod_NatOperacao			  Collate latin1_general_ci_ai 
								And Natureza_Operacao.id_empresa_grupo = Fato.Id_Empresa_Grupo
Left  Join Tributacao			On  Tributacao.Cod_Tributacao		   = Fato.Cod_Tributacao			  Collate latin1_general_ci_ai 
Left  Join Unidades				On  Unidades.Codigo					   = Fato.Cod_Unidade				  Collate latin1_general_ci_ai 
Left  Join Unidades   As Un_2	On  Un_2.Codigo						   = Fato.Cod_Unidade				  Collate latin1_general_ci_ai 
Left  Join #AuxCLifor As C1		On  Isnull(C1.Cnpj_C,C1.Cpf_C)		   = Dbo.Fn_Limpa_NoNum(Fato.Cgc_Cpf) Collate latin1_general_ci_ai 
								And C1.Razao						   = Fato.Razao						  Collate latin1_general_ci_ai 	
Left  Join Vendas_Pedidos		On  Vendas_Pedidos.Pk		     	   = Fk_PedVenda					  Collate latin1_general_ci_ai 
Left  Join Vendas_Pedidos_Itens	On  Vendas_Pedidos_Itens.Pk			   = Fk_PedVendaItem				  Collate latin1_general_ci_ai 
Where Not Exists (
				   Select *
				   From Notas_Fiscais_Itens Dim
				   Where Dim.Pk = Fato.Pk Collate latin1_general_ci_ai 
				 )


--> Dropa Tabelas Temporarias da Procedure
Begin
	Drop Table If Exists #BaseNFItens
	Drop Table If Exists #Uniq
	Drop Table If Exists #AuxCLifor
	Drop Table If Exists #Itens_Company
	Drop Table If Exists #Itens_Nao_Correspondidos
End

End; -- Fim do Bloco T-SQL
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Descricao: Colunas da Tabela Item_NotaFiscal do MBM Que Nao Foram Usadas na Procedure		*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
--  cod_tabelapreco, 
--  ind_classfiscal, 
--  descricao, 
--  quantidade2, 
--  qtde_prenota,  
--  cast(nfe_msgdadosadicionais as varchar(3000)) as nfe_msgdadosadicionais,
--  frete_incidebase_icms, 
--  seguro_incidebase_icms,  
--  pis_recuperavel, 
--  valor_pis_isento, 
--  valor_pis_outras, 
--  valor_pis_recup, 
--  ipi_tipobase, 
--  valor_iss_isento, 
--  valor_iss_outras, 
--  ipi_incide_icms, 
--  cod_mensagem, 
--  cod_mensagemgradetributacao, 
--  cod_msgclassfiscal, 
--  cod_msggradetributacaodifal, 
--  cod_msggradefcpdiferido, 
--  cod_msggradepiscofins, 
--  frete_incide_icms, 
--  ipi_recuperavel, 
--  nft_nropeca, 
--  nft_producao, 
--  valor_ipi_recup, 
--  iss_recuperavel, 
--  valor_iss_recup, 
--  valor_icmsalterado, 
--  valor_ipialterado, 
--  perc_recuperavelipi, 
--  destino_reducaoipi, 
--  add_itemtotalnf, 
--  add_itemtotalprod, 
--  frete_incidebaseicmssub, 
--  seguro_incidebaseicmssub, 
--  outras_incidebaseicmssub, 
--  tipo_substtrib, 
--  valor_materialaplicado, 
--  cod_integr_contabil, 
--  auxiliar_string1, 
--  auxiliar_string2, 
--  aliq_retencao_cofins, 
--  valor_bcalc_retencao_cofins, 
--  valor_retencao_cofins, 
--  ipi_perc_reducaoaliq,
--  valor_bcalc_retencao_pis, 
--  valor_rateio_peso_liq, 
--  seguro_incidefcpdif, 
--  frete_incidefcpdif, 
--  valor_basefcpdif, 
--  naoconsiderar_iiporitem, 
--  redicms_incidebaseicmssub, 
--  tipo_calculoicmssub, 
--  tipo_aliqipi, 
--  icms_recuperavel, 
--  valor_icms_sub, 
--  valor_icms_sub_retido, 
--  base_icms_sub_retido,  
--  cod_msgitensnf,
--  destacar_cestfiscal,
--  aliq_difalinterestadual, 
--  valor_icmsinterpartremet, 
--  valor_icmsinterpartdest,
--  valor_icmsstretidoalterado, 
--  bcst_dimalqicmsop_addalqicmsst, 
--  tipo_incidebase_icmsst, 
--  valor_bcalc_icmsisento, 
--  cofins_recuperavel, 
--  valor_bcalc_icmsoutras, 
--  icms_incidebase_icms, 
--  tipo_incidebase_icms, 
--  valor_cofins_isento, 
--  valor_cofins_outras, 
--  desp_incidebase_icms, 
--  valor_icms_recup,
--  ii_tipobase,
--  ii_incidebase_icms, 
--  ii_incidebase_ipi, 
--  preco_vendatabela, 
--  valor_repasseicms, 
--  perc_repasseicms, 
--  valor_bcalc_repasseicms, 
--  qtd_materialaplicado, 
--  valor_uniticmsmataplicado, 
--  valor_unitipimataplicado, 
--  Nf.cod_moeda, 
--  valor_taxamoeda, 
--  cod_planocontas, 
--  cod_centrocusto, 
--  tipo_operacaomoeda, 
--  ipi_incidebaseicmssub, 
--  valor_bcalc_stndest, 
--  valor_stndest, 
--  valor_bcalc_opndest, 
--  valor_opndest, 
--  tipo_valor_ndest, 
--  redicms_incidebasepis, 
--  redicms_incidebasecofins, 